{{ $context := . }}
<div id='main'>
  <h1>Reference</h1>
  <div class='callout quickref'>
    <p>
      Quick reference guides:
      <a href="https://github.github.com/training-kit/">GitHub Cheat Sheet</a>
      |
      <a href="https://ndpsoftware.com/git-cheatsheet.html">Visual Git Cheat Sheet</a>
    </p>
  </div>
  <div class="callout all-commands">
    <a href="{{ relURL "docs/git#_git_commands" }}">Complete list of all commands</a>
  </div>
  <div class='reference-menu'>
    <div class='two-column'>
      <div class='column-left'>
        {{ range slice "setup" "projects" "snapshotting" "branching" "sharing" "inspection" "patching" "debugging" }}
        {{ $context.Scratch.Set "category_id" . }}
        {{ partial "ref/category.html" $context }}
        {{ end }}
      </div>
      <div class='column-right'>
        {{ range slice "guides" "email" "external" "admin" "server-admin" "plumbing" }}
        {{ $context.Scratch.Set "category_id" . }}
        {{ partial "ref/category.html" $context }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
