{{ $context := . }}
<a class="dropdown-trigger" id="reference-topics-trigger" data-panel-id="topics-dropdown" href="#">Topics ▾</a>
<div class='dropdown-panel right' id='topics-dropdown'>
  <div class='three-column'>
    <div class='column-left'>
      {{ range slice "setup" "projects" "snapshotting" "branching" "sharing" }}
      {{ $context.Scratch.Set "category_id" . }}
      {{ partial "ref/category.html" $context }}
      {{ end }}
    </div>
    <div class='column-middle'>
      {{ range slice "inspection" "patching" "debugging" "email" "external" "server-admin" }}
      {{ $context.Scratch.Set "category_id" . }}
      {{ partial "ref/category.html" $context }}
      {{ end }}
    </div>
    <div class='column-right'>
      {{ range slice "guides" "admin" "plumbing" }}
      {{ $context.Scratch.Set "category_id" . }}
      {{ partial "ref/category.html" $context }}
      {{ end }}
    </div>
  </div>
</div>
