<a class="dropdown-trigger" id="reference-versions-trigger" data-panel-id="previous-versions-dropdown" href="#">
  <% if revision?(@version.name)%>
    Version <%=  @version.name %>
     <% else %>
      Latest version
      <% end %> ▾ </a>
<span class="light d-flex"><%= @doc_file.name %> last updated in <%= @last.version.name %></span>
<div class='dropdown-panel left' id='previous-versions-dropdown'>
  <header>Changes in the <strong><%= @doc_file.name %></strong> manual</header>
  <ol class='reference-previous-versions'>
    <% @doc_file.version_changes.each do |v| %>
      <% if v[:changed] %>
        <li>
        <a href="/docs/<%= @doc_file.name %>/<%= v[:name] %>"><span class="version"><%= v[:name] %></span>
          <span class="diff">
            <% v[:diff][0].times do %>
              <img src="/images/icons/green-dot.png" />
            <% end %>
            <% v[:diff][1].times do %>
              <img src="/images/icons/red-dot.png" />
            <% end %>
            <% v[:diff][2].times do %>
              <img src="/images/icons/grey-dot.png" />
            <% end %>
          </span>
          <em class="date"><%= v[:time].strftime("%m/%d/%y") %></em>
        </a>
        </li>
      <% else %>
        <li class="no-change"><span><%=raw v[:name] %></span></li>
      <% end %>
    <% end %>
    <li>&nbsp;</li>
    <!-- <li><a class="more" href="#">See more previous releases →</a></li> -->
  </ol>
  <footer>
    <p>Check your version of git by running</p>
    <code class="command">git --version</code>
  </footer>
</div>
