{% assign versions = site.data.docs.pages[page.docname] %}
<a class="dropdown-trigger" id="reference-versions-trigger" data-panel-id="previous-versions-dropdown" href="#">
  {% if page['version'] and page['version'] != versions['latest-changes'] %}
    Version {{ page['version'] }}
  {% else %}
    Latest version
  {% endif %} ▾ </a>
<span class="light d-flex">{{ page.docname }} last updated in {{ versions['latest-changes'] }}</span>
<div class='dropdown-panel left' id='previous-versions-dropdown'>
  <header>Changes in the <strong>{{ page.docname }}</strong> manual</header>
  <ol class='reference-previous-versions'>
    {% for v in versions['page-versions'] %}
      {% if v.added %}
        <li>
        <a href="{{ "/docs/" | append: page.docname | append: "/" | append: v.name | relative_url }}"><span class="version">{{ v.name }}</span>
          <span class="diff">
            {% assign range = (1..v.added) %}
            {% for i in range %}
              <img src="{{ "/images/icons/green-dot.png" | relative_url }}" />
            {% endfor %}
            {% assign range = (1..v.removed) %}
            {% for i in range %}
              <img src="{{ "/images/icons/red-dot.png" | relative_url }}" />
            {% endfor %}
            {% assign padding = 8 | minus: v.added | minus: v.removed %}
            {% assign range = (1..padding) %}
            {% for i in range %}
              <img src="{{ "/images/icons/grey-dot.png" | relative_url }}" />
            {% endfor %}
          </span>
          <em class="date">{{ site.data.docs.versions[v.name].date }}</em>
        </a>
        </li>
      {% else %}
        <li class="no-change"><span>{{ v.name }} no changes</span></li>
      {% endif %}
    {% endfor %}
    <li>&nbsp;</li>
    <!-- <li><a class="more" href="#">See more previous releases →</a></li> -->
  </ol>
  <footer>
    <p>Check your version of git by running</p>
    <code class="command">git --version</code>
  </footer>
</div>
