<%- @section = "downloads" %>
<%- @subsection = "" %>

<div id="main">
  <h1>Download for Linux and Unix</h1>
  <p>It is easiest to install Git on Linux using the preferred package manager of your Linux distribution.</p>

  <h3>Debian/Ubuntu</h3>
  <code>$ apt-get install git</code>

  <h3>Fedora</h3>
  <code>$ yum install git</code> (up to Fedora 21)<br>
  <code>$ dnf install git</code> (Fedora 22 and later)

  <h3>Gentoo</h3>
  <code>$ emerge --ask --verbose dev-vcs/git</code>

  <h3>Arch Linux</h3>
  <code>$ pacman -S git</code>

  <h3>openSUSE</h3>
  <code>$ zypper install git</code>

  <h3>FreeBSD</h3>
  <code>$ cd /usr/ports/devel/git</code><br><code>$ make install</code>

  <h3>Solaris 11 Express</h3>
  <code>$ pkg install developer/versioning/git</code>
  
  <h3>OpenBSD</h3>
  <code>$ pkg_add git</code>

</div>
