<div id="main">
  <div class="two-column">
    <div class="column-left">

      <h1>Downloading Git</h1>

      <p>You are downloading for the <%= @platform.capitalize %> platform.</p>

      <p>You are downloading version X, 
      which is the most recent maintained build for this platform.
      It was released on Y.
      </p>

      <p>
      The current source code release is Z. 
      If you want the newer version, you can build it from <a href="https://github.com/git/git">the source code</a>.</p>

    </div>
    <div class="column-right">
      <div class="monitor <%= @platform %>">

        <h4>Your download is starting...</h4>
        <iframe width="1" height="1" frameborder="0" src="<%= @dl_link %>"></iframe>

        <p>&nbsp;</p>
        
        <em>If it does not, <a id="download-link" href="<%= @dl_link %>">click here</a> to download manually</em>

      </div>
    </div>
  </div>

  <h2>What's Next</h2>
  <p>Next: <a href="/book">Getting Started with Git</a></p>

</div>
