- @section = "downloads"
- @subsection = ""

#main
  %h1 Download for Linux and Unix
	%p It is easiest to install Git on Linux using the preferred package manager of your Linux distribution.
	
	%h3 Debian/Ubuntu
	%code $ apt-get install git-core
	
	%h3 Fedora
	%code $ yum install git
	
	%h3 Gentoo
	%code $ emerge --ask --verbose dev-vcs/git
	
	%h3 FreeBSD
	%code $ cd /usr/ports/devel/git<br />$ make install
	
	%h3 Solaris 11 Express
	%code $ pkg install developer/versioning/git
	
	%h3 OpenBSD
	%code $ pkg_add git