<div id="main">
  <h1>Download for Linux and Unix</h1>
  <p>It is easiest to install Git on Linux using the preferred package manager of your Linux distribution.</p>

  <h2>Debian/Ubuntu</h2>
  <pre>$ apt-get install git-core</pre>

  <h2>Fedora</h2>
  <pre>$ yum install git-core</pre>

  <h2>Gentoo</h2>
  <pre>$ emerge --ask --verbose dev-vcs/git</pre>

  <h2>FreeBSD</h2>
  <pre>$ cd /usr/ports/devel/git
$ make install</pre>

  <h2>Solaris 11 Express</h2>
  <pre>$ pkg install developer/versioning/git</pre>

</div>
