- @section = "downloads"
- @subsection = ""

- content_for :sidebar do
  %div.callout
    %p
      The entire <strong><a href="#">Pro Git book</a></strong> written by Scott Chacon is available to <a href="#">read online for free</a>. Dead tree versions are available on <a href="#">Amazon.com</a>.

%div#main
  %h1 Downloads

  %h2 Git Installers

  %p
    Git is easy to install with a pre-built binary or by compiling the source yourself. Installers are available for Windows, Mac, Linux, and Solaris.

  %p
    %strong= link_to "View Git Installers →", "/downloads/installers"

  %h2 GUI Clients

  %p
    Git comes with a built-in GUI (<strong>git-gui</strong>, <strong>gitk</strong>), but there are several third-party tools for users looking for platform-specific experience.

  %p
    %strong= link_to "View GUI Clients →", "/downloads/guis"


  %h2 Logos

  %p Various Git logos in PNG (bitmap) and EPS (vector) formats are available for use in online and print projects. 

  %p
    %strong= link_to "View Logos →", "/downloads/guis"
