//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
// vendor/assets/stylesheets directory can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
// files in this directory. Styles in this file should be added after the last require_* statement.
// It is generally better to create a new file per style scope.

$baseurl: "{{ .Site.BaseURL }}{{ if (and (ne .Site.BaseURL "/") (ne .Site.BaseURL "")) }}/{{ end }}";
@import 'normalize';
@import 'mixins';
@import 'variables';
@import 'layout';
@import 'typography';
@import 'downloads';
@import 'search';
@import 'front-page';
@import 'sidebar';
@import 'reference';
@import 'forms';
@import 'man-pages';
@import 'book';
@import 'book2';
@import 'lists';
@import 'about';

code {
  display: inline;
  padding: 0 5px;
}

pre {
  background-color: #fff;
  border: solid 1px #efeee6;
  border-radius: 3px;
  color: var(--orange);
  display: block;
  font-family: $fixed-width-font-family;
  font-variant-ligatures: none;
  line-height: 18px;
  margin-bottom: 1em;
  overflow: auto;
  padding: 10px 15px 13px;
}

.d-flex{
  display: flex;
}

html {
  --orange:                       #{$orange};
  --orange-darker-5:              #{darken($orange, 5%)};
  --blue:                         #{$blue};
  --font-color:                   #{$font-color};
  --aside-font-color:             #{lighten($font-color, 20%)};
  --light-font-color:             #{$light-font-color};
  --light-font-color-darker-10:   #{darken($light-font-color, 10%)};
  --light-font-color-darker-25:   #{darken($light-font-color, 25%)};
  --light-font-color-darker-35:   #{darken($light-font-color, 35%)};
  --light-font-color-darker-55:   #{darken($light-font-color, 55%)};
  --light-font-color-lighter-20:  #{lighten($light-font-color, 20%)};
  --link-color:                   #{$link-color};
  --link-hover-color:             #{lighten($link-color, 10%)};
  --fixed-width-font-color:       #{$fixed-width-font-color};
  --base-border-color:            #{$base-border-color};
  --base-border-color-darker-8:   #{darken($base-border-color, 8%)};
  --base-border-color-lighter-10: #{lighten($base-border-color, 10%)};
  --callout-color:                #{$callout-color};
  --highlight-bg-color:           #{$highlight-bg-color};

  --black-3:                      #{$black-3};
  --main-bg:                      #{$main-bg};
  --button-bg-color:              #{$button-bg-color};
  --button-bg-hover-color:        #{$button-bg-hover-color};
}
