//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
// vendor/assets/stylesheets directory can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
// files in this directory. Styles in this file should be added after the last require_* statement.
// It is generally better to create a new file per style scope.

@import 'normalize';
@import 'mixins';
@import 'variables';
@import 'layout';
@import 'typography';
@import 'downloads';
@import 'search';
@import 'front-page';
@import 'sidebar';
@import 'reference';
@import 'forms';
@import 'man-pages';
@import 'book';
@import 'book2';
@import 'lists';

code {
  display: inline;
  padding: 0 5px;
}

pre {
  background-color: #fff;
  border: solid 1px #efeee6;
  border-radius: 3px;
  color: $orange;
  display: block;
  font-family: $fixed-width-font-family;
  line-height: 18px;
  margin-bottom: 1em;
  overflow: auto;
  padding: 10px 15px 13px;
}

.d-flex{
  display: flex;
}
