@mixin mode($mode: light, $theme: "") {
    // Palette
    $orange:                  #f14e32;
    $blue:                    #009099;
    $font-color:              #4e443c;
    $aside-font-color:        lighten($font-color, 20%);
    $light-font-color:        #9a9994;
    $link-color:              #0388a6;
    $fixed-width-font-color:  #4e443c;
    $button-bg-color:         rgba(223, 221, 213, 0.33);
    $button-bg-hover-color:   rgba(250, 250, 250, 0.9);
    $base-border-color:       #d8d7cf;
    $callout-color:           #e9e8e0;
    $highlight-bg-color:      #eee0b5;
    $black-3:                 #333333;
    $main-bg:                 #fcfcfa;

    @if $mode == dark {
        $orange:                  #d7834f;
        $blue:                    #007a7e;
        $font-color:              #b3b1b1;
        $aside-font-color:        darken($font-color, 10%);
        $light-font-color:        #bdbbb0;
        $link-color:              #5facaf;
        $fixed-width-font-color:  #afa7a0;
        $button-bg-hover-color:   rgba(223, 221, 213, 0.6);
        $base-border-color:       #b3b2a7;
        $callout-color:           #555555;
        $highlight-bg-color:      #7d724f;
        $black-3:                 #cccccc;
        $main-bg:                 #333333;
    }

    :root#{$theme} {
        --orange:                       #{$orange};
        --orange-darker-5:              #{darken($orange, 5%)};
        --blue:                         #{$blue};
        --font-color:                   #{$font-color};
        --aside-font-color:             #{$aside-font-color};
        --light-font-color:             #{$light-font-color};
        --light-font-color-darker-10:   #{darken($light-font-color, 10%)};
        --light-font-color-darker-25:   #{darken($light-font-color, 25%)};
        --light-font-color-darker-35:   #{darken($light-font-color, 35%)};
        --light-font-color-darker-55:   #{darken($light-font-color, 55%)};
        --light-font-color-lighter-20:  #{lighten($light-font-color, 20%)};
        --link-color:                   #{$link-color};
        --link-hover-color:             #{lighten($link-color, 10%)};
        --fixed-width-font-color:       #{$fixed-width-font-color};
        --button-bg-color:              #{$button-bg-color};
        --button-bg-hover-color:        #{$button-bg-hover-color};
        --base-border-color:            #{$base-border-color};
        --base-border-color-darker-8:   #{darken($base-border-color, 8%)};
        --base-border-color-lighter-10: #{lighten($base-border-color, 10%)};
        --callout-color:                #{$callout-color};
        --highlight-bg-color:           #{$highlight-bg-color};

        --black-3:                      #{$black-3};
        --main-bg:                      #{$main-bg};
    }
}

@include mode
@include mode($mode: dark, $theme: '[data-theme="dark"]')

@media screen and (prefers-color-scheme: dark) {
    @include mode($mode: dark)
    @include mode($mode: light, $theme: '[data-theme="light"]')
}

#dark-mode-button {
    display: none;
    z-index: 10;
    position: fixed;
    right: 20px;
    bottom: 2rem;
    border-radius: 50px;
    border: 2px solid transparent;
    font-size: x-large;
    padding: 10px 5px 10px 5px;
    background-color: var(--button-bg-color);
    &:hover {
        background-color: var(--button-bg-hover-color);
    }
}
