@import "variables";
@import "mixins";

#front-content {
  @include clearfix;
  overflow: visible;

  #front-navigation {
    float: left;
    width: 618px;
    margin-bottom: 24px;
    border-right: solid 1px var(--base-border-color);
  }
}

#front-nav {
  @include clearfix;

  ul {
    @extend .unstyled !optional;
    padding-top: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 40px;
    margin-bottom: 40px;

    li {
      width: 280px;
    }
  }

  a {
    display: grid;
    grid-template-columns: 74px 1fr;
    grid-template-rows: auto auto;
    column-gap: 1rem;
    align-items: start;

    img {
      grid-row: 1 / -1;
      grid-column: 1;
      transition-duration: 0.3s;
      transition-property: opacity;
      opacity: 0.4;
      width: 38px;
      height: 38px;
      background-color: #cdcdc5;
      border-radius: 40%;
      padding: 18px;

      :root[data-theme="dark"] & {
        filter: invert(1);
        background-color: #9d9c9a;
      }
      @media screen and (prefers-color-scheme: dark) {
        :root:not([data-theme="light"]) & {
          filter: invert(1);
          background-color: #9d9c9a;
        }
      }
    }

    h3 {
      font-size: 18px;
      font-weight: bold;
      color: var(--orange);
      grid-row: 1;
      grid-column: 2;
    }

    p {
      grid-row: 2;
      grid-column: 2;
      font-size: 13px;
      line-height: $base-line-height * 0.8;
      color: var(--font-color);
    }
  }

  a:hover {
    img {
      opacity: 0.7;
    }

    h3 {
      color: var(--orange-darker-5);
    }
  }
}

#front-book {
  float: left;
  width: 590px;
  padding-top: 20px;
  border-top: solid 1px var(--base-border-color);

  img {
    float: left;
    margin-right: 20px;
  }

  p {
    margin-top: 16px;
  }
}

#front-downloads {
  float: right;
  width: 295px;
  position: relative;

  .downloads-box {
    padding: 20px;
    background: var(--versions-footer-bg-color);
    outline: 1px solid #f0c8bb;

    :root[data-theme="dark"] & {
      outline-color: var(--orange);
    }
    @media screen and (prefers-color-scheme: dark) {
      :root:not([data-theme="light"]) & {
        outline-color: var(--orange);
      }
    }

    border-radius: 4px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 15px;
      width: 80px;
      height: 80px;
      background: url('#{$baseurl}images/logos/downloads/Git-Icon-1788C.png') no-repeat;
      background-size: contain;
      opacity: 0.55;
    }
  }

  .release-info {
    margin-bottom: 18px;
    padding: 0 0 18px 100px;
    border-bottom: 1px solid var(--base-border-color);

    h4 {
      font-weight: normal;
      font-size: 16px;
    }

    .version {
      display: block;
      margin-bottom: 6px;
      font-size: 28px;
      font-weight: bold;
    }

    a {
      font-size: 12px;
      text-decoration: underline;
    }

    time {
      font-size: 12px;
    }
  }

  a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.2s;
  }

  #download-link {
    background: var(--orange);
    margin-bottom: 10px;
    color: white;
  }

  .github-link {
    background: transparent;
    color: var(--font-color);
    border: 1px solid var(--base-border-color);
    font-weight: normal;
    font-size: 13px;
    padding: 10px 16px;
  }
}

@property --floor {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

@property --seed {
  syntax: '<integer>';
  initial-value: #{random(1000)};
  inherits: true;
}

#companies-projects {
  border-top: solid 1px var(--base-border-color);

  ul {
    @extend .unstyled !optional;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: center;
    justify-items: center;

    li {
      margin: 0 1em;

      $num: 11;
      $prime: 97;

      @for $i from 1 through $num {
        &:nth-child(#{$i}) {
          --prod: calc(var(--seed) * #{$i} * #{$prime});
          --floor: calc((var(--prod) / #{$num}) - 0.5);

          order: calc(var(--prod) - (#{$num} * var(--floor)));
        }
      }
    }

    a {
      opacity: 0.85;
      transition-duration: 0.3s;
      transition-property: opacity;

      &:hover {
        opacity: 1;
      }
    }

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

// Breakpoint ----------------
@media (max-width: $default) {
  #front-content {
    display: flex;

    #front-navigation {
      width: 50%;

      #front-nav {
        ul {
          padding: 0 1rem 0 0;

          li {
            margin-bottom: 1rem !important;
            margin-right: 0 !important;
          }
        }
      }

      #front-book {
        width: unset;
      }
    }

    #front-downloads {
      width: calc(50% - 20px);
      padding-left: 20px;
    }
  }

  #companies-projects {
    ul {
      // TODO
    }

    li {
      // TODO
    }
  }
}

// Mobile
@media (max-width: $mobile-m) {
  #front-content {
    flex-direction: column-reverse;

    #front-navigation,
    #front-downloads {
      width: 100%;
      border-right: none;
    }

    #front-downloads {
      padding-left: 0;
    }

    #front-navigation {
      #front-nav {
        ul {
          padding: 0 1rem;
        }
      }

      #front-book {
        @include flex-center;
        align-items: center;
      }
    }

    #front-downloads {
      border-bottom: 1px solid var(--base-border-color);
      margin-bottom: 2rem;
      padding-bottom: 1rem;

      table {
        position: relative;
      }

      table {
        top: 0;
      }
    }
  }
}
