@media print {
  .inner {
    // The `position` of the `inner` class is defined as `relative`, which
    // causes funny issues when printing, for example tens of empty pages in
    // the middle. Let's suppress that.
    position: inherit;

    width: inherit;
    margin-bottom: 0;
  }

  #main {
    margin-bottom: 0;

    /* Improve readability */
    line-height: 1.4;
    text-align: justify;

    /* Ensure it uses full page width */
    width: 100%;
    border: none;
    padding: 0;
  }

  footer {
    display: none;
  }

  aside, .sidebar-btn, #search-container, #reference-version, #dark-mode-button, .site-source {
    display: none;
  }

  section {
    break-inside: avoid-page;
  }

  div#main {
    box-decoration-break: clone;
  }

  .pdf-link, #dark-mode-button {
    display: none !important;
  }

  .cheat-sheet {
    font-size: 8pt;

    section {
      border: 1px solid black;
      display: block;
      gap: 0;
      margin-bottom: 8px;
      padding: 8px;

      .item {
        background: none;
        border: none;

        h3 {
          margin-bottom: 0;
        }

        code {
          background: none;
          line-height: inherit;
          padding: 1px;
          display: block;
          margin-bottom: 2px;
        }
      }
    }
    .commit-reference {
      background: none;
      border-left: 1px solid black;

      dl {
        gap: inherit;

        dt,dt::before,dd {
          line-height: inherit;
          font-size: 0.7em !important;
        }
      }
    }

    p {
      font-size: inherit;
      line-height: inherit;
      margin: 1px;
    }
  }
}

@media print and (min-width: 231mm) {
  div#content {
    width: 297mm;
  }

  header {
    padding: 0;
    #logo img {
      max-height: 23px;
      width: auto;
      height: auto;
    }
  }

  /* landscape orientation */
  @page {
    size: A4 landscape;
    width: 297mm;
    height: 210mm;
    margin: 1cm;
  }

  .cheat-sheet {
    /* Multi-column layout */
    column-count: 4;
    column-gap: 1em;
    margin-top: 20px;

    h1 {
      column-span: all;
      position: absolute;
      top: -10px;
      width: 100%;
      font-size: 16px;
      text-align: center;
    }

    div.item {
      display: block;
      width: 100%;
      padding: 1px;
      margin-bottom: 1px;
      break-inside: avoid;

      label {
        margin-top: 2px;
      }
    }

    /* Manual column break controls */
    .print-break-before {
      break-before: column;
    }
  }
}

div#main .pdf-link img {
  float: right;
  height: 36px;
}
