@import "variables";
@import "mixins";

hr.sidebar {
  width: 218px;
  height: 12px;
  margin-bottom: 2em;
  border: 0 !important;
  @include background-image-2x($baseurl + "images/sidebar-divider", 218px, 12px);
}

aside.sidebar {
  font-size: 13px !important;
  line-height: $base-line-height * 0.75;
  p {
    font-size: 13px !important;
    line-height: $base-line-height * 0.75;
  }

  .callout {
    padding: 20px;
    color: var(--aside-font-color);
    background-color: #ebe9e1;
    background-color: rgba(223, 221, 213, 0.33);
    @include border-radius(3px);

    p {
      margin-bottom: 0;
    }
  }
}
// Floating sidebar button for tablet and smaller screens
aside.sidebar.active {
    @include responsive-sidebar-ui;
}
.sidebar-btn {
  display: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: opacity 0.2s ease;
  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(350deg);
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

// Breakpoint ----------------
@media (max-width: $default) {
  .sidebar-btn {
    @include background-image-2x($baseurl + "images/icons/sidebar", 24px, 24px, center center);
    display: block;
  }
  .sidebar-btn:focus + .sidebar, .sidebar:focus-within {
    @include responsive-sidebar-ui;
  }
  aside{
    &.sidebar {
      position: fixed;
      top: 1em;
      -webkit-transform: translateX(-105.5%);
      transform: translateX(-105.5%);
      transition: transform 0.3s, background-color 0.3s;
      padding: 20px;
      height: 90vh;
      overflow-y: scroll;
      z-index: 1001 !important;
    }
  }
}
