@import "variables";
@import "mixins";

hr.sidebar {
  width: 218px;
  height: 12px;
  margin-bottom: 2em;
  border: 0 !important;
  @include background-image-2x($baseurl + "images/sidebar-divider", 218px, 12px);
}

aside {
  width: 218px;
  margin-bottom: 35px;
  top: 0;
  max-height: 100vh;
  /* align with the top of the content */
  padding-top: 46px;
}

#toc {
  border: 1px solid var(--main-border);
  padding: .5em;
  margin: 0 -1px 0 0; /* eat the #main border */
  border-right: none;
  z-index: 100;
  position: relative;
  background: var(--main-bg);

  summary {

  }

  ul {
    list-style-type: square;

    li {
      /* use margin instead of line height for spacing because sometimes the
         headings wrap onto multiple lines */
      line-height: 1.2em;
      margin: 6px 0;
      font-size: 0.8em;
    }
  }
}

aside.sidebar {
  line-height: $base-line-height * 0.75;
  p {
    line-height: $base-line-height * 0.75;
  }

  .callout {
    padding: 20px;
    color: var(--aside-font-color);
    background-color: #ebe9e1;
    background-color: rgba(223, 221, 213, 0.33);
    @include border-radius(3px);

    p {
      margin-bottom: 0;
    }
  }
}

// Navigation
aside nav ul {
  margin-bottom: 1.4em;
  margin-left: 0;
  font-size: 16px;
  font-weight: bold;
  list-style: none;

  li {
    margin-bottom: 0.5em;

    a {
      color: var(--nav-link-color);

      &.active, &:hover {
        color: var(--orange);
      }
    }

    ul {
      display: none;
      margin-top: 0.3em;
      margin-left: 20px;
      font-size: 13px;
      font-weight: normal;

      li {
        margin-bottom: 0;

        a.active {
          font-weight: bold;
        }
      }

      &.expanded {
        display: block;
      }
    }
  }
}

// Floating sidebar button for tablet and smaller screens
aside.sidebar.active {
    @include responsive-sidebar-ui;
}
.sidebar-btn {
  display: none;
}

aside details,
aside nav {
  padding: 0 1.5em;
}

// Breakpoint ----------------
@media (max-width: $default) {
  .sidebar-btn {
    @include background-image-2x($baseurl + "images/icons/sidebar", 24px, 24px, left center);
    @include border-top-right-radius(5px);
    @include border-bottom-right-radius(5px);
    background-color: var(--black-3) !important;
    display: block;
    position: fixed;
    padding: 2rem 0rem;
    z-index: 1;
    border: none;
    left: 0;
    width: 1.6rem;
  }
  .sidebar-btn:focus + .sidebar, .sidebar:focus-within {
    @include responsive-sidebar-ui;
  }
  aside{
    &.sidebar {
      position: fixed;
      top: 1em;
      -webkit-transform: translateX(-105.5%);
      transform: translateX(-105.5%);
      transition: transform 0.3s, background-color 0.3s;
      padding: 20px;
      height: 90vh;
      overflow-y: scroll;
      z-index: 1001 !important;
    }
  }
}
