@import "variables";
@import "mixins";
@import "layout";

hr.sidebar {
  width: 218px;
  height: 12px;
  margin-bottom: 2em;
  border: 0 !important;
  @include background-image-2x("/images/sidebar-divider", 218px, 12px);
}

aside.sidebar {
  font-size: 13px !important;
  line-height: $base-line-height * 0.75;
  p {
    font-size: 13px !important;
    line-height: $base-line-height * 0.75;
  }

  .callout {
    padding: 20px;
    color: lighten($font-color, 20%);
    background-color: #ebe9e1;
    background-color: rgba(223, 221, 213, 0.33);
    @include border-radius(3px);

    p {
      margin-bottom: 0;
    }
  }
}
// Floating sidebar button for tablet and smaller screens
aside.sidebar.active {
    @include responsive-sidebar-ui;
}
.sidebar-btn {
  display: none;
}

// Breakpoint ----------------
@media (max-width: $default) {
  .sidebar-btn {
    @include background-image-2x("/images/icons/sidebar", 24px, 24px, left center);
    @include border-top-right-radius(5px);
    @include border-bottom-right-radius(5px);
    background-color: $black-3 !important;
    display: block;
    position: fixed;
    padding: 2rem 0.4rem;
    z-index: 1;
    border: none;
    left: 0;
    width: 1.6rem;
    &:focus + .sidebar {
      @include responsive-sidebar-ui;
    }
  }
  aside{
    &.sidebar {
      position: fixed;
      top: 1em;
      -webkit-transform: translateX(-105.5%);
      transform: translateX(-105.5%);
      transition: transform 0.3s, background-color 0.3s;
      padding: 20px;
      height: 90vh;
      overflow-y: scroll;
      z-index: 1001 !important;
    }
  }
}
