// breakpoints
$mobile-xs: 480px;
$mobile-s: 576px;
$mobile-m: 640px;
$tablet: 768px;
$default:  940px;
$page-width: $default;

$base-font-family-fallback: Roboto Slab, DejaVu Serif, Georgia, Times New Roman, sans-serif;
$base-font-family: Adelle, $base-font-family-fallback;
$base-font-size:   14px;
$base-line-height: 22px;

$fixed-width-font-family: Courier, monospace;
$fixed-width-line-height: 18px;