html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

p {
  margin: 0 0 11px;
  font-family: "adelle", Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 22px; }
  p small {
    font-size: 12px;
    color: #9a9994; }

a {
  color: #0388a6;
  text-decoration: none;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  a:hover {
    color: #04b1d8; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "adelle", Georgia, "Times New Roman", serif;
  font-weight: normal;
  color: #4e443c;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #9a9994; }

h1 {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 0.4em; }
  h1 small {
    font-size: 18px; }

h2 {
  font-size: 18px;
  line-height: 44px;
  color: #f24e32;
  font-weight: bold; }
  h2 small {
    font-size: 18px; }

h3 {
  line-height: 33px;
  font-size: 16px;
  font-weight: bold; }
  h3 small {
    font-size: 14px; }

h4, h5, h6 {
  line-height: 22px; }

h4 {
  font-size: 14px;
  font-weight: bold; }
  h4 small {
    font-size: 12px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 11px;
  color: #9a9994;
  text-transform: uppercase; }

ul, ol {
  padding: 0;
  margin: 0 0 11px 25px; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  line-height: 22px; }

ul.unstyled, ul#reference-version, ul.content-list, ul.video-thumbnails, ul.books-list,
ol.unstyled,
ol#reference-version,
ol.reference-previous-versions,
ol.content-list {
  margin-left: 0;
  list-style: none; }

dl {
  margin-bottom: 22px; }

dt,
dd {
  line-height: 22px; }

dt {
  font-weight: bold;
  line-height: 21px; }

dd {
  margin-left: 11px; }

.dl-horizontal dt {
  float: left;
  clear: left;
  width: 120px;
  text-align: right; }
.dl-horizontal dd {
  margin-left: 130px; }

hr {
  margin: 22px 0;
  border: 0;
  border-top: 1px solid #d8d7cf; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.muted {
  color: #9a9994; }

abbr[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help; }

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 22px;
  border-left: 5px solid #d8d7cf; }
  blockquote p {
    margin-bottom: 0; }
  blockquote small {
    display: block;
    line-height: 22px;
    color: #9a9994; }
    blockquote small:before {
      content: '\2014 \00A0'; }
  blockquote.pull-right {
    float: right;
    padding-left: 0;
    padding-right: 15px;
    border-left: 0;
    border-right: 5px solid #d8d7cf; }
    blockquote.pull-right p,
    blockquote.pull-right small {
      text-align: right; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""; }

address {
  display: block;
  margin-bottom: 22px;
  line-height: 22px;
  font-style: normal; }

.light {
  color: #9a9994; }

small {
  font-size: 100%; }

cite {
  font-style: normal; }

body {
  font-size: 14px;
  line-height: 22px;
  font-family: "adelle", Georgia, "Times New Roman", serif;
  color: #4e443c;
  background: #f0efe7 url(/images/bg/body.jpg); }

#wrapper {
  width: 940px;
  margin: 0 auto; }

#content-wrapper {
  overflow: hidden;
  *zoom: 1; }

aside {
  width: 218px;
  float: left; }

#content {
  width: 702px;
  float: right; }

#main {
  background-color: #fcfcfa;
  border: solid 1px #e2e0d8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 22px; }
  #main .two-column {
    overflow: hidden;
    *zoom: 1; }
    #main .two-column .column-left {
      width: 46%;
      float: left; }
    #main .two-column .column-right {
      width: 46%;
      float: right; }
  #main .callout {
    background-color: #e9e8e0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 14px 4px 14px;
    margin-bottom: 1.4em; }
    #main .callout p {
      margin-bottom: 0; }

header {
  margin-top: 14px;
  position: relative;
  padding-bottom: 30px; }

aside nav ul {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  margin-left: 0;
  margin-bottom: 1.4em; }
  aside nav ul li {
    margin-bottom: 0.5em; }
    aside nav ul li a {
      display: block;
      color: #413932; }
      aside nav ul li a.active, aside nav ul li a:hover {
        color: #f24e32; }
    aside nav ul li ul {
      margin-top: 0.3em;
      margin-left: 20px;
      font-weight: normal;
      font-size: 13px; }
      aside nav ul li ul li {
        margin-bottom: 0; }
        aside nav ul li ul li a.active {
          font-weight: bold; }

a.dropdown-trigger {
  padding: 4px 5px;
  border: solid 1px transparent; }
  a.dropdown-trigger.active {
    position: relative;
    z-index: 200;
    background-color: #fff;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    -ms-border-top-left-radius: 3px;
    -khtml-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    -ms-border-top-right-radius: 3px;
    -khtml-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    border: solid 1px #d8d7cf;
    border-bottom: none; }

.dropdown-panel {
  display: none;
  background-color: #fff;
  border: solid 1px #d8d7cf;
  position: absolute;
  z-index: 199;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px #cccccc;
  -webkit-box-shadow: 0 1px 2px #cccccc;
  -o-box-shadow: 0 1px 2px #cccccc;
  box-shadow: 0 1px 2px #cccccc; }
  .dropdown-panel.left {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -o-border-top-left-radius: 0;
    -ms-border-top-left-radius: 0;
    -khtml-border-top-left-radius: 0;
    border-top-left-radius: 0; }
  .dropdown-panel.right {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    -o-border-top-right-radius: 0;
    -ms-border-top-right-radius: 0;
    -khtml-border-top-right-radius: 0;
    border-top-right-radius: 0; }

footer {
  overflow: hidden;
  *zoom: 1;
  margin-top: 35px;
  border-top: solid 1px #d8d7cf;
  padding: 20px 0 40px 0;
  color: #9a9994;
  font-size: 12px;
  line-height: 15.4px; }
  footer a {
    color: #403f3c; }
    footer a:hover {
      color: #0b0b0a; }
  footer .site-source {
    float: left;
    background: transparent url(/images/icons/code.png) 0 2px no-repeat;
    padding-left: 46px; }
  footer .sfc-member {
    float: right;
    text-align: right; }

hr.sidebar {
  border: none !important;
  height: 12px;
  width: 218px;
  background: transparent url(/images/sidebar-divider.png) 0 0 no-repeat;
  margin-bottom: 2em; }

aside.sidebar {
  font-size: 13px !important;
  line-height: 16.5px; }
  aside.sidebar p {
    font-size: 13px !important;
    line-height: 16.5px; }
  aside.sidebar .callout {
    background-color: #ebe9e1;
    background-color: rgba(223, 221, 213, 0.33);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    color: #887668; }
    aside.sidebar .callout p {
      margin-bottom: 0; }

#reference-version {
  position: relative;
  background-color: #ebe9e1;
  background-color: rgba(223, 221, 213, 0.33);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 12px 6px 12px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: bold; }
  #reference-version .light {
    font-weight: normal; }
  #reference-version a {
    font-weight: bold;
    position: relative;
    top: -5px; }
    #reference-version a#reference-versions-trigger {
      float: left;
      margin-right: 6px; }
    #reference-version a#reference-topics-trigger {
      float: right; }
  #reference-version .dropdown-panel {
    top: 33px; }

#previous-versions-dropdown {
  padding-top: 6px; }
  #previous-versions-dropdown footer {
    margin-top: 0;
    padding: 6px 12px;
    background-color: #eae9e0;
    font-weight: normal;
    font-size: 11px;
    color: #4e443c; }

#topics-dropdown {
  right: 12px;
  padding: 12px;
  width: 650px;
  font-weight: normal;
  line-height: 1; }
  #topics-dropdown ul {
    margin-bottom: 0; }
  #topics-dropdown li {
    line-height: 17.6px; }
  #topics-dropdown h3 {
    font-size: 13px; }
  #topics-dropdown a {
    font-weight: normal;
    padding: 0; }
  #topics-dropdown .three-column {
    overflow: hidden;
    *zoom: 1; }
    #topics-dropdown .three-column .column-left {
      width: 31%;
      float: left;
      padding-right: 3%; }
    #topics-dropdown .three-column .column-middle {
      width: 31%;
      float: left;
      padding-right: 3%; }
    #topics-dropdown .three-column .column-right {
      width: 31%;
      float: left; }

ol.reference-previous-versions {
  margin-bottom: 0; }
  ol.reference-previous-versions li a {
    overflow: hidden;
    *zoom: 1;
    display: block;
    padding: 2px 12px; }
    ol.reference-previous-versions li a:hover {
      background-color: #edf7f8; }
    ol.reference-previous-versions li a.more {
      font-size: 11px; }
    ol.reference-previous-versions li a span.version {
      float: left;
      min-width: 40px; }
    ol.reference-previous-versions li a span.changes {
      padding-left: 18px;
      padding-right: 16px;
      font-size: 11px;
      font-weight: normal;
      color: #4e443c;
      float: left; }
      ol.reference-previous-versions li a span.changes.yes {
        background: transparent url(/images/icons/change-yes.png) 10px 8px no-repeat; }
      ol.reference-previous-versions li a span.changes.no {
        background: transparent url(/images/icons/change-no.png) 10px 8px no-repeat;
        color: #9a9994; }
    ol.reference-previous-versions li a em.date {
      float: right;
      font-size: 11px;
      color: #9a9994;
      font-weight: normal; }

.callout.quickref {
  background: #e9e8e0 url(/images/icons/document.png) 14px 7px no-repeat;
  padding-left: 36px !important; }
  .callout.quickref a {
    font-weight: bold; }

.callout.ref-manual {
  background: #e9e8e0 url(/images/icons/book.png) 24px 20px no-repeat;
  padding: 20px 30px 20px 100px !important; }
  .callout.ref-manual h3 {
    font-size: 18px; }
  .callout.ref-manual p {
    font-size: 15px;
    line-height: 1.3em; }

p.quickref {
  background: transparent url(/images/icons/document.png) 0 0 no-repeat;
  padding-left: 22px !important;
  margin-top: -0.4em;
  margin-bottom: 1em; }
  p.quickref a {
    font-weight: bold; }

\::-webkit-input-placeholder {
  color: #9a9994 !important; }

input:-moz-placeholder {
  color: #9a9994 !important; }

input.inactive {
  color: #9a9994 !important; }

input.active {
  color: #4e443c !important; }

input, textarea {
  font-family: "adelle", Georgia, "Times New Roman", serif;
  font-size: 14px;
  outline: none; }

form#search {
  position: absolute;
  right: 0;
  top: 10px;
  width: 262px;
  padding-left: 32px;
  background: #fcfcfa url(/images/icons/search.png) 10px 50% no-repeat;
  border: solid 1px #ceccc5;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: inset 0 1px 4px #dddddd;
  -webkit-box-shadow: inset 0 1px 4px #dddddd;
  -o-box-shadow: inset 0 1px 4px #dddddd;
  box-shadow: inset 0 1px 4px #dddddd; }
  form#search input {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border: none;
    width: 100%;
    background-color: transparent;
    color: #4e443c;
    padding: 6px 0 2px 0; }
  form#search.focus {
    border-color: #009099;
    background-color: #fff; }

.man-page p em {
  color: #4e443c;
  font-family: Courier, monospace;
  font-weight: bold;
  font-style: normal; }
.man-page p tt {
  background-color: #eee0b5;
  padding: 2px;
  font-family: Courier, monospace; }
.man-page p.nutshell {
  background-color: rgba(223, 221, 213, 0.33);
  padding: 1em; }
.man-page div.verseblock-content {
  background-color: rgba(223, 221, 213, 0.33);
  padding: 1em;
  margin-bottom: 1em;
  white-space: pre;
  color: #4e443c;
  font-family: Courier, monospace;
  line-height: 18px; }
  .man-page div.verseblock-content em {
    font-weight: bold;
    font-style: normal; }
.man-page .listingblock .content {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 15px 13px 15px;
  margin-bottom: 1em;
  background-color: #fff;
  border: solid 1px #efeee6;
  color: #f24e32;
  font-family: Courier, monospace;
  line-height: 18px; }
.man-page .admonitionblock table {
  margin-bottom: 1em; }
  .man-page .admonitionblock table td {
    padding: 0 1em; }
    .man-page .admonitionblock table td .title {
      font-weight: bold;
      color: #f24e32; }
    .man-page .admonitionblock table td:first-child {
      border-right: solid 2px #d8d7cf; }
.man-page #footer {
  color: #9a9994; }

ol.book-toc {
  list-style: none;
  margin-left: 0; }
  ol.book-toc li.chapter {
    margin-bottom: 1em; }
  ol.book-toc ol {
    list-style: none; }
  ol.book-toc h2 {
    color: #4e443c; }
  ol.book-toc a {
    padding-left: 4px; }

.content-list, ul.video-thumbnails, ul.books-list {
  margin-left: 0; }
  .content-list li, ul.video-thumbnails li, ul.books-list li {
    margin-bottom: 1em; }
  .content-list .description, ul.video-thumbnails .description, ul.books-list .description {
    font-size: 12px;
    line-height: 15.4px; }

ul.video-thumbnails {
  margin-top: 1em; }
  ul.video-thumbnails li {
    margin-bottom: 2em; }
    ul.video-thumbnails li img {
      display: block;
      margin-bottom: 5px;
      padding: 3px;
      border: solid 1px #d8d7cf; }

ul.books-list li {
  overflow: hidden;
  *zoom: 1;
  padding-left: 125px; }
  ul.books-list li img {
    width: 109px;
    margin-left: -125px;
    margin-right: -125px;
    float: left;
    border: solid 1px #b7b7b7; }
    ul.books-list li img.creative-commons {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      float: none;
      border: none;
      margin-top: 2em;
      display: block; }
