<div class="callout">
  <p>The entire <strong><a href="/book">Pro Git book</a></strong> written
  by Scott Chacon and Ben Straub is available to <a href="/book">read online for free</a>.
  Dead tree versions are available on <a href="http://www.amazon.com/Pro-Git-Scott-Chacon/dp/1484200772?ie=UTF8&camp=1789&creative=9325&creativeASIN=1430218339&linkCode=as2&tag=git-sfconservancy-20">Amazon.com</a>.
  </p>
</div>
