<div class="callout">
  <p>The entire <strong><a href="/book">Pro Git book</a></strong> written
  by Scott Chacon is available to <a href="/book">read online for free</a>.
  Dead tree versions are available on <a href="http://www.amazon.com/gp/product/1430218339?ie=UTF8&tag=prgi-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1430218339">Amazon.com</a>.</>
</div>
