<footer class="flex flex-column flex-row-l justify-between mh3 mh4-m mh5-l f6 mt4 pt4 pb5 mid-gray bt b--moon-gray">
  <div>
    Git is a member of <a href="/sfc">Software Freedom Conservancy</a>.
  </div>
  <div class="pv2 pv0-l">
    <a href="/site">About this site</a>.
  </div>
</footer>

<%= javascript_pack_tag 'application' %>
