%footer
  %div.site-source
    #{t(".site_source_html")}

  %div.sfc-member
    #{t(".sfc_member_html")}

= javascript_include_tag "jquery-1.7.1.min.js", "jquery-ui-1.8.18.custom.min.js", "jquery.defaultvalue.js", "session.min.js", "site.js"
