<footer>
  <div class="site-source">
    This <a href="https://github.com/git/git-scm.com/blob/master/README.md#license">open sourced</a> site is <a href="https://github.com/git/git-scm.com">hosted on GitHub.</a><br>
    Patches, suggestions and comments are welcome.
  </div>
  <div class="sfc-member">
    Git is a member of <a href="/sfc">Software Freedom Conservancy</a>
  </div>
</footer>

<%= javascript_include_tag "jquery-1.7.1.min.js",
                           "jquery-ui-1.8.18.custom.min.js",
                           "jquery.defaultvalue.js",
                           "session.min.js",
                           "site.js" %>
