<header>
  <a href="/"><img src="/images/logo@2x.png" width="110" height="46" alt="Git" /></a>
  <span id="tagline">
    <%= raw random_tagline %>
  </span>

  <form class="search-form js-search-form" action="/search/results">
    <input class="search-text js-search-text" name="search" placeholder="Search entire site..." autocomplete="off" type="text" />
  </form>

  <div class="search-results js-search-results"></div>
</header>
