<!DOCTYPE html>
<html>
<head>
  <title><%=@page_title.present? ? @page_title : "Git" %></title>
  <%= stylesheet_link_tag    "git-scm", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
