%header
  <a href="/"><img src="/images/logo.png" /></a>
  %span#tagline
    =raw random_tagline

  %form#search
    <input id="search-text" placeholder="Search entire site..." autocomplete="off" type="text" />

  %div#search-results
