%header
  <a href="/"><img src="/images/logo.png" /></a>
  %span#tagline
    <em>--</em>random-clever-tagline-here

  %form#search
    <input id="search-text" placeholder="Search entire site..." autocomplete="off" type="text" />

  %div#search-results
