<header>
  <a href="/"><img src="/images/logo@2x.png" width="110" height="46" alt="Git" /></a>
  <span id="tagline">
    <%= raw random_tagline %>
  </span>

  <form id="search" action="/search/results">
    <input id="search-text" name="search" placeholder="Search entire site..." autocomplete="off" type="text" />
  </form>
  <div id="search-results"></div>

  <div id="banner">
    Git is a member project of Software Freedom Conservancy, which
    handles legal and financial needs for the project. Conservancy is
    currently raising funds to continue their mission. Consider
    <a href="https://sfconservancy.org/supporter/">becoming a supporter</a>!
  </div>
</header>
