%header
  <a href="/"><img src="/images/logo.png" /></a>
  %span#tagline
    \--random-clever-tagline-here

  %form#search
    <input placeholder="Search entire site..." type="text" />

  %div#search-results
    %header Search Results
    %table
      %tr.show-all
        %td.category &nbsp;
        %td.matches
          %ul
            %li
              <a href="#">Show all results...</a>
      %tr
        %td.category Reference
        %td.matches
          %ul
            %li
              <a href="#">git-rebase(1) Manual Page</a>
      %tr
        %td.category Book
        %td.matches
          %ul
            %li
              <a href="#">Rebasing <span class="metadata">Chapter 3: Git Branching</span></a>
      %tr
        %td.category Videos
        %td.matches
          %ul
            %li
              <a href="#">Understanding Rebase and Merge <span class="metadata">Length: 8:12</span></a>
            %li
              <a href="#">Another Video About Rebasing<span class="metadata">Length: 24:55</span></a>

