%div.monitor
  %h4 Latest source release
  %span.version= latest_version

  =link_to "Release Notes", latest_relnote_url
  %span.release-date= latest_release_date

  =link_to "Download Source Code", "http://code.google.com/p/git-core/downloads/list", {:class => 'button', :id => 'download-link'}
