%div.monitor.mac
  %h4 Latest stable release
  %span.version= latest_version

  =link_to "Release Notes", "/release/notes"
  %span.release-date= latest_release_date

  =link_to "Download for Mac", "#", {:class => 'button'}
