%div.monitor.mac
  %h4 Latest stable release
  %span.version 1.7.9.5

  =link_to "Release Notes"
  %span.release-date (2012-26-03)

  =link_to "Download for Mac", "/download/mac", {:class => 'button', :id => 'download-link'}
