%div.monitor
  %h4 #{t(".latest_stable")}
  %span.version= latest_version

  =link_to t(".release_notes"), latest_relnote_url
  %span.release-date= latest_release_date

  =link_to t(".download_source"), "http://code.google.com/p/git-core/downloads/list", {:class => 'button', :id => 'download-link'}
