<div class="monitor">

  <h4> Latest source Release </h4>

  <span class="version">
    <%= latest_version %>
  </span>

  <%= link_to "Release Notes", latest_relnote_url %>
  <span class="release-date">
    <%= latest_release_date %>
  </span>

  <%= link_to "Download Source Code", "http://code.google.com/p/git-core/downloads/list", {:class => 'button', :id => 'download-link'} %>
</div>
