%div.monitor
  %h4 Latest stable release
  %span.version= latest_version

  =link_to "Release Notes", latest_relnote_url
  %span.release-date= latest_release_date
  %span#installer-version{"data-mac" => latest_mac_installer, "data-win" => latest_win_installer}

  =link_to "Download Source Code", "http://code.google.com/p/git-core/downloads/list", {:class => 'button', :id => 'download-link'}
