%div.monitor.mac
  %h4 Latest stable release
  %span.version= latest_version

  =link_to "Release Notes", latest_relnote_url
  %span.release-date= latest_release_date
  
  - case request.user_agent
  - when /Macintosh/
    =link_to "Download for Mac", "/download/mac", {:class => 'button', :id => 'download-link'}
  - when /Windows/
    =link_to "Download for Windows", "/download/windows", {:class => 'button', :id => 'download-link'}
  - when /Linux/
    =link_to "Download for Linux", "/download/linux", {:class => 'button', :id => 'download-link'}
  - else
    =link_to "Download Now", "/download", {:class => 'button', :id => 'download-link'}