- if @related && @related.size > 0
  %h4 Related Material
  %ul.related-material
    - @related.each do |rel|
      %li{:class => rel.content_type}
        %strong=link_to rel.name, rel.content_url
        - if rel.content_type == "reference"
          in #{link_to "Reference", "/docs"}
        - elsif rel.content_type == "book"
          in #{link_to "Books", "/book/en"}
        - elsif rel.content_type == "video"
          in #{link_to "Videos", "/videos"}
