<form id='search'>
  <input placeholder="Search entire site..." type="text" />
</form>
<div id='search-results'>
  <header>Search Results</header>
  <table>
    <tr class='show-all'>
      <td class='category'>&nbsp;</td>
      <td class='matches'>
        <ul>
          <li>
            <a href="#">Show all results...</a>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class='category'>Reference</td>
      <td class='matches'>
        <ul>
          <li>
            <a href="#">git-rebase(1) Manual Page</a>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class='category'>Book</td>
      <td class='matches'>
        <ul>
          <li>
            <a href="#">Rebasing <span class="metadata">Chapter 3: Git Branching</span></a>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class='category'>Videos</td>
      <td class='matches'>
        <ul>
          <li>
            <a href="#">Understanding Rebase and Merge <span class="metadata">Length: 8:12</span></a>
          </li>
          <li>
            <a href="#">Another Video About Rebasing<span class="metadata">Length: 24:55</span></a>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
