<header> Search Results </header>

<table>
  <tr class="show-all">
    <td class="category"> &nbsp; </td>
    <td class="matches">
      <ul>
        <li>
          <a>Show all results...</a>
        </li>
      </ul>
    </td>
  </tr>
  <% @data[:results].each do |cat| %>
    <tr>
      <td class="category"> <%= cat[:category] %> </td>
      <td class="matches">
        <ul>
          <% cat[:matches].each do |match| %>
            <li>
              <%= link_to match[:url] do %>
                <%= match[:name] %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
</table>