%header Search Results
%table
  %tr.show-all
    %td.category &nbsp;
    %td.matches
      %ul
        %li
          %a{:href=>"/search/results?search=#{@term}"} Show all results...
  - @data[:results].each do |cat|
    %tr
      %td.category
        = cat[:category]
      %td.matches
        %ul
          - cat[:matches].each do |match|
            %li
              %a{:href => match[:url]}
                = match[:name]
                - if match[:meta]
                  %span.metadata= match[:meta]
