<ul id="side-menu">
  <li>About</li>
  <li>
    Documentation
    <ul>
      <li>Book</li>
      <li>Videos</li>
      <li>Reference</li>
      <li>External</li>
    </ul>
  </li>
  <li>Downloads</li>
  <li>Community & Help</li>
</ul>
