<ul id="side-menu">
  <li>About</li>
  <li>
    Documentation
    <ul>
      <li>Manual Pages</li>
      <li>Reference</li>
      <li>Tutorials</li>
      <li>Videos</li>
    </ul>
  </li>
  <li>Downloads</li>
  <li>Help & Support</li>
  <li>Community</li>
  <li>Tools & Hosting</li>
</ul>
