<aside class='sidebar'>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li>
        <a class="active" href="/doc">Documentation</a>
        <ul>
          <li><a class="" href="/doc/ref">Reference</a></li>
          <li><a class="" href="/doc/book">Book</a></li>
          <li><a class="" href="/doc/videos">Videos</a></li>
          <li><a class="" href="/doc/ext">External Links</a></li>
        </ul>
      </li>
      <li><a href="/downloads">Downloads</a></li>
      <li><a href="/community">Community</a></li>
    </ul>
  </nav>
  <hr class='sidebar' />
  <div class='callout'>
    <p>
      The entire <strong><a href="#">Pro Git book</a></strong> written by Scott Chacon is available to <a href="#">read online for free</a>. Dead tree versions are available on <a href="#">Amazon.com</a>.
    </p>
  </div>
</aside>
