<!DOCTYPE html>
{{ if isset .Params "redirect_to" }}
<html lang="en-US">
 <head>
  <meta charset="utf-8">
  <title>Redirecting&hellip;</title>
  <link rel="canonical" href="{{ relURL .Params.redirect_to }}">
  <meta http-equiv="refresh" content="0; url={{ relURL .Params.redirect_to }}">
  <meta name="robots" content="noindex">
 </head>
 <body>
  <script>location="{{ relURL .Params.redirect_to }}"</script>
  <h1>Redirecting&hellip;</h1>
  <a href="{{ relURL .Params.redirect_to }}">Click here if you are not redirected.</a>
 </body>
</html>
{{ else }}
<html lang="en">

{{ $section := "" }}
{{ if isset .Params "section" }}
{{ $section = .Params.section }}
{{ else if isset .Page "Section" }}
{{ $section = .Page.Section }}
{{ else if or (eq .Page.Type "doc") (eq .Page.Type "docs") (eq .Page.Type "video") }}
{{ $section = "documentation" }}
{{ else if isset .Page "Type" }}
{{ $section = .Page.Type }}
{{ else }}
{{ warnf "No section found in %s" (.File | jsonify) }}
{{ end }}
{{ .Scratch.Set "section" $section }}

<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Page.Title | default "Git" }}</title>

  <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'>

  {{ $style := resources.Get "sass/application.scss" | resources.ExecuteAsTemplate "application.scss" . | resources.ToCSS | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <script src="/js/modernizr.js"></script>
  <script src="/js/modernize.js"></script>
  <!--[if (gte IE 6)&(lte IE 8)]>
  <script src="/js/selectivizr-min.js"></script>
  <![endif]-->

</head>

<body id="{{ $section }}">

  <div class="inner">
    {{ partial "header.html" . }}
  </div> <!-- .inner -->

  {{ if (isset .Params "is_site_root") }}
    {{ partial "masthead.html" . }}
    <div id="content-wrapper">
      <div class="inner">
        {{ partial "site-root.html" . }}
        {{ partial "footer.html" . }}
      </div> <!-- .inner -->
    </div> <!-- #content-wrapper -->
  {{ else }}
    <div class="inner">
      <div id="content-wrapper">
        {{ partial "sidebar.html" . }}
        <div id="content">
          {{ if eq $section "about" }}
	    <div id="main">
              <h1>About</h1>

              <ol id="about-nav">
                {{ $abouts := sort (where .Site.RegularPages "Params.section" "about") "Params.order"  }}
                {{ range $about := $abouts }}
                <li>
                  <a href="{{ relURL (strings.TrimSuffix ".html" $about.RelPermalink) }}" class="{{ $about.Params.display_class }}{{ if eq $.Params.subsection $about.Params.subsection }} current{{ end }}">{{ $about.Params.subtitle }}</a>
                </li>
                {{ end }}
              </ol>
              {{ .Content }}
            </div>
          {{ else }}
            {{ .Content }}
          {{ end }}
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
  {{ end }}

</body>
</html>
{{ end }}
