<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @page_title.present? ? @page_title : "Git" %></title>

  <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "modernize" %>
  <!--[if (gte IE 6)&(lte IE 8)]>
  <%= javascript_include_tag "/javascripts/selectivizr-min.js" %>
  <![endif]-->

</head>

<body id="<%= @section %>">

  <div class="inner">
    <%= render partial: "shared/header" %>
  </div> <!-- .inner -->

  <% if controller_name == "site" && action_name == "index" %>
    <%= render partial: "shared/masthead" %>
    <div id="content-wrapper">
      <div class="inner">
        <%= yield %>
        <%= render partial: "shared/footer" %>
      </div> <!-- .inner -->
    </div> <!-- #content-wrapper -->
  <% else %>
    <div class="inner">
      <div id="content-wrapper">
        <%= render partial: "shared/sidebar" %>
        <div id="content">
          <%= yield %>
        </div>
      </div>
      <%= render partial: "shared/footer" %>
    </div>
  <% end %>

</body>
</html>
