- @section    = "functions"
- @page_title = "libgit2 - Functions"

= partial 'shared/library/library_versions'

%div#main
  %h1 Functions
  %p
    The most common libgit2 functions are shown by default.
    =link_to "Show all of the functions", "#", {:id => 'function-library-toggle'}
    \.

  %div.two-column.library-functions
    - each_column do |cls, rows|
      %div{:class => "column-#{cls}"}
        - rows.each do |group|
          %h3= group_link group
          %ul.library-functions
            - group.function_names.each do |f|
              %li= function_link f
