- @section = "functions"
- @subsection = "blob"
- @page_title = "libgit2 - Blob Functions"

%div#library-versions
  =link_to "Changelog", "#"
  %span.version-selection
    Version
    <select>
    <option>HEAD</option>
    <option>v0.17.0</option>
    <option>v0.16.0</option>
    <option>v0.15.0</option>
    <option>v0.14.0</option>
    <option>v0.13.0</option>
    <option>v0.12.0</option>
    <option>v0.11.0</option>
    <option>v0.10.0</option>
    <option>v0.8.0</option>
    <option>v0.3.0</option>
    <option>v0.2.0</option>
    <option>v0.1.0</option>
    </select>

  %ul.legend
    %li.new New
    %li.changed Changed
    %li.removed Removed

%div#main
  %h1 Blob Functions

  %ul.library-group-functions
    %li
      =link_to "git_blob_create_frombuffer", "#", {:class => 'important new'}
      %p
        Write an in-memory buffer to the ODB as a blob.
    %li
      =link_to "git_blob_create_fromchunks", "#", {:class => 'changed'}
      %p
        Write a loose blob to the Object Database from a provider of chunks of data.
    %li
      =link_to "git_blob_create_frombuffer", "#", {:class => 'important'}
      %p
        Write an in-memory buffer to the ODB as a blob.
    %li
      =link_to "git_blob_create_fromchunks", "#", {:class => 'changed'}
      %p
        Write a loose blob to the Object Database from a provider of chunks of data.
    %li
      =link_to "git_blob_create_frombuffer", "#", {:class => 'important new'}
      %p
        Write an in-memory buffer to the ODB as a blob.
    %li
      =link_to "git_blob_create_fromchunks", "#", {:class => 'changed'}
      %p
        Write a loose blob to the Object Database from a provider of chunks of data.
    %li
      =link_to "git_blob_create_frombuffer", "#", {:class => 'important'}
      %p
        Write an in-memory buffer to the ODB as a blob.
    %li
      =link_to "git_blob_create_fromchunks", "#", {:class => 'removed'}
      %p
        Write a loose blob to the Object Database from a provider of chunks of data.
    %li
      =link_to "git_blob_create_fromchunks", "#", {:class => 'changed'}
      %p
        Write a loose blob to the Object Database from a provider of chunks of data.
    %li
      =link_to "git_blob_create_frombuffer", "#", {:class => 'important'}
      %p
        Write an in-memory buffer to the ODB as a blob.
