- @section = "home"

%div#front-main
  %section#intro
    %p
      libgit2 is a <strong>portable</strong>, <strong>pure C implementation</strong> of the Git core methods provided as a re-entrant linkable library with a solid API, allowing you to write native speed custom Git applications in any language which supports C bindings.

  %section#features
    %ul
      %li#cross-platform
        <img src="/images/libgit2/icon-cross-platform@2x.png" />
        <h3>100% Cross-Platform</h3>
        <p>A very short sentence or two. A very short sentence or two.</p>
      %li#zero-dependencies
        <img src="/images/libgit2/icon-zero-dependencies@2x.png" />
        <h3>Zero Dependencies</h3>
        <p>A very short sentence or two. A very short sentence or two.</p>
      %li#production
        <img src="/images/libgit2/icon-production@2x.png" />
        <h3>Used in Production</h3>
        <p>Trusted by <strong>GitHub</strong>, <strong>Foo</strong>, and <strong>Bar</strong>.
      %li#c89
        <img src="/images/libgit2/icon-c89@2x.png" />
        <h3>C89</h3>
        <p>A very short sentence or two. A very short sentence or two.</p>
      %li#native-windows-support
        <img src="/images/libgit2/icon-native-windows-support@2x.png" />
        <h3>Native Windows Support</h3>
        <p>A very short sentence or two. A very short sentence or two.</p>
      %li#permissive-licensiing
        <img src="/images/libgit2/icon-permissive-licensing@2x.png" />
        <h3>Permissive Licensing</h3>
        <p>A very short sentence or two. A very short sentence or two.</p>

%aside#sidebar
  %h5 Language Bindings

  %ul#primary-languages
    %li#rugged
      <img src="/images/libgit2/logo-ruby@2x.png" width="40" height="40" />
      %h6 Ruby
      %h5
        <a href="https://github.com/libgit2/rugged">Rugged</a>
    %li#libgit2sharp
      <img src="/images/libgit2/logo-net-mono@2x.png" width="94" height="39" />
      %h6 .Net &amp; Mono
      %h5
        <a href="https://github.com/libgit2/libgit2sharp">LibGit2Sharp</a>
    %li#objective-c
      <img src="/images/libgit2/logo-apple@2x.png" width="46" height="51" />
      %h6 Objective-C
      %h5
        <a href="https://github.com/libgit2/objective-git">objective-git</a>

  %ul.additional-languages
    %li
      <img src="/images/libgit2/logo-python@2x.png" />
      %h6 Python
      %h5
        <a href="https://github.com/libgit2/pygit2">pygit2</a>
    %li
      <img src="/images/libgit2/logo-php@2x.png" />
      %h6 PHP
      %h5
        <a href="https://github.com/libgit2/php-git">php-git</a>
    %li
      <img src="/images/libgit2/logo-nodejs@2x.png" />
      %h6 Node.js
      %h5
        <a href="https://github.com/libgit2/node-gitteh">node-gitteh</a>
    %li
      <img src="/images/libgit2/logo-go@2x.png" />
      %h6 Go
      %h5
        <a href="https://github.com/str1ngs/go-git">go-git</a>
    %li
      <img src="/images/libgit2/logo-erlang@2x.png" />
      %h6 Erlang
      %h5
        <a href="https://github.com/schacon/geef">Geef</a>
    %li
      <img src="/images/libgit2/logo-gnome@2x.png" />
      %h6 GObject
      %h5
        <a href="http://git.gnome.org/browse/libgit2-glib">libgit2-glib</a>

  %ul.additional-languages
    %li
      <img src="/images/libgit2/logo-lua@2x.png" />
      %h6 Lua
      %h5
        <a href="https://github.com/libgit2/luagit2">luagit2</a>
    %li
      <img src="/images/libgit2/logo-delphi@2x.png" />
      %h6 Delphi
      %h5
        <a href="https://github.com/libgit2/GitForDelphi">GitForDelphi</a>
    %li
      <img src="/images/libgit2/logo-qt@2x.png" />
      %h6 C++ Qt
      %h5
        <a href="https://projects.kde.org/projects/playground/libs/libqgit2/">libqgit2</a>
    %li
      <img src="/images/libgit2/logo-parrot-vm@2x.png" />
      %h6 Parrot VM
      %h5
        <a href="https://github.com/letolabs/parrot-libgit2">parrot-libgit2</a>
    %li
      <img src="/images/libgit2/logo-chicken-scheme@2x.png" />
      %h6 Chicken Scheme
      %h5
        <a href="https://wiki.call-cc.org/egg/git">chicken-git</a>
    %li
      <img src="/images/libgit2/logo-d@2x.png" />
      %h6 D
      %h5
        <a href="https://github.com/AndrejMitrovic/dlibgit">dlibgit</a>
