// Palette
$orange:             #f14e32;
$blue:               #009099;

$page-width:         940px;

$font-color:  		   #4e443c;
$light-font-color:   #9a9994;

$link-color:         #0388a6;
$link-hover-color:   lighten($link-color, 10%);
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$base-font-family: "adelle", Georgia, "Times New Roman", serif;
$base-font-family-fallback:  Georgia, "Times New Roman", serif;
$base-font-size:   14px;
$base-line-height: 22px;

$fixed-width-font-family: Courier, monospace;
$fixed-width-font-color: #4e443c;
$fixed-width-line-height: 18px;

$base-border-color:  #d8d7cf;
$callout-color:      #e9e8e0;
