<div class='dropdown-panel' id='chapters-dropdown'>
  <%= render :partial => 'chapter_listings', :locals => {:column => 1} %>
  <%= render :partial => 'chapter_listings', :locals => {:column => 2} %>
  <%= render :partial => 'chapter_listings', :locals => {:column => 3} %>
</div>
