<p>Download this book in <a href="https://github.com/progit/progit/wiki/progit.en.pdf">PDF</a>, <a href="https://github.com/progit/progit/wiki/progit.en.mobi" type="application/x-mobipocket-ebook">mobi</a>, or <a href="https://github.com/progit/progit/wiki/progit.en.epub" type="application/epub+zip">ePub</a> form for free.</p>
