a {
  @extend .blue;
  @extend .link;
  @extend .hover-u;
}

pre {
  @extend .pre;
  @extend .code;
  @extend .bg-white-50;
  @extend .pa3;
  @extend .dark-gray;
  @extend .br2;
  @extend .f6;
  @extend .lh-copy;
  @extend .shadow-subtle;
}

code {
  @extend .code;
  @extend .near-black;
  @extend .f6;
}
