.book-content {
  .anchor {
    @extend .absolute;
    @extend .fw3;
    @extend .o-0;
    @extend .trans-o;
    @extend .nl3;
    @extend .pr1;

    &::before {
      content: '#';
    }
  }

  h1 {
    @extend .f3;
  }

  h2 {
    @extend .f4;
    @extend .orange;
    @extend .fw5;
    @extend .lh-copy;
    @extend .relative;

    &:hover {
      .anchor {
        @extend .o-100;
      }

    }
  }

  p {
    @extend .lh-copy;
  }

  .hdlist1 {
    @extend .code;
    @extend .b;
    @extend .f6;
  }
}

.dlist .dlist {
  @extend .pl3;
  @extend .bw2;
  @extend .bl;
  @extend .b--dark-tan;
}
