pre {
  @extend .pre;
  @extend .code;
  @extend .bg-white-50;
  @extend .pa3;
  @extend .dark-gray;
  @extend .br2;
  @extend .f6;
  @extend .lh-copy;
}

code {
  @extend .code;
  @extend .near-black;
  @extend .f6;
}

.sect1 {
  h2 {
    @extend .f4;
    @extend .orange;
    @extend .fw5;
    @extend .lh-copy;
  }

  p {
    @extend .lh-copy;
  }

  .hdlist1 {
    @extend .code;
    @extend .b;
    @extend .f6;
  }
}

.dlist .dlist {
  @extend .pl3;
  @extend .bw2;
  @extend .bl;
  @extend .b--dark-tan;
}
