.manual-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: auto;
  // grid-template-rows: fit-content(20%);
  grid-auto-flow: dense;
  grid-gap: 2em;
}

.gr2 {
  grid-row: span 2;
}

.gr3 {
  grid-row: span 3;
}

.gr4 {
  grid-row: span 4;
}

.gc2 {
  grid-column: span 2;
}

.gc3 {
  grid-column: span 3;
}

/*
 * Markup for individual man pages comes from asciicdoc backend.
 * Since we don't (easily) have control over the markup, we extend
 * Tachyons classes here.
 */
.sect1 {
  .anchor {
    @extend .absolute;
    @extend .fw3;
    @extend .o-0;
    @extend .trans-o;
    @extend .nl3;
    @extend .pr1;

    &::before {
      content: '#';
    }
  }

  h2 {
    @extend .f4;
    @extend .orange;
    @extend .fw5;
    @extend .lh-copy;
    @extend .relative;

    &:hover {
      .anchor {
        @extend .o-100;
      }

    }
  }

  p {
    @extend .lh-copy;
  }

  .hdlist1 {
    @extend .code;
    @extend .b;
    @extend .f6;
  }
}

.dlist .dlist {
  @extend .pl3;
  @extend .bw2;
  @extend .bl;
  @extend .b--dark-tan;
}
