.page-overlay {
  @extend .trans-o;
}

.is-modaling {
  @extend .overflow-hidden;

  .page-overlay {
    @extend .filter-blur;
    @extend .relative;
    @extend .o-30;
    @extend .trans-o;
  }
}

.site-nav-links {
  @extend .o-0;
  @extend .o-100-l;
  @extend .trans-o;
  @extend .z--1;
  @extend .z-1-l;
}

.is-searching {
  @extend .bg-dark-tan;

  .site-logo,
  .site-nav {
    @extend .o-0;
  }

  .search-link-search {
    @extend .dn;
  }

  .search-link-x {
    @extend .db;
  }

  .search-box {
    @extend .db;
  }
}

.is-nav-open {
  .site-nav-links {
    @extend .z-5;
    @extend .o-100;
    @extend .trans-o;
  }
}

