/*
 * Text colors
 */
.near-black { color: #2F2C29; }
.dark-gray { color: #4e443c; }
.mid-gray { color: #857e78; }
.orange { color: #e05e0b; }
.blue { color: #0f758c; }

/*
 * Background colors
 */
.bg-tan { background-color: #f5f5f0; }
.bg-dark-tan { background-color: #edede9; }
.bg-orange { background-color: #ff6300; }
.bg-blue { background-color: #357edd; }

/*
 * Hover / focus
 */
.hover-orange:hover { color: #e05e0b; }
.hover-orange:focus { color: #e05e0b; }
.hover-blue:hover { color: #0f758c; }
.hover-blue:focus { color: #0f758c; }
.hover-bg-orange:hover { background-color: #ff6300; }
.hover-bg-orange:focus { background-color: #ff6300; }
.hover-bg-blue:hover { background-color: #0388a6; }
.hover-bg-blue:focus { background-color: #0388a6; }

.hover-b-orange:focus { border-color: #e05e0b; }
.hover-shadow-orange:focus { box-shadow: 0 0 0 3px rgba(224,94,11,.3); }

.hover-u:hover { text-decoration: underline; }
.hover-u:active { text-decoration: underline; }

/*
 * Fonts
 */
code, .code { font-family: "SFMono-Regular", Consolas, Menlo, Andale, monospace; }

/*
 * Heights
 */
.max-vh-50 { max-height: 50vh; }

.max-vh-none {
  max-height: none;
}

@media screen and (min-width: 30em) {
  .max-vh-none-ns {
    max-height: none;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .max-vh-none-m {
    max-height: none;
  }
}

@media screen and (min-width: 60em) {
  .max-vh-none-l {
    max-height: none;
  }
}

/*
 * Box shadows
 */
.shadow-1-l { box-shadow: 0 12px 20px rgba(0,0,0,.1), 0 5px 10px rgba(0,0,0,.07); }

/*
 * Negative margins
 */
.nl-1px { margin-left: -1px;}

/*
 * Details / summary toggle
 */
.no-details-marker::-webkit-details-marker {
  display: none;
}

details .icon-chevron {
  transition: transform .1s ease-in;
}

details[open] .icon-chevron {
  transform: rotate(180deg);
}
