<% @section = "community" %>
<% @subsection = "" %>
<% @page_title = "Git - Community" %>

<% content_for :sidebar do %>
  <%= render 'shared/book' %>
<% end %>

<div id="main">
  <h1> Community</h1>

  <h2> Mailing List</h2>

  <p>
    General questions or comments for the Git community can be sent to the mailing list by using the email address <a href="mailto:git@vger.kernel.org">git@vger.kernel.org</a>. 
  </p>
  
  <p>
    <strong>If you wish to report any possible bug for Git, please use this mailing list as well.</strong>
  </p>

  <p>
    You do not need to subscribe: you will be Cc&apos;d in replies. Please keep the Cc list intact when replying (use &quot;Reply to all&quot;). Greylisting may delay your first post for a few hours.  Note also that the list only accepts <a href="https://useplaintext.email/">plain-text email</a>; please disable HTML in your outgoing messages.
  </p>

  <p>
    By subscribing (click <a href="mailto:majordomo@vger.kernel.org?body=subscribe git">here</a>), you can make sure you're not missing follow-up discussions and you can also learn about other development in the community.  The list <a href="https://lore.kernel.org/git/">archive</a> can be found on lore.kernel.org.
  </p>

  <p>
    Windows-specific questions can also be sent to the <a href="https://groups.google.com/forum/?fromgroups#!forum/git-for-windows">Git for Windows mailing list</a> (if in doubt whether your question is Windows-specific, just use the general Git mailing list). Please submit Windows-specific bugs to <a href="https://github.com/git-for-windows/git/issues">Git for Windows' bug tracker</a>.
  </p>

  <p>
    There is also <a href="https://groups.google.com/forum/?fromgroups#!forum/git-users">Git user mailing list</a> on Google Groups which is a nice place for beginners to ask about anything.
    If you're a downstream packager of Git, consider joining the <a href="https://groups.google.com/forum/?fromgroups#!forum/git-packagers">Git packagers mailing list</a> for low-volume announcements from the developers, as well as other discussion related to packaging &amp; porting Git.
  </p>

  <h2> Bug Reporting </h2>

  <p>
    Bugs in git can be reported directly to the mailing list (see above for
    details). Note that you do not need to subscribe to the list to send
    to it. You can help us out by attempting to reproduce the bug in the latest
    released version of git, or if you're willing to build git from source, the
    <a href="https://github.com/git/git/tree/next"><span class="fixed">next</span> branch</a>.
    Sometimes an attempted fix may be pending in this branch, in which case
    your feedback as to whether the fix worked for you will be appreciated.
  </p>

  <p>
    If you are using git 2.27.0 or later, you can run
    <a href="/docs/git-bugreport"><span class="fixed">git bugreport</span></a> in the repository
    where you observed the bug,
    which generates a template to guide you through writing a useful bug
    report and gathers some diagnostic information about your
    environment.
  </p>

  <p>
    Bugs related to this website can be reported at its
    <a href="https://github.com/git/git-scm.com/issues">issue tracker</a>.
    Bugs related to the content of the "Pro Git" book can be reported at its
    <a href="https://github.com/progit/progit2">issue tracker</a>.
  </p>

  <p>
    If you are new to submitting bugs, you might find <a
      href="http://www.chiark.greenend.org.uk/~sgtatham/bugs.html">this
      guide</a> helpful for producing useful bug reports.
  </p>

  <h2> Reporting Security Issues </h2>

  <p>
    Issues which are security relevant should be disclosed privately to
    the <a href="mailto:git-security@googlegroups.com">Git Security</a> mailing list.
  </p>

  <h2> IRC Channel </h2>

  <p>
    If the manpages and this book aren’t enough and you need in-person help, you can try the <span class="highlight fixed">#git</span> channel on the <a href="https://libera.chat/guides/connect">Libera Chat</a> IRC server (<strong>irc.libera.chat</strong>). These channels are regularly filled with hundreds of people who are all very knowledgeable about Git and are often willing to help.
    The <span class="highlight fixed">#git-devel</span> channel welcomes Git development discussion, and might be able to help you contribute to Git.
  </p>

  <p>
    If you need specific help about one of the for-profit Git hosting sites, you might try their own IRC channels (such as <span class="highlight fixed">#github</span> or <span class="highlight fixed">#gitlab</span>) on the same IRC server.
  </p>

  <h2> Discord Server </h2>

  <p>
    The <a href="https://discord.gg/GRFVkzgxRd">Git Community Discord Server</a> also has many knowledgeable and helpful people. Additionally, it provides a space to be able to voice chat about patches, designs, or anything else Git related.
  </p>

  <h2> Newsletter </h2>

  <p>
    There is a monthly community newsletter called <a href="https://git.github.io/rev_news/rev_news/">"Git Rev News"</a>, with <a href="https://git.github.io/rev_news/archive/">its archive</a> and <a href="https://git.github.io/rev_news/">its latest edition</a>. Information on how to subscribe can be found on the <a href="https://git.github.io/rev_news/rev_news/">dedicated webpage</a>.
  </p>

  <h2> Contributing to Git </h2>

  <p>
    The <a href="https://github.com/git/git/tree/master/Documentation">Documentation directory</a> in the Git source code has several files of interest to developers who are looking to help contribute. After reading the <a href="https://github.com/git/git/blob/master/Documentation/CodingGuidelines">coding guidelines</a>, you can learn <a href="/docs/SubmittingPatches">how to submit patches</a>. If you are just starting out, you can read the <a href="/docs/MyFirstContribution">My First Contribution tutorial</a>. For those looking to get more deeply involved, there is a <a href="https://github.com/git/git/blob/master/Documentation/howto/maintain-git.txt">howto for Git maintainers</a>.
  </p>

  <p>
    The <a href="https://git.github.io/">Git Developer Pages</a> have a <a href="https://git.github.io/Hacking-Git/">Hacking Git page</a> which lists useful development resources. They also have <a href="https://git.github.io/General-Application-Information/">information</a> for people applying to work on Git as part of programs like <a href="https://www.outreachy.org/">Outreachy</a> or the <a href="https://summerofcode.withgoogle.com/">Google Summer of Code</a>.
  </p>
