%header
  <a href="/library"><img src="/images/libgit2/logo.png" width="269" height="66" alt="libgit2" /></a>

  - if @section == 'home'
    <a href="http://libgit2.github.com/api.html" class="button">
    <img src="/images/libgit2/icon-book.png" width="21" height="30" />
    <h3>libgit2 Usage Guide</h3>
    </a>

  - else
    %form#search{:action => '/library/search/results'}
      <input id="search-text" name="search" placeholder="Search documentation..." autocomplete="off" type="text" />
