%div#library-versions
  =link_to "Changelog", "#"
  %span.version-selection
    Version
    %select{:id => 'version-selector'}
      - all_versions.each do |v|
        %option{:selected => v == version, :value => v}= v

  - if !@function_name
    %ul.legend
      %li.new New
      %li.changed Changed
      %li.removed Removed
