%div#library-versions
  =link_to "Changelog", "#"
  %span.version-selection
    Version
    %select{:selected => version}
      - all_versions.each do |v|
        %option=v

  - if !@function_name
    %ul.legend
      %li.new New
      %li.changed Changed
      %li.removed Removed
