<ol class='book-toc'>
  <% per_column = (@book.chapters.count / 3.0).ceil -%>
  <% start      = per_column * (column - 1)       -%>
  <% stop       = start + (per_column - 1)        -%>
  <% @book.chapters.includes(:sections)[start..stop].each do |chapter| %>
  <% if chapter %>
  <% if chapter.sections.size > 0 %>
  <li class='chapter'>
  <h2><%= chapter.cs_number %>. <a href="{{ relURL "book/<%= @book.code %>/v<%= @book.edition %>/<%=u chapter.sections.first.slug %>" }}"><%=raw chapter.title %></a></h2>
    <ol>
      <% chapter.sections.each do |section| %>
        <% unless section.title.empty? %>
        <li>
          <%=  chapter.cs_number  %>.<%= section.number %>
          <a href="{{ relURL "book/<%=  @book.code  %>/v<%=  @book.edition  %>/<%= u(section.slug) %>" }}" <%= 'class=active' if same_section(@content, section) %>><%= raw section.title  %> </a>
        </li>
      <%  end %>
      <% end %>
    </ol>
  </li>
  <% end %>
  <% end %>
  <% end %>
</ol>
