<a class="dropdown-trigger" id="book-chapters-trigger" data-panel-id="chapters-dropdown" href="#">Chapters ▾</a>
<div class='dropdown-panel' id='chapters-dropdown'>
  <div class="three-column">
    <div class='column-left'>
      <%= render :partial => 'chapter_listings', :locals => {:column => 1} %>
    </div>
    <div class='column-middle'>
      <%= render :partial => 'chapter_listings', :locals => {:column => 2} %>
    </div>
    <div class='column-right'>
      <%= render :partial => 'chapter_listings', :locals => {:column => 3} %>
    </div>
  </div>
 </div>
