<footer>
  <div class="site-source">
    <a href="{{ relURL "site" }}">About this site</a><br>
    Patches, suggestions, and comments are welcome.
  </div>
  <div class="sfc-member">
    Git is a member of <a href="{{ relURL "sfc" }}">Software Freedom Conservancy</a>
  </div>
</footer>
<a href="#top" class="no-js scrollToTop" id="scrollToTop" data-label="Scroll to top">
  <img src="{{ relURL "images/icons/chevron-up@2x.png" }}" width="20" height="20" alt="scroll-to-top"/>
</a>

<script src="{{ relURL "js/jquery-1.7.1.min.js" }}"></script>
<script src="{{ relURL "js/jquery-ui-1.8.18.custom.min.js" }}"></script>
<script src="{{ relURL "js/jquery.defaultvalue.js" }}"></script>
<script src="{{ relURL "js/session.min.js" }}"></script>
{{ if eq (.Scratch.Get "section") "search" }}<script src="{{ relURL "pagefind/pagefind-ui.js" }}"></script>{{ end }}
<script src="{{ relURL "js/application.js" }}"></script>
