<div id="masthead">
  <div class="inner">
    <div>
      <p>
        Git is a <a href="/about/free-and-open-source">free and open source</a>
        distributed version control system designed to handle everything from small to
        very large projects with speed and efficiency.
      </p>
      <p>
        Git is <a href="/doc">easy to learn</a> and has a
        <a href="/about/small-and-fast">tiny footprint with lightning fast performance</a>.
        It outclasses SCM tools like Subversion, CVS, Perforce, and ClearCase
        with features like <a href="/about/branching-and-merging">cheap local branching</a>,
        convenient <a href="/about/staging-area">staging areas</a>, and
        <a href="/about/distributed">multiple workflows</a>.
      </p>
    </div>
    <div class="illustration-wrapper">
      <img class="illustration" src="/images/branching-illustration@2x.png" width="389" height="251" />
    </div>
  </div> <!-- .inner -->
</div> <!-- #masthead -->
