<div id="masthead">
  <div class="inner">
    <div>
      <p>
        Git is a <a href="{{ relURL "about/free-and-open-source" }}">free and open source</a>
        distributed version control system designed to handle everything from small to
        very large projects with speed and efficiency.
      </p>
      <p>
        Git is <a href="{{ relURL "doc" }}">easy to learn</a> and has a
        <a href="{{ relURL "about/small-and-fast" }}">tiny footprint with lightning fast performance</a>.
        It outclasses SCM tools like Subversion, CVS, Perforce, and ClearCase
        with features like <a href="{{ relURL "about/branching-and-merging" }}">cheap local branching</a>,
        convenient <a href="{{ relURL "about/staging-area" }}">staging areas</a>, and
        <a href="{{ relURL "about/distributed" }}">multiple workflows</a>.
      </p>
    </div>
    <div class="illustration-wrapper">
      <img class="illustration" src="{{ relURL "images/branching-illustration@2x.png" }}" width="389" height="251" />
    </div>
  </div> <!-- .inner -->
</div> <!-- #masthead -->
