<div id="masthead">
  <div class="inner">
    <div>
      <p>
        Git is a <a href="{{ relURL "about/#free-and-open-source" }}">free and open source</a>
        distributed version control system designed to handle everything from small to
        very large projects with speed and efficiency.
      </p>
      <p>
        Git is <a href="{{ relURL "about" }}">lightning fast</a> and has a huge ecosystem of
        <a href="{{ relURL "tools/guis" }}">GUIs</a>,
        <a href="{{ relURL "tools/hosting" }}">hosting services</a>, and
        <a href="{{ relURL "tools/command-line" }}">command-line tools</a>.
      </p>
    </div>
    <div class="illustration-wrapper">
      <img class="illustration" src="{{ relURL "images/branching-illustration@2x.png" }}" width="389" height="251" />
    </div>
  </div> <!-- .inner -->
</div> <!-- #masthead -->
