<div class="monitor">

  <h4> Latest source Release </h4>

  <span class="version">
    {{ .Site.Params.latest_version }}
  </span>

  <a href="{{ .Site.Params.latest_relnote_url }}">Release Notes</a>
  <span class="release-date">
    ({{ .Site.Params.latest_release_date }})
  </span>
  <span data-mac="{{ .Site.Params.macos_installer.version }}" data-win="{{ .Site.Params.windows_installer.installer64.version }}" id="installer-version"></span>

  <a href="https://www.kernel.org/pub/software/scm/git/" class="button" id="download-link">Download Source Code</a>
</div>
