{{ $section := .Scratch.Get "section" }}
<div tabindex="1" class="sidebar-btn"></div>
<aside class="sidebar" id="sidebar">
  <nav>
    <ul>
      <li>
        <a href="{{ relURL "about" }}"{{ if (eq $section "about") }} class="active"{{ end }}>About</a>
        <ul {{ if (eq $section "about") }} class="expanded"{{ end }}>
          <li>
            <a href="{{ relURL "about/trademark" }}"{{ if (eq .Params.Subsection "trademark") }} class="active"{{ end }}>Trademark</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="{{ relURL "learn" }}"{{ if (eq $section "learn") }} class="active"{{ end }}>Learn</a>
        <ul {{ if (eq $section "learn") }}class="expanded"{{ end }}>
          <li>
            <a href="{{ relURL "book" }}"{{ if (eq .Params.Subsection "book") }} class="active"{{ end }}>Book</a>
          </li>
          <li>
            <a href="{{ relURL "cheat-sheet" }}"{{ if (eq .Params.Subsection "cheat-sheet") }} class="active"{{ end }}>Cheat Sheet</a>
          </li>
          <li>
            <a href="{{ relURL "videos" }}"{{ if (eq .Params.Subsection "videos") }} class="active"{{ end }}>Videos</a>
          </li>
          <li>
            <a href="{{ relURL "doc/ext" }}"{{ if (eq .Params.Subsection "external-links") }} class="active"{{ end }}>External Links</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="{{ relURL "tools" }}"{{ if (eq $section "tools") }} class="active"{{ end }}>Tools</a>
        <ul {{ if (eq $section "tools") }}class="expanded"{{ end }}>
          <li>
            <a href="{{ relURL "tools/command-line" }}"{{ if (eq .Params.Subsection "command-line") }} class="active"{{ end }}>Command Line</a>
          </li>
          <li>
            <a href="{{ relURL "tools/guis" }}"{{ if (eq .Params.Subsection "guis") }} class="active"{{ end }}>GUIs</a>
          </li>
          <li>
            <a href="{{ relURL "tools/hosting" }}"{{ if (eq .Params.Subsection "hosting") }} class="active"{{ end }}>Hosting</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{{ relURL "docs" }}"{{ if or (eq .Params.Subsection "reference") (eq .Params.Subsection "manual") }} class="active"{{ end }}>Reference</a>
      </li>
      <li>
        <a href="{{ relURL "install" }}" class="install-link{{ if (eq $section "install") }} active{{ end }}">Install</a>
      </li>
      <li>
        <a href="{{ relURL "community" }}"{{ if (eq $section "community") }} class="active"{{ end }}>Community</a>
        <ul{{ if (eq $section "community") }} class="expanded"{{ end }}>
          {{ if (eq $section "community") }}
          <li>
            <a href="{{ relURL "community/logos" }}"{{ if (eq .Params.subsection "logos") }} class="active"{{ end }}>Logos</a>
          </li>
          {{ end }}
        </ul>
      </li>
    </ul>

    {{ $headings := .Params.headings }}
    {{ if $headings }}
    <ul id="toc">
      <li> Table of Contents
        <ul class="expanded">
          {{ range $i, $item := $headings }}
            <li><a href="#{{ .id }}">{{ .text }}</a> </li>
          {{ end }}
        </ul>
      </li>
    </ul>
    {{ end }}

    {{ if (eq .Params.Sidebar "book") }}
      <hr class="sidebar">
      {{- /* If this page displays a section of the ProGit book, map all the translations thereof */ -}}
      {{ with $.Page.Params.book }}
        {{ $cs_number := .section.cs_number }}
        {{ range hugo.Data.book }}
          {{ $language_code := .language_code }}
          {{ range .chapters }}
            {{ range .sections }}
              {{ if (eq .cs_number $cs_number) }}
                {{ $.Scratch.SetInMap "translations" $language_code .url }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ partial "translations.html" . }}
    {{ else if (and (ne $section "documentation") (ne $section "site")) }}
      <hr class="sidebar">
      {{ partial "book.html" }}
    {{ end }}
  </nav>
</aside>
