<div id="front-content">
  <section id="front-navigation">
    <nav id="front-nav">
      <ul>
        <li id="nav-about">
          <a href="{{ relURL "about" }}">
            <img src="{{ relURL "images/icons/nav-about@2x.png" }}" width="74" height="74" />
            <h3>About</h3>
            <p>The advantages of Git compared to other source control systems.</p>
          </a>
        </li>
        <li id="nav-documentation">
          <a href="{{ relURL "doc" }}">
            <img src="{{ relURL "images/icons/nav-documentation@2x.png" }}" width="74" height="74" />
            <h3>Documentation</h3>
            <p>Command reference pages, Pro Git book content, videos and other material.</p>
          </a>
        </li>
        <li id="nav-downloads">
          <a href="{{ relURL "downloads" }}">
            <img src="{{ relURL "images/icons/nav-downloads@2x.png" }}" width="74" height="74" />
            <h3>Downloads</h3>
            <p>GUI clients and binary releases for all major platforms.</p>
          </a>
        </li>
        <li id="nav-community">
          <a href="{{ relURL "community" }}">
            <img src="{{ relURL "images/icons/nav-community@2x.png" }}" width="74" height="74" />
            <h3>Community</h3>
            <p>Get involved! Bug reporting, mailing list, chat, development and more.</p>
          </a>
        </li>
      </ul>
    </nav>
    <div id="front-book">
      <img src="{{ relURL "images/progit2.png" }}" width="56" height="74" />
      <p>
        <strong><a href="{{ relURL "book" }}">Pro Git</a></strong>
        by Scott Chacon and Ben Straub is available to
        <a href="{{ relURL "book" }}">read online for free</a>.
        Dead tree versions are available on <a href="https://www.amazon.com/Pro-Git-Scott-Chacon/dp/1484200772?ie=UTF8&camp=1789&creative=9325&creativeASIN=1430218339&linkCode=as2&tag=git-sfconservancy-20">Amazon.com</a>.
      </p>
    </div>
  </section>
  <section id="front-downloads">
    {{ partial "monitor.html" . }}
    <table>
      <tr>
        <td nowrap="true"><a href="{{ relURL "downloads/guis" }}" class="icon gui" id="gui-link">Graphical UIs</a></td>
        <td nowrap="true"><a href="https://www.kernel.org/pub/software/scm/git/" class="icon older-releases">Tarballs</a></td>
      </tr>
      <tr>
        <td nowrap="true"><a href="{{ relURL "download/win" }}" class="icon windows" id="alt-link">Windows Build</a></td>
        <td nowrap="true"><a href="https://github.com/git/git" class="icon source">Source Code</a></td>
      </tr>
    </table>
</section>
</div>

<section id="companies-projects">
  <h3 class="text-center"> Companies &amp; Projects Using Git </h3>
  <ul>
    <li><a href="https://github.com/google" class="google">Google</a></li>
    <li><a href="https://github.com/Microsoft" class="microsoft">Microsoft</a></li>
    <li><a href="https://github.com/twitter" class="twitter">Twitter</a></li>
    <li><a href="https://github.com/linkedin" class="linked-in">LinkedIn</a></li>
    <li><a href="https://github.com/netflix" class="netflix">Netflix</a></li>
    <li><a href="https://perl5.git.perl.org/perl.git" class="perl">Perl</a></li>
    <li><a href="https://git.postgresql.org/gitweb/" class="postgresql">PostgreSQL</a></li>

    <li><a href="https://android-review.googlesource.com/#/q/status:open,n,z" class="android">Android</a></li>
    <li><a href="https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git" class="linux">Linux</a></li>
    <li><a href="https://github.com/rails/rails" class="rails">Ruby on Rails</a></li>
    <li><a href="https://code.qt.io/cgit/" class="qt">Qt</a></li>
    <li><a href="https://gitlab.gnome.org/GNOME" class="gnome">Gnome</a></li>
    <li><a href="https://git.eclipse.org/c/" class="eclipse">Eclipse</a></li>
    <li><a href="https://invent.kde.org/explore/groups" class="kde">KDE</a></li>
    <li><a href="https://cgit.freedesktop.org/xorg/xserver/" class="x">X</a></li>
</ul>
</section>
