<p>
This book is available in
  <a href="{{ relURL "book/en" }}">English</a>.
</p>
<p>
  Full translation available in
  <table>
    <tr><td><a href="{{ relURL "book/az" }}">azərbaycan dili</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/bg" }}">български език</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/de" }}">Deutsch</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/es" }}">Español</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/fr" }}">Français</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/gr" }}">Ελληνικά</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/ja" }}">日本語</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/ko" }}">한국어</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/nl" }}">Nederlands</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/ru" }}">Русский</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/sl" }}">Slovenščina</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/tl" }}">Tagalog</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/uk" }}">Українська</a></td></tr>
    <tr><td><a href="{{ relURL "book/zh" }}">简体中文</a>,</td></tr>
  </table>
</p>
<p>
  Partial translations available in
  <table>
    <tr><td><a href="{{ relURL "book/cs" }}">Čeština</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/mk" }}">Македонски</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/pl" }}">Polski</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/sr" }}">Српски</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/uz" }}">Ўзбекча</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/zh-tw" }}">繁體中文</a>,</td></tr>
  </table>
</p>
<p>
  Translations started for
  <table>
    <tr><td><a href="{{ relURL "book/be" }}">Беларуская</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/fa" }}" dir="rtl">فارسی</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/id" }}">Indonesian</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/it" }}">Italiano</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/ms" }}">Bahasa Melayu</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/pt-br" }}">Português (Brasil)</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/pt-pt" }}">Português (Portugal)</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/sv" }}">Svenska</a>,</td></tr>
    <tr><td><a href="{{ relURL "book/tr" }}">Türkçe</a>.</td></tr>
  </table>
</p>
<hr class="sidebar"/>
<p>
The source of this book is <%if @book.code == "en" %><a href="https://github.com/progit/progit2">hosted on GitHub.</a><% else %> <a href="https://github.com/<%= Book.all_books[@book.code] %>">hosted on GitHub.</a><% end %></br>
Patches, suggestions and comments are welcome.
</p>
