%p
  Download this book in
  = succeed "," do
    %a{:href => "https://github.s3.amazonaws.com/media/progit.en.pdf"} PDF
  = succeed "," do
    %a{:href => "https://github.s3.amazonaws.com/media/pro-git.en.mobi"} mobi
  or
  %a{:href => "https://github.s3.amazonaws.com/media/progit.epub"} ePub
  form for free.
