<% if @book.ebook_pdf %>
<p>Download this book in <a href="<%= @book.ebook_pdf %>">PDF</a>,
   <a href="<%= @book.ebook_mobi %>" type="application/x-mobipocket-ebook">mobi</a>,
or <a href="<%= @book.ebook_epub %>" type="application/epub+zip">ePub</a> form for free.</p>
<% end %>
