<h2>Books</h2>
<div class='two-column'>
  <div class='column-left'>
    <ul class='books-list'>
      <li>
        <a href="/book"><img src="/images/progit2.png" width="107" height="141" /></a>
        <h4><a href="/book">Pro Git</a></h4>
        <p class='description'>
          By Scott Chacon and Ben Straub
          <img class="creative-commons" src="/images/creative-commons@2x.png" width="115" height="28" />
        </p>
      </li>
      <li>
        <a href="https://www.packtpub.com/application-development/mastering-git"><img src="https://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/3754OS_3537_Mastering%20Git_0.jpg" width="107"></a>
        <h4><a href="https://www.packtpub.com/application-development/mastering-git">Mastering Git</a></h4>
        <p class='description'>
          By Jakub Narębski
        </p>
      </li>
      <li>
        <a href="https://www.manning.com/mcquaid/?a_aid=MikeMcQuaid&a_bid=5688bbf4"><img src="https://www.manning.com/mcquaid/mcquaid_cover150.jpg" width="107"></a>
        <h4><a href="https://www.manning.com/mcquaid/?a_aid=MikeMcQuaid&a_bid=5688bbf4">Git in Practice</a></h4>
        <p class='description'>
          By Mike McQuaid
        </p>
      </li>
      <li>
        <a href="https://cbx33.github.io/gitt/"><img src="/images/books/git-in-the-trenches@2x.jpg" /></a>
        <h4><a href="https://cbx33.github.io/gitt/">Git in the Trenches</a></h4>
        <p class='description'>
          By Peter Savage
          <img class="creative-commons" src="/images/creative-commons.png" />
      </li>
      <li>
        <a href="https://www.packtpub.com/git-version-control-for-everyone/book"><img src="https://www.packtpub.com/sites/default/files/7522OS_mockupcover_bg_0.jpg" width="107"/></a>
        <h4><a href="https://www.packtpub.com/git-version-control-for-everyone/book">Git: Version Control for Everyone</a></h4>
        <p class='description'>
          By Ravishankar Somasundaram
        </p>
      </li>
      <li>
        <a href="https://www.packtpub.com/application-development/git-essentials-second-edition"><img src="https://www.packtpub.com/sites/default/files/B06881.png" width="113"/></a>
        <h4><a href="https://www.packtpub.com/application-development/git-essentials-second-edition">Git Essentials - Second Edition</a></h4>
        <p class='description'>
          By Ferdinando Santacroce
        </p>
      </li>
    </ul>
  </div>
  <div class='column-right'>
    <ul class='books-list'>
      <li>
        <a href="https://www.amazon.com/Version-Control-Git-collaborative-development/dp/0596520123"><img src="/images/books/version-control-with-git@2x.jpg" width="107" height="140" /></a>
        <h4><a href="https://www.amazon.com/Version-Control-Git-collaborative-development/dp/1449316387">Version Control with Git, 2nd ed.</a></h4>
        <p class='description'>
          By Jon Loeliger &amp; Matthew McCullough
        </p>
      </li>
      <li>
        <a href="https://www.pragprog.com/titles/pg_git/pragmatic-guide-to-git"><img src="/images/books/pragmatic-guide-to-git@2x.jpg" width="107" height="162" /></a>
        <h4><a href="https://www.pragprog.com/titles/pg_git/pragmatic-guide-to-git">Pragmatic Guide to Git</a></h4>
        <p class='description'>
          By Travis Swicegood
        </p>
      </li>
      <li>
        <a href="https://www.pragprog.com/titles/tsgit/pragmatic-version-control-using-git"><img src="/images/books/pragmatic-version-control@2x.jpg" width="107" height="128" /></a>
        <h4><a href="https://www.pragprog.com/titles/tsgit/pragmatic-version-control-using-git">Pragmatic Version Control Using Git</a></h4>
        <p class='description'>
          By Travis Swicegood
        </p>
      </li>
      <li>
        <a href="https://github.com/pluralsight/git-internals-pdf/releases/download/v2.0/peepcode-git.pdf"><img src="/images/books/git-internals@2x.jpg" width="107" height="81" /></a>
        <h4><a href="https://github.com/pluralsight/git-internals-pdf/releases/download/v2.0/peepcode-git.pdf">Git Internals Peepcode PDF</a></h4>
        <p class='description'>
          By Scott Chacon
          <img class="creative-commons" src="/images/creative-commons@2x.png" width="115" height="28" />
        </p>
      </li>
      <li>
        <a href="https://www.packtpub.com/application-development/git-version-control-cookbook"><img src="https://dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/8454OS_cov.jpg" width="107"></a>
        <h4><a href="https://www.packtpub.com/application-development/git-version-control-cookbook">Git Version Control Cookbook</a></h4>
        <p class='description'>
          By Aske Olsson and Rasmus Voss
        </p>
      </li>
      <li>
        <a href="https://www.manning.com/books/learn-git-in-a-month-of-lunches"><img src="https://www.manning.com/umali/umali_cover150.jpg" width="107"></a>
        <h4><a href="https://www.manning.com/books/learn-git-in-a-month-of-lunches">Learn Git in a Month of Lunches</a></h4>
        <p class='description'>
          By Rick Umali
        </p>
      </li>
    </ul>
  </div>
</div>
