<h2>Books</h2>
<div class='two-column'>
  <div class='column-left'>
    <ul class='books-list'>
      <li>
        <a href="/book"><img src="/images/progit2.png"/></a>
        <h4><a href="/book">Pro Git</a></h4>
        <p class='description'>
          By Scott Chacon and Ben Straub
        </p>
      </li>
      <li>
        <a href="https://www.packtpub.com/application-development/mastering-git"><img src="https://static.packt-cdn.com/products/9781783553754/cover/smaller"></a>
        <h4><a href="https://www.packtpub.com/application-development/mastering-git">Mastering Git</a></h4>
        <p class='description'>
          By Jakub Narębski
        </p>
      </li>
      <li>
        <a href="https://www.manning.com/mcquaid/?a_aid=MikeMcQuaid&a_bid=5688bbf4"><img src="https://www.manning.com/mcquaid/mcquaid_cover150.jpg"></a>
        <h4><a href="https://www.manning.com/mcquaid/?a_aid=MikeMcQuaid&a_bid=5688bbf4">Git in Practice</a></h4>
        <p class='description'>
          By Mike McQuaid
        </p>
      </li>
      <li>
        <a href="https://cbx33.github.io/gitt/"><img src="/images/books/git-in-the-trenches@2x.jpg" /></a>
        <h4><a href="https://cbx33.github.io/gitt/">Git in the Trenches</a></h4>
        <p class='description'>
          By Peter Savage
      </li>
      <li>
        <a href="https://www.packtpub.com/git-version-control-for-everyone/book"><img src="https://static.packt-cdn.com/products/9781849517522/cover/smaller"/></a>
        <h4><a href="https://www.packtpub.com/git-version-control-for-everyone/book">Git: Version Control for Everyone</a></h4>
        <p class='description'>
          By Ravishankar Somasundaram
        </p>
      </li>
      <li>
        <a href="https://www.packtpub.com/application-development/git-essentials-second-edition"><img src="https://static.packt-cdn.com/products/9781787120723/cover/smaller"/></a>
        <h4><a href="https://www.packtpub.com/application-development/git-essentials-second-edition">Git Essentials - Second Edition</a></h4>
        <p class='description'>
          By Ferdinando Santacroce
        </p>
      </li>
     <li>
        <a href="https://www.packtpub.com/product/git-version-control-cookbook-second-edition/9781789137545"><img src="https://static.packt-cdn.com/products/9781789137545/cover/smaller"/></a>
        <h4><a href="https://www.packtpub.com/product/git-version-control-cookbook-second-edition/9781789137545">Git Version Control Cookbook - Second Edition</a></h4>
        <p class='description'>
          By Kenneth Geisshirt
        </p>
      </li>
      <li>
        <a href="http://gitforteams.com/"><img src="https://learning.oreilly.com/library/cover/9781491911204/250w"></a>
        <h4><a href="http://gitforteams.com/">Git for Teams</a></h4>
        <p class='description'>
          By Emma Jane Hogbin Westby
        </p>
      </li>
    </ul>
  </div>
  <div class='column-right'>
    <ul class='books-list'>
      <li>
        <a href="https://www.amazon.com/Version-Control-Git-collaborative-development/dp/0596520123"><img src="/images/books/version-control-with-git@2x.jpg"/></a>
        <h4><a href="https://www.amazon.com/Version-Control-Git-collaborative-development/dp/1449316387">Version Control with Git, 2nd ed.</a></h4>
        <p class='description'>
          By Jon Loeliger &amp; Matthew McCullough
        </p>
      </li>
      <li>
        <a href="https://www.pragprog.com/titles/pg_git/pragmatic-guide-to-git"><img src="/images/books/pragmatic-guide-to-git@2x.jpg"/></a>
        <h4><a href="https://www.pragprog.com/titles/pg_git/pragmatic-guide-to-git">Pragmatic Guide to Git</a></h4>
        <p class='description'>
          By Travis Swicegood
        </p>
      </li>
      <li>
        <a href="https://www.pragprog.com/titles/tsgit/pragmatic-version-control-using-git"><img src="/images/books/pragmatic-version-control@2x.jpg"/></a>
        <h4><a href="https://www.pragprog.com/titles/tsgit/pragmatic-version-control-using-git">Pragmatic Version Control Using Git</a></h4>
        <p class='description'>
          By Travis Swicegood
        </p>
      </li>
      <li>
        <a href="https://github.com/pluralsight/git-internals-pdf/releases/download/v2.0/peepcode-git.pdf"><img src="/images/books/git-internals@2x.jpg"/></a>
        <h4><a href="https://github.com/pluralsight/git-internals-pdf/releases/download/v2.0/peepcode-git.pdf">Git Internals Peepcode PDF</a></h4>
        <p class='description'>
          By Scott Chacon
        </p>
      </li>
      <li>
        <a href="https://www.packtpub.com/application-development/git-version-control-cookbook"><img src="https://static.packt-cdn.com/products/9781782168454/cover/smaller"></a>
        <h4><a href="https://www.packtpub.com/application-development/git-version-control-cookbook">Git Version Control Cookbook</a></h4>
        <p class='description'>
          By Aske Olsson and Rasmus Voss
        </p>
      </li>
      <li>
        <a href="https://www.manning.com/books/learn-git-in-a-month-of-lunches"><img src="https://www.manning.com/umali/umali_cover150.jpg"></a>
        <h4><a href="https://www.manning.com/books/learn-git-in-a-month-of-lunches">Learn Git in a Month of Lunches</a></h4>
        <p class='description'>
          By Rick Umali
        </p>
      </li>
      <li>
        <a href="https://www.packtpub.com/application-development/version-control-git-and-github"><img src="https://static.packt-cdn.com/products/9781789808971/cover/smaller"></a>
        <h4><a href="https://www.packtpub.com/application-development/version-control-git-and-github">Version Control with Git and GitHub</a></h4>
        <p class='description'>
          By Alex Magana, Joseph Muli
        </p>
      </li>
      <li>
        <a href="https://www.apress.com/book/9781484253120"><img src="https://media.springernature.com/w153/springer-static/cover/book/9781484253137.jpg"></a>
        <h4><a href="https://www.apress.com/book/9781484253120">Beginning Git and GitHub</a></h4>
        <p class='description'>
          By Mariot Tsitoara
        </p>
      </li>
      <li>
        <a href="https://adamchainz.gumroad.com/l/bygdx"><img src="/images/books/boost-your-git-dx@2x.jpg"></a>
        <h4><a href="https://adamchainz.gumroad.com/l/bygdx">Boost Your Git DX</a></h4>
        <p class='description'>
          By Adam Johnson
        </p>
      </li>
    </ul>
  </div>
</div>
