<p>
This book is translated into
  <a href="/book/de">Deutsch</a>,
  <a href="/book/zh">简体中文</a>,
  <a href="/book/zh-tw">正體中文</a>,
  <a href="/book/fr/v2">Français</a>,
  <a href="/book/ja">日本語</a>,
  <a href="/book/nl">Nederlands</a>,
  <a href="/book/ru">Русский</a>,
  <a href="/book/ko">한국어</a>,
  <a href="/book/pt-br">Português (Brasil)</a> and
  <a href="/book/cs">Čeština</a>.
</p>
<p>
Partial translations available in
  <a href="/book/ar">Arabic</a>,
  <a href="/book/es">Español</a>,
  <a href="/book/id">Indonesian</a>,
  <a href="/book/it">Italiano</a>,
  <a href="/book/fi">Suomi</a>,
  <a href="/book/mk">Македонски</a>,
  <a href="/book/pl">Polski</a> and
  <a href="/book/tr">Türkçe</a>.
</p>
<p>
Translations started for
  <a href="/book/az">Azərbaycan dili</a>,
  <a href="/book/be">Беларуская</a>,
  <a href="/book/ca">Català</a>,
  <a href="/book/eo">Esperanto</a>,
  <a href="/book/es-ni">Español (Nicaragua)</a>,
  <a href="/book/fa" dir="rtl">یسراف</a>,
  <a href="/book/hi">हिन्दी</a>,
  <a href="/book/hu">Magyar</a>,
  <a href="/book/no-nb">Norwegian Bokmål</a>,
  <a href="/book/ro">Română</a>,
  <a href="/book/sr">Српски</a>,
  <a href="/book/th">ภาษาไทย</a>,
  <a href="/book/vi">Tiếng Việt</a>,
  <a href="/book/uk">Українська</a> and
  <a href="/book/uz/v2">Ўзбекча</a>.

</p>
<hr class="sidebar"/>
<p>
The source of this book is <a href="https://github.com/progit/progit2">hosted on GitHub.</a></br>
Patches, suggestions and comments are welcome.
</p>
