<% @section    = 'documentation' %>
<% @subsection = 'book' %>

<div id='main'>
  <h1><%= @content.cs_number %> <%= @content.chapter.title %> - <%= @content.title %></h1>
  <div><%=raw @content.html %></div>
</div>
