- @section    = 'documentation'
- @subsection = 'book'
#main.book
  %h1 Index of Commands
  %table.commands
    - @groups.each do |title, commands|
      %tr
        %td{:colspan => "10"}
          %h2= title
      - commands.each do |cmd|
        %tr
          %th &nbsp;
          %th= cmd
          - if @related[cmd]
            - count = 0
            - @related[cmd].each do |number, slug, score|
              - count += 1
              - if count > 10
                - count = 1
        %tr
          %th &nbsp;
          %td
      %td{:nowrap => ""}
        %a{:href => "/book/en/#{slug}"}= number
        %small
          (#{score})
