<%- @section    = 'documentation' %>
<%- @subsection = 'external-links' %>
<%- @page_title = 'Git - External Links' %>

<div id='main'>
  <h1>External Links</h1>

  <%= render "ext_tutorials" %>

  <%= render "ext_books" %>

  <%= render "ext_videos" %>

  <%= render "ext_courses" %>

</div>
