- @section    = 'documentation'
- @subsection = 'external-links'
- @page_title = 'Git - External Links'
#main
  %h1 External Links
  %h2 Tutorials
  .two-column
    .column-left
      %h3 Short &amp; Sweet
      %ul.content-list
        %li
          %h4
            %a{:href => "http://gitref.org/"} Introductory Reference &amp; Tutorial
          %p.description
            This introductory walkthrough acts as a nice tutorial.
        %li
          %h4
            %a{:href => "/docs/gittutorial"} Official Git Tutorial
          %p.description
            The official gittutorial man page is a good place to start.
        %li
          %h4
            %a{:href => "/docs/everyday"} Everyday Git
          %p.description
            Learn the basics with 20 of the most common commands.
        %li
          %h4
            %a{:href => "http://gitimmersion.com/"} Git Immersion
          %p.description
            A guided tour that walks through the fundamentals of Git.
    .column-right
      %h3 Diving Deeper
      %ul.content-list
        %li
          %h4
            %a{:href => "http://hoth.entp.com/output/git_for_designers.html"} Git for Designers
          %p.description
            No knowledge of version control? No problem.
        %li
          %h4
            %a{:href => "http://eagain.net/articles/git-for-computer-scientists/"} Git for Computer Scientists
          %p.description
            A quick introduction to Git internals for people who aren't scared by words like Directed Acyclic Graph.
        %li
          %h4
            %a{:href => "http://www-cs-students.stanford.edu/~blynn/gitmagic/"} Git Magic
          %p.description
            An alternative book with the source
            = succeed "." do
              %a{:href => "http://github.com/blynn/gitmagic/tree/master"} online
        %li
          %h4
            %a{:href => "http://help.github.com/"} Help.GitHub
          %p.description
            Guides on a variety of Git and GitHub related topics.
  %h2 Books
  .two-column
    .column-left
      %ul.books-list
        %li
          %a{:href => "http://www.pragprog.com/titles/tsgit/pragmatic-version-control-using-git"}
            %img{:src => "/images/books/pragmatic-version-control.jpg"}/
          %h4
            %a{:href => "http://www.pragprog.com/titles/tsgit/pragmatic-version-control-using-git"} Pragmatic Version Control Using Git
          %p.description
            By Travis Swicegood
        %li
          %a{:href => "/book"}
            %img{:src => "/images/books/pro-git.jpg"}/
          %h4
            %a{:href => "/book"} Pro Git
          %p.description
            By Scott Chacon
            %img.creative-commons{:src => "/images/creative-commons.png"}/
        %li
          %a{:href => "http://peepcode.com/products/git-internals-pdf"}
            %img{:src => "/images/books/git-internals.jpg"}/
          %h4
            %a{:href => "http://peepcode.com/products/git-internals-pdf"} Git Internals Peepcode PDF
          %p.description
            By Scott Chacon
    .column-right
      %ul.books-list
        %li
          %a{:href => "http://www.amazon.com/Version-Control-Git-collaborative-development/dp/0596520123"}
            %img{:src => "/images/books/version-control-with-git.jpg"}/
          %h4
            %a{:href => "http://www.amazon.com/Version-Control-Git-collaborative-development/dp/0596520123"} Version Control with Git
          %p.description
            By Jon Loeliger
        %li
          %a{:href => "http://www.pragprog.com/titles/pg_git/pragmatic-guide-to-git"}
            %img{:src => "/images/books/pragmatic-guide-to-git.jpg"}/
          %h4
            %a{:href => "http://www.pragprog.com/titles/pg_git/pragmatic-guide-to-git"} Pragmatic Guide to Git
          %p.description
            By Travis Swicegood
  %h2 Videos
  .two-column
    .column-left
      %ul.video-thumbnails
        %li
          %a{:href => "http://www.youtube.com/watch?v=4XpnKHJAok8"}
            %img{:src => "/images/videos/linus.jpg"}/
          %h4
            %a{:href => "http://www.youtube.com/watch?v=4XpnKHJAok8"} Tech Talk: Linus Torvalds on Git
          %p.description
            Linus Torvalds visits Google to share his thoughts on Git, the SCM system he created.
    .column-right
      %ul.video-thumbnails
        %li
          %a{:href => "http://www.youtube.com/watch?v=ZDR433b0HJY"}
            %img{:src => "/images/videos/introgit.png"}/
          %h4
            %a{:href => "http://www.youtube.com/watch?v=ZDR433b0HJY"} Introduction to Git: Scott Chacon
          %p.description
            This talk introduces the Git Version Control System by looking at what Git is doing when you run the commands you need to do basic version control with it.
