<% @section = "manual" %>
<% @page_title = "Manual · Git" %>

<div class="flex flex-column flex-row-l ph0 ph3 ph4-m ph5-l">
  <div class="order-1 order-0-l w-100 w-75-l_ pl0-l lh-copy">
    <h1 class="f3">Manual</h1>

    <p>These are the official and comprehensive man pages that are included in the Git package itself.</p>

    <!-- Star icon -->
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star orange v-tt"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg> <span class="mid-gray f6">Frequently accessed man pages</span>

    <div class="mt4 manual-grid">
      <div class="pa3 shadow-deep br2 bg-near-white">
        <h2 class="mv0 f4 fw5 orange">Setup and config</h2>

        <h3 class="f5 mb0"><a href="/manuals/git-init">git</a></h3>
        <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

        <h3 class="f5 mb0"><a href="/manuals/git-init">config</a></h3>
        <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

        <h3 class="f5 mb0"><a href="/manuals/git-init">help</a></h3>
        <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
      </div>

      <div class="pa3 shadow-deep br2 bg-near-white">
        <h2 class="mv0 f4 fw5 orange">Getting and creating projects</h2>

        <h3 class="f5 mb0">
          <!-- Star icon -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star orange v-tt"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
          <a href="/manuals/git-init">init</a>
        </h3>
        <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

        <h3 class="f5 mb0">
          <!-- Star icon -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star orange v-tt"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
          <a href="/manuals/git-init">clone</a>
        </h3>
        <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
      </div>

      <div class="gc3 pa3 shadow-deep br2 bg-near-white">
        <h2 class="mv0 f4 fw5 orange">Basic snapshotting</h2>

        <div class="fl w-100 w-third-ns pr5">
          <h3 class="f5 mb0">
            <!-- Star icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star orange v-tt"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
            <a href="/manuals/git-init">add</a>
          </h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">status</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0">
            <!-- Star icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star orange v-tt"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
            <a href="/manuals/git-init">diff</a>
          </h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>

        <div class="fl w-100 w-third-ns ph2">
          <h3 class="f5 mb0">
            <!-- Star icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star orange v-tt"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
            <a href="/manuals/git-init">commit</a>
          </h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">reset</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>

        <div class="fl w-100 w-third-ns ph4">
          <h3 class="f5 mb0">
            <!-- Star icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star orange v-tt"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
            <a href="/manuals/git-init">rm</a>
          </h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">mv</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>
      </div>

      <div class="gc3 pa3 shadow-deep br2 bg-near-white">
        <h2 class="mv0 f4 fw5 orange">Branching and merging</h2>

        <div class="fl w-100 w-third-ns">
          <h3 class="f5 mb0">
            <!-- Star icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star orange v-tt"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
            <a href="/manuals/git-init">branch</a>
          </h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0">
            <!-- Star icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star orange v-tt"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
            <a href="/manuals/git-init">checkout</a>
          </h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">merge</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>

        <div class="fl w-100 w-third-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">mergetool</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">log</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">stash</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>

        <div class="fl w-100 w-third-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">tag</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">worktree</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>
      </div>

      <div class="gc2 pa3 shadow-deep br2 bg-near-white">
        <h2 class="mv0 f4 fw5 orange">Sharing and updating projects</h2>

        <div class="fl w-100 w-50-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">fetch</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">pull</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">push</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>

        <div class="fl w-100 w-50-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">remote</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">submodule</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>
      </div>

      <div class="gc2 pa3 shadow-deep br2 bg-near-white">
        <h2 class="mv0 f4 fw5 orange">Inspection and comparison</h2>

        <div class="fl w-100 w-50-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">show</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">log</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0">
            <a href="/manuals/git-init">diff</a>
          </h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>

        <div class="fl w-100 w-50-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">rebase</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">describe</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>
      </div>

      <div class="gc2 pa3 shadow-deep br2 bg-near-white">
        <h2 class="mv0 f4 fw5 orange">Patching</h2>

        <div class="fl w-100 w-50-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">apply</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">cherry-pick</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">diff</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>

        <div class="fl w-100 w-50-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">rebase</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">revert</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>
      </div>

      <div class="pa3 shadow-deep br2 bg-near-white">
        <h2 class="mv0 f4 fw5 orange">Debugging</h2>

        <h3 class="f5 mb0"><a href="/manuals/git-init">bisect</a></h3>
        <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

        <h3 class="f5 mb0"><a href="/manuals/git-init">blame</a></h3>
        <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

        <h3 class="f5 mb0"><a href="/manuals/git-init">grep</a></h3>
        <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
      </div>

      <div class="gc2 pa3 shadow-deep br2 bg-near-white">
        <h2 class="mv0 f4 fw5 orange">Email</h2>

        <div class="fl w-100 w-50-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">am</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">apply</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">format-patch</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>

        <div class="fl w-100 w-50-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">send-email</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">request-pull</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>
      </div>

      <div class="pa3 shadow-deep br2 bg-near-white">
        <h2 class="mv0 f4 fw5 orange">External systems</h2>

        <h3 class="f5 mb0"><a href="/manuals/git-init">svn</a></h3>
        <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

        <h3 class="f5 mb0"><a href="/manuals/git-init">fast-import</a></h3>
        <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
      </div>

      <div class="pa3 shadow-deep br2 bg-near-white">
        <h2 class="mv0 f4 fw5 orange">Server admin</h2>

        <h3 class="f5 mb0"><a href="/manuals/git-init">daemon</a></h3>
        <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

        <h3 class="f5 mb0"><a href="/manuals/git-init">update-server-info</a></h3>
        <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
      </div>

      <div class="gc3 pa3 shadow-deep br2 bg-near-white">
        <h2 class="mv0 f4 fw5 orange">Guides</h2>

        <div class="fl w-100 w-third-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">gitattributes</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">Everyday Git</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">Glossary</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>

        <div class="fl w-100 w-third-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">gitignore</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">gitmodules</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">Revisions</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>

        <div class="fl w-100 w-third-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">Tutorial</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">Workflows</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>
      </div>

      <div class="gc3 pa3 shadow-deep br2 bg-near-white">
        <h2 class="mv0 f4 fw5 orange">Administration</h2>

        <div class="fl w-100 w-third-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">clean</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">gc</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">fsck</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>

        <div class="fl w-100 w-third-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">reflog</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">filter-branch</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">instaweb</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>

        <div class="fl w-100 w-third-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">archive</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">bundle</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>
      </div>

      <div class="gc3 pa3 shadow-deep br2 bg-near-white">
        <h2 class="mv0 f4 fw5 orange">Plumbing commands</h2>

        <div class="fl w-100 w-third-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">cat-file</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">check-ignore</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">checkout-index</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">commit-tree</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">count-objects</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">diff-index</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">for-each-ref</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

        </div>
        <div class="fl w-100 w-third-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">hash-object</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">ls-files</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">merge-base</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">read-tree</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">rev-list</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">rev-parse</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>

        <div class="fl w-100 w-third-ns">
          <h3 class="f5 mb0"><a href="/manuals/git-init">show-ref</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">symbolic-ref</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">update-index</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">update-ref</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">verify-pack</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>

          <h3 class="f5 mb0"><a href="/manuals/git-init">write-tree</a></h3>
          <p class="mv1 f6 mid-gray">Create an empty Git repository or reinitialize an existing one</p>
        </div>
      </div>
    </div>
  </div>
</div>
