<% @section    = 'documentation' %>
<% @subsection = 'reference' %>

<% cache @doc do %>
  <% content_for :sidebar do %>
    <%= render 'shared/related' %>
  <% end %>

  <div class="reference-version">
    <%= render 'doc/topics' %>
    <%= render 'doc/versions' %>
  </div>

  <div class="site-content">
    <%=raw @doc.html %>
  </div>
<% end %>
