<ol id='reference-nav'>
  <li class='topics'>
    <a href="#">Topics ▾</a>
  </li>
  <li><a href="javascript:void(0);">A</a></li>
  <li><a href="javascript:void(0);">B</a></li>
  <li><a href="javascript:void(0);">C</a></li>
  <li><a href="javascript:void(0);">D</a></li>
  <li><span>E</span></li>
  <li><a href="javascript:void(0);">F</a></li>
  <li><a href="javascript:void(0);">G</a></li>
  <li><a href="javascript:void(0);">H</a></li>
  <li><a href="javascript:void(0);">I</a></li>
  <li><span>J</span></li>
  <li><span>K</span></li>
  <li><a href="javascript:void(0);">L</a></li>
  <li><a href="javascript:void(0);">M</a></li>
  <li><a href="javascript:void(0);">N</a></li>
  <li><span>O</span></li>
  <li><a href="javascript:void(0);">P</a></li>
  <li><a href="javascript:void(0);">Q</a></li>
  <li><a href="javascript:void(0);">R</a></li>
  <li><a href="javascript:void(0);">S</a></li>
  <li><a href="javascript:void(0);">T</a></li>
  <li><a href="javascript:void(0);">U</a></li>
  <li><a href="javascript:void(0);">V</a></li>
  <li><a href="javascript:void(0);">W</a></li>
  <li><span>X</span></li>
  <li><span>Y</span></li>
  <li><span>Z</span></li>
</ol>
<div id='main'>
  <%= render 'doc/example' %>
</div>
