<% @section = "manual" %>

<% cache @doc do %>
  <div class="flex flex-column flex-row-l ph0 ph3 ph4-m ph5-l">
    <div class="order-1 order-0-l w-100 w-75-l pl0-l pr5-l">
      <div class="flex justify-between">
        <div class="w-100">
          <%= render 'doc/versions' %>
        </div>
      </div>
      <%= raw @doc.html %>
    </div>

    <!-- Sidebar links -->
    <div class="nl4 nr4 ml0-l mr0-l order-0 order-1-l w-25-l mb3 mb0-l bb bb-0-l b--moon-gray details-container js-details-container">
      <button type="button" class="button-reset pointer bg-dark-tan link blue b pv3 ph4 bw0 w-100 tl db dn-l f5 js-details-target">
        Manual topics
      </button>
      <div class="bg-dark-tan dn db-l pv0 pv3-l ph4 br2 lh-copy max-vh-50 max-vh-none-l overflow-scroll details-content">
        <%= render 'doc/topics' %>
      </div>
    </div>
  </div>
<% end %>
