<div id='main'>
  <h1>Reference</h1>
  <div class='callout quickref'>
    <p>
      Quick reference guides:
      <a href="javascript:void(0);">DZone RefCard</a>
      <small class='light'>(PDF) &nbsp;|&nbsp;</small>
      <a href="javascript:void(0);">Visual Git Cheat Sheet</a>
      <small class='light'>(SVG | PNG)</small>
    </p>
  </div>
  <div class='two-column'>
    <div class='column-left'>
      <h3>Setup and Config</h3>
      <ul class='unstyled'>
        <li><a href="javascript:void(0);">config</a></li>
        <li><a href="javascript:void(0);">help</a></li>
      </ul>
      <h3>Getting and Creating Projects</h3>
      <ul class='unstyled'>
        <li><a href="javascript:void(0);">init</a></li>
        <li><a href="javascript:void(0);">clone</a></li>
      </ul>
      <h3>Basic Snapshotting</h3>
      <ul class='unstyled'>
        <li><a href="javascript:void(0);">add</a></li>
        <li><a href="javascript:void(0);">status</a></li>
        <li><a href="javascript:void(0);">diff</a></li>
        <li><a href="javascript:void(0);">commit</a></li>
        <li><a href="javascript:void(0);">reset</a></li>
        <li><a href="javascript:void(0);">rm</a></li>
        <li><a href="javascript:void(0);">mv</a></li>
      </ul>
      <h3>Branching and Merging</h3>
      <ul class='unstyled'>
        <li><a href="javascript:void(0);">branch</a></li>
        <li><a href="javascript:void(0);">checkout</a></li>
        <li><a href="javascript:void(0);">merge</a></li>
        <li><a href="javascript:void(0);">mergetool</a></li>
        <li><a href="javascript:void(0);">log</a></li>
        <li><a href="javascript:void(0);">stash</a></li>
        <li><a href="javascript:void(0);">tag</a></li>
      </ul>
      <h3>Sharing and Updating Projects</h3>
      <ul class='unstyled'>
        <li><a href="javascript:void(0);">fetch</a></li>
        <li><a href="javascript:void(0);">pull</a></li>
        <li><a href="javascript:void(0);">push</a></li>
        <li><a href="javascript:void(0);">remote</a></li>
        <li><a href="javascript:void(0);">submodule</a></li>
      </ul>
      <h3>Inspection and Comparison</h3>
      <ul class='unstyled'>
        <li><a href="javascript:void(0);">show</a></li>
        <li><a href="javascript:void(0);">log</a></li>
        <li><a href="javascript:void(0);">diff</a></li>
        <li><a href="javascript:void(0);">shortlog</a></li>
        <li><a href="javascript:void(0);">describe</a></li>
      </ul>
      <h3>Patching</h3>
      <ul class='unstyled'>
        <li><a href="javascript:void(0);">am</a></li>
        <li><a href="javascript:void(0);">apply</a></li>
        <li><a href="javascript:void(0);">cherry-pick</a></li>
        <li><a href="javascript:void(0);">rebase</a></li>
      </ul>
    </div>
    <div class='column-right'>
      <h3>Debugging</h3>
      <ul class='unstyled'>
        <li><a href="javascript:void(0);">bisect</a></li>
        <li><a href="javascript:void(0);">blame</a></li>
      </ul>
      <h3>Email</h3>
      <ul class='unstyled'>
        <li><a href="javascript:void(0);">am</a></li>
        <li><a href="javascript:void(0);">apply</a></li>
        <li><a href="javascript:void(0);">format-patch</a></li>
        <li><a href="javascript:void(0);">send-email</a></li>
        <li><a href="javascript:void(0);">request-pull</a></li>
      </ul>
      <h3>External Systems</h3>
      <ul class='unstyled'>
        <li><a href="javascript:void(0);">svn</a></li>
        <li><a href="javascript:void(0);">fast-import</a></li>
      </ul>
      <h3>Administration</h3>
      <ul class='unstyled'>
        <li><a href="javascript:void(0);">gc</a></li>
        <li><a href="javascript:void(0);">fsck</a></li>
        <li><a href="javascript:void(0);">reflog</a></li>
        <li><a href="javascript:void(0);">filter-branch</a></li>
        <li><a href="javascript:void(0);">instaweb</a></li>
        <li><a href="javascript:void(0);">archive</a></li>
      </ul>
      <h3>Server Admin</h3>
      <ul class='unstyled'>
        <li><a href="javascript:void(0);">daemon</a></li>
        <li><a href="javascript:void(0);">update-server-info</a></li>
      </ul>
      <h3>Plumbing Commands</h3>
      <ul class='unstyled'>
        <li><a href="javascript:void(0);">cat-file</a></li>
        <li><a href="javascript:void(0);">commit-tree</a></li>
        <li><a href="javascript:void(0);">count-objects</a></li>
        <li><a href="javascript:void(0);">diff-index</a></li>
        <li><a href="javascript:void(0);">hash-object</a></li>
        <li><a href="javascript:void(0);">merge-base</a></li>
        <li><a href="javascript:void(0);">read-tree</a></li>
        <li><a href="javascript:void(0);">rev-list</a></li>
        <li><a href="javascript:void(0);">rev-parse</a></li>
        <li><a href="javascript:void(0);">show-ref</a></li>
        <li><a href="javascript:void(0);">symbolic-ref</a></li>
        <li><a href="javascript:void(0);">update-index</a></li>
        <li><a href="javascript:void(0);">update-ref</a></li>
        <li><a href="javascript:void(0);">verify-pack</a></li>
        <li><a href="javascript:void(0);">write-tree</a></li>
      </ul>
    </div>
  </div>
</div>
