<% @section    = 'documentation' %>
<% @subsection = 'videos' %>

<div id='main'>
  <h1>Videos</h1>
  <p>
    A short introductory paragraph here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </p>
  <div class='two-column'>
    <div class='column-left'>
      <ul class='video-thumbnails'>
        <li>
          <a href="javascript:void(0);"><img src="/images/tmp/screencast-thumbnail.png" /></a>
          <h4><a href="javascript:void(0);">Name of this Screencast</a></h4>
          <p class='description'>
            <strong>Length:</strong> 7:18
          </p>
        </li>
        <li>
          <a href="javascript:void(0);"><img src="/images/tmp/screencast-thumbnail.png" /></a>
          <h4><a href="javascript:void(0);">Name of this Screencast</a></h4>
          <p class='description'>
            <strong>Length:</strong> 7:18
          </p>
        </li>
        <li>
          <a href="javascript:void(0);"><img src="/images/tmp/screencast-thumbnail.png" /></a>
          <h4><a href="javascript:void(0);">Name of this Screencast</a></h4>
          <p class='description'>
            <strong>Length:</strong> 7:18
          </p>
        </li>
        <li>
          <a href="javascript:void(0);"><img src="/images/tmp/screencast-thumbnail.png" /></a>
          <h4><a href="javascript:void(0);">Name of this Screencast</a></h4>
          <p class='description'>
            <strong>Length:</strong> 7:18
          </p>
        </li>
      </ul>
    </div>
    <div class='column-right'>
      <ul class='video-thumbnails'>
        <li>
          <a href="javascript:void(0);"><img src="/images/tmp/screencast-thumbnail.png" /></a>
          <h4><a href="javascript:void(0);">Name of this Screencast</a></h4>
          <p class='description'>
            <strong>Length:</strong> 7:18
          </p>
        </li>
        <li>
          <a href="javascript:void(0);"><img src="/images/tmp/screencast-thumbnail.png" /></a>
          <h4><a href="javascript:void(0);">Name of this Screencast</a></h4>
          <p class='description'>
            <strong>Length:</strong> 7:18
          </p>
        </li>
        <li>
          <a href="javascript:void(0);"><img src="/images/tmp/screencast-thumbnail.png" /></a>
          <h4><a href="javascript:void(0);">Name of this Screencast</a></h4>
          <p class='description'>
            <strong>Length:</strong> 7:18
          </p>
        </li>
        <li>
          <a href="javascript:void(0);"><img src="/images/tmp/screencast-thumbnail.png" /></a>
          <h4><a href="javascript:void(0);">Name of this Screencast</a></h4>
          <p class='description'>
            <strong>Length:</strong> 7:18
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
