<div class="dlist">
  <dl>
    <% content.each do |dt, dd| %>
      <dt class="hdlist1"><%= dt %></dt>
      <% unless dd.nil? || dd.empty? %>
        <dd><%= dd %></dd>
      <% end %>
    <% end %>
  </dl>
</div>
