- @section = "downloads"
- @subsection = "installers"

- content_for :sidebar do
  %div.callout
    %p
      The entire <strong><a href="#">Pro Git book</a></strong> written by Scott Chacon and Ben Straub is available to <a href="#">read online for free</a>. Dead tree versions are available on <a href="#">Amazon.com</a>.

%div#main
  %h1 Git Installers

  %div.two-column
    %div.column-left
      %div.callout
        %table.binaries
          %tr
            %td
              %strong Debian
            %td
              =link_to "Stable", "http://packages.debian.org/stable/devel/git"
              <span class="light">|</span>
              =link_to "Testing", "http://packages.debian.org/testing/devel/git"
              <span class="light">|</span>
              =link_to "Unstable", "http://packages.debian.org/unstable/devel/git"
          %tr
            %td
              %strong Windows
            %td
              =link_to "Stable", "https://github.com/git-for-windows/git/releases"
              <span class="light">|</span>
              =link_to "Cygwin", "http://www.cygwin.com/setup.exe"
          %tr
            %td
              %strong Mac
            %td
              =link_to "Stable", "http://sourceforge.net/projects/git-osx-installer/files/"
          %tr
            %td
              %strong Solaris
            %td
              =link_to "v8-10", "http://sunfreeware.com"
              <span class="light">|</span>
              =link_to "v9-10", "http://opencsw.org/packages/git/"

      %p
        <a href="https://www.kernel.org/pub/software/scm/git/">Older releases</a> are available and the <a href="https://github.com/gitster/git">Git source repository</a> is on GitHub.

      %p
        Daily snapshots of the main Git development branch are available at <a href="http://codemonkey.org">codemonkey.org</a>.

    %div.column-right
      = partial 'shared/monitor'


  %h2 Git via Git

  %p
    If you already have Git installed, you can get the latest development version via Git itself:

  %code
    git clone git://github.com/gitster/git.git

  %p
    If you have problems connecting (Git uses port 9418), you can try to access the repository over the HTTP protocol:

  %code
    git clone https://github.com/gitster/git.git

  %p
    You can also always browse the current contents of the git repository using either the <a href="#">gitweb or <a href="#">GitHub</a> web interface.
