- @section = "downloads"
- @subsection = "installers"

- content_for :sidebar do
  %div.callout
    %p
      The entire <strong><a href="#">Pro Git book</a></strong> written by Scott Chacon is available to <a href="#">read online for free</a>. Dead tree versions are available on <a href="#">Amazon.com</a>.

%div#main

  %div.two-column
    %div.column-left
      %h1 Git Installers
      %div.callout
        %table.binaries
          %tr
            %td
              %strong Mac
            %td 
              =link_to "Stable", "https://github.com/timcharper/git_osx_installer/downloads"
          %tr
            %td 
              %strong Windows
            %td 
              =link_to "Stable", "http://code.google.com/p/msysgit/downloads/list?can=3"
          %tr
            %td
              %strong Debian
            %td
              =link_to "Stable", "http://packages.debian.org/stable/devel/git" 
              <span class="light">|</span>
              =link_to "Testing", "http://packages.debian.org/testing/devel/git" 
              <span class="light">|</span>
              =link_to "Unstable", "http://packages.debian.org/unstable/devel/git"
          %tr
            %td 
              %strong Solaris
            %td 
              =link_to "v9-10", "http://opencsw.org/packages/git/"

      %p
        <a href="http://code.google.com/p/git-core/downloads/list">Older releases</a> are available on Google Code 
        and a <a href="https://github.com/git/git">Git source repository</a> mirror is on GitHub.

    %div.column-right
      = partial 'shared/monitor'

  %h2 Git via Git

  %p
    If you already have Git installed, you can get the latest development version via Git itself:

  %code
    git clone https://github.com/git/git

  %p
    You can also always browse the current contents of the Git repository using the <a href="https://github.com/git/git">web interface</a>.
