<div id="main">
  <h1>About git-scm.com</h1>

  This site is open source and maintained by members of the Git
  community.  We welcome patches, suggestions, and corrections.

  <h2>Open Source</h2>

  The content on this site is pulled from multiple sources. It is
  available under various licenses, and bugs reports should be directed
  to the appropriate repositories:

  <ul>

    <li>Most of the "base" site content is hosted in the
    <a href="https://github.com/git/git-scm.com">git/git-scm.com</a>
    repository at GitHub. That includes all pages except the book and
    manpages, along with the general design of the site. This content
    is available under the
    <a href="https://github.com/git/git-scm.com/blob/master/MIT-LICENSE.txt">MIT license</a>.
    Bug reports and suggestions may be made in that repository.

    <li>Content from the ProGit book is imported from the
    <a href="https://github.com/progit/progit2">progit/progit2</a>
    repository, which is available under a Creative Commons
    <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC-BY-NC-SA</a>
    license, <a href="https://github.com/progit/progit2/blob/master/LICENSE.asc">
    as specified in the progit2 repository</a>.
    Bug reports and suggestions may be made in the progit2 repository.

    <li>The reference manual is imported from the Git project, and is
    available under the <a href="https://github.com/git/git/blob/master/COPYING">GPL</a>.
    Bug reports and suggestions should be made to the upstream
    <a href="/community">Git community</a>.

    <li>Bugs in the Git software itself should similarly go to the
    <a href="/community">Git community</a>.

  </ul>

  <h2>Authors</h2>

  <p>This site was originally conceived and written by
  <a href="https://github.com/schacon">Scott Chacon</a>.
  Much of the current visual design is the work of
  <a href="https://github.com/jasonlong">Jason Long</a>.
  The site is currently collaboratively maintained in the
  <a href="https://github.com/git/git-scm.com">git-scm.com</a>
  repository at GitHub.

  <p>Credit also goes to the many contributors, bug reporters, and
  maintainers over the years, both in this repository and in others from
  which we pull content. See the individual repository histories for a
  complete list.

  <h2>Sponsors</h2>

  We are grateful to the companies which have donated resources and
  services to keep the site running, including:

  <ul>
    <li><a href="https://heroku.com">Heroku</a>
    <li><a href="https://cloudflare.com">Cloudflare</a>
    <li><a href="https://bonsai.io/">Bonsai</a>
  </ul>

  For a detailed view of the site's network layout, see our
  <a href="https://github.com/git/git-scm.com/blob/master/ARCHITECTURE.md">architecture document</a>.

</div>
