<div id='main'>
  <h1>Admin Page</h1>

  <table>
  <% @downloads.each do |down| %>
    <tr>
      <td><%= down.version.name %></td>
      <td><%= down.platform %></td>
    </tr>
  <% end %>
  </table>
</div>
