<div class="hero-unit">

  <div class="row">
    <div class="span6">
      <p>Git is a <strong>free</strong> & <strong>open source, distributed version control system</strong>
      designed to handle everything from small to very large projects
      with speed and efficiency.</p>

      <p>Git is easy to learn, has lightning fast performance and a tiny footprint.
      It outclasses SCM tools like Subversion, CVS, Perforce, ClearCase and Team
      Foundation Server with features like cheap local branching, simple merging,
      distributed workflows and convenient staging areas.</p>
    </div>
    <div class="span4">
      <img src="/images/mocks/awesome-branch-mock.jpg">
    </div>
  </div>

</div>

<div class="row">
  <div class="span7">
    <a href="/doc"><img src="/images/mocks/menu-mock.jpg"></a>
  </div>
  <div class="span5">
    <img src="/images/mocks/download-mock.jpg">
  </div>
</div>

<div class="row">
  <div class="span7">
    <h2>Projects Using Git</h2>
    <img src="/images/mocks/projects-mock.jpg">
  </div>
  <div class="span5">
    <div class="book">
      <div>
        <img src="/images/book.png">
        <p>The entire Pro Git book written by Scott Chacon is
        available to read online for free. Dead tree versions
        are available on Amazon.com.</p>
      </div>
    </div>
  </div>
</div>

