<h3 class="f5 fw6">Debugging</h3>
<ul class="list pl0">
  <li><%= man("git-bisect", :class => "link hover-u blue") %></li>
  <li><%= man("git-blame", :class => "link hover-u blue") %></li>
  <li><%= man("git-grep", :class => "link hover-u blue") %></li>
</ul>
