<h3 class="f5 fw6">Server admin</h3>
<ul class="list pl0">
  <li><%= man("git-daemon", :class => "link hover-u blue") %></li>
  <li><%= man("git-update-server-info", :class => "link hover-u blue") %></li>
</ul>
