<% @section    = 'blog' %>
<% @newest = list_posts.first %>
<% @newest_content = preview_post(@newest[:file]) %>
<% @page_title = "Git - #{@newest_content[1]['title']}" %>

<% content_for :sidebar do %>
 <%= render 'list' %>
<% end %>

<div id="main" class="book">
  <h1>
    <%= @newest_content[1]['title'] %>
    <% unless author = @newest_content[1]['author'] %>
      <small class="subheader">
        by <%= author %>
      </small>
    <% end %>
  </h1>
  <%= raw @newest_content[0] %>
</div>
