<% @section     = 'blog' %>
<% @page_title = @frontmatter['title'] %>

<% content_for :sidebar do %>
  <%= render 'list' %>
<% end %>

<div id="main" class="book">
  <h1>
    <%= @frontmatter['title'] %>
    <% unless @frontmatter['author'].nil? %>
      <small class="subheader">
        by <%= @frontmatter['author'] %>
      </small>
    <% end %>
  </h1>
  <%= raw @content %>
</div>
