- @section    = 'blog'

-content_for :sidebar do
  = render 'list'
  
%div#main.book
  %h1 
    =@frontmatter['title']
    %small.subheader
      = "by #{@frontmatter['author']}" unless @frontmatter['author'].nil?
  ~raw @content
