<% @section    = 'blog' %>

<% content_for :sidebar do %>
  <%= render 'list' %>
<% end %>

<div id="main" class="book">
  <h1>
    <%= @frontmatter['title'] %>
    <% unless author = @frontmatter['author'] %>
      <small class="subheader">
        by <%= author %>
      </small>
    <% end %>
  </h1>
  <%= raw @content %>
</div>
