  <section class="about" id="free-and-open-source" style="display: none;">
    <h2>Free and Open Source</h2>
    <p>Git is released under the <a href="http://opensource.org/licenses/GPL-2.0"
	>GNU General Public License version 2.0</a>, which is an
	<a href="http://www.opensource.org/docs/osd">open source license</a>.
	The Git project chose to use GPLv2 to guarantee your freedom to
	share and change free software---to make sure the software is
	free for all its users.</p>

    <p>However, we do restrict the use of the term "Git" and the
       <a href="/downloads/logos">logos</a> to avoid confusion. Please
       see our <a href="/trademark">trademark</a> policy for
       details.</p>

    <div class="bottom-nav" style="display: block;">
      <a href="#staging-area" class="previous" data-section-id="staging-area">← Staging Area</a>
    </div>
  </section>

