  <section class="about" id="small-and-fast" style="display: none;">

    <h2>Small and Fast</h2>
    
    <p>
      <strong>Git is fast</strong>. With Git, nearly all operations are performed locally, giving it a huge speed advantage on centralized systems that constantly have to communicate with a server somewhere.
    </p>
    
    <p>
      Git was built to work on the Linux kernel, meaning that it has had to effectively handle large repositories from day one. Git is written in C, reducing the overhead of runtimes associated with higher-level languages. Speed and performance has been a primary design goal of the Git from the start.
    </p>
    
    <h3>Benchmarks</h3>
    
    <p>
      Let's see how common operations stack up against
      Subversion, a common centralized version control system that is similar
      to CVS or Perforce. <em>Smaller is faster.</em>
    </p>
    
    <table width="100%">
      <tbody>
        <tr>
          <td>
            <img src="https://chart.googleapis.com/chart?chxt=x&amp;cht=bvs&amp;chl=git|svn&amp;chd=t:0.649,2.6&amp;chds=0,2.6&amp;chs=100x125&amp;chco=E09FA0|E05F49&amp;chf=bg,s,fcfcfa&amp;chtt=Commit A" alt="init benchmarks">
          </td>
          <td>
            <img src="https://chart.googleapis.com/chart?chxt=x&amp;cht=bvs&amp;chl=git|svn&amp;chd=t:1.53,24.7&amp;chds=0,24.7&amp;chs=100x125&amp;chco=E09FA0|E05F49&amp;chf=bg,s,fcfcfa&amp;chtt=Commit B" alt="init benchmarks">
          </td>
          <td>
            <img src="https://chart.googleapis.com/chart?chxt=x&amp;cht=bvs&amp;chl=git|svn&amp;chd=t:0.257,1.09&amp;chds=0,1.09&amp;chs=100x125&amp;chco=E09FA0|E05F49&amp;chf=bg,s,fcfcfa&amp;chtt=Diff Curr" alt="init benchmarks">
          </td>
          <td>
            <img src="https://chart.googleapis.com/chart?chxt=x&amp;cht=bvs&amp;chl=git|svn&amp;chd=t:0.248,3.99&amp;chds=0,3.99&amp;chs=100x125&amp;chco=E09FA0|E05F49&amp;chf=bg,s,fcfcfa&amp;chtt=Diff Rec" alt="init benchmarks">
          </td>
          <td>
            <img src="https://chart.googleapis.com/chart?chxt=x&amp;cht=bvs&amp;chl=git|svn&amp;chd=t:1.17,83.57&amp;chds=0,83.57&amp;chs=100x125&amp;chco=E09FA0|E05F49&amp;chf=bg,s,fcfcfa&amp;chtt=Diff Tags" alt="init benchmarks">
          </td>
          <td>
            <img src="https://chart.googleapis.com/chart?chxt=x&amp;cht=bvs&amp;chl=git*|git|svn&amp;chd=t:21.0,107.5,14.0&amp;chds=0,107.5&amp;chs=100x125&amp;chco=E09FA0|E09FA0|E05F49&amp;chf=bg,s,fcfcfa&amp;chtt=Clone" alt="init benchmarks">
          </td>
        </tr>
        <tr>
          <td>
            <img src="https://chart.googleapis.com/chart?chxt=x&amp;cht=bvs&amp;chl=git|svn&amp;chd=t:0.012,0.381&amp;chds=0,0.381&amp;chs=100x125&amp;chco=E09FA0|E05F49&amp;chf=bg,s,fcfcfa&amp;chtt=Log (50)" alt="init benchmarks">
          </td>
          <td>
            <img src="https://chart.googleapis.com/chart?chxt=x&amp;cht=bvs&amp;chl=git|svn&amp;chd=t:0.519,169.197&amp;chds=0,169.197&amp;chs=100x125&amp;chco=E09FA0|E05F49&amp;chf=bg,s,fcfcfa&amp;chtt=Log (All)" alt="init benchmarks">
          </td>
          <td>
            <img src="https://chart.googleapis.com/chart?chxt=x&amp;cht=bvs&amp;chl=git|svn&amp;chd=t:0.601,82.843&amp;chds=0,82.843&amp;chs=100x125&amp;chco=E09FA0|E05F49&amp;chf=bg,s,fcfcfa&amp;chtt=Log (File)" alt="init benchmarks">
          </td>
          <td>
            <img src="https://chart.googleapis.com/chart?chxt=x&amp;cht=bvs&amp;chl=git|svn&amp;chd=t:0.896,2.816&amp;chds=0,2.816&amp;chs=100x125&amp;chco=E09FA0|E05F49&amp;chf=bg,s,fcfcfa&amp;chtt=Update" alt="init benchmarks">
          </td>
          <td>
            <img src="https://chart.googleapis.com/chart?chxt=x&amp;cht=bvs&amp;chl=git|svn&amp;chd=t:1.91,3.04&amp;chds=0,3.04&amp;chs=100x125&amp;chco=E09FA0|E05F49&amp;chf=bg,s,fcfcfa&amp;chtt=Blame" alt="init benchmarks">
          </td>
          <td>
            <img src="https://chart.googleapis.com/chart?chxt=x&amp;cht=bvs&amp;chl=git|svn&amp;chd=t:181,132&amp;chds=0,181&amp;chs=100x125&amp;chco=E09FA0|E05F49&amp;chf=bg,s,fcfcfa&amp;chtt=Size" alt="init benchmarks">
          </td>
        </tr>
      </tbody>
    </table>

    <p>
      For testing, large AWS instances were set up in the same availability zone.
      Git and SVN were installed on both machines, the Ruby repository was copied to
      both Git and SVN servers, and common operations were performed on both.
    </p>

    <p>
      In some cases the commands don't match up exactly. Here, matching on the lowest
      common denominator was attempted. For example, the 'commit' tests also include
      the time to push for Git, though most of the time you would not actually be pushing
      to the server immediately after a commit where the two commands cannot be separated
      in SVN.
    </p>

    <p>
      All of these times are in seconds.
    </p>

    <table class="benchmarks">
      <tbody>
        <tr>
          <th>Operation</th>
          <th></th>
          <th class="right">Git</th>
          <th class="right">SVN</th>
        </tr>
        <tr><td nowrap="">Commit Files (A)</td><td class="desc">Add, commit and push 113 modified files (2164+, 2259-)</td><td class="number"> 0.64</td><td class="number"> 2.60</td><td class="number">4x</td></tr>
        <tr><td nowrap="">Commit Images (B)</td><td class="desc">Add, commit and push 1000 1k images</td><td class="number"> 1.53</td><td class="number">24.70</td><td class="number">16x</td></tr>
        <tr><td nowrap="">Diff Current</td><td class="desc">Diff 187 changed files (1664+, 4859-) against last commit</td><td class="number"> 0.25</td><td class="number"> 1.09</td><td class="number">4x</td></tr>
        <tr><td nowrap="">Diff Recent</td><td class="desc">Diff against 4 commits back (269 changed/3609+,6898-)</td><td class="number"> 0.25</td><td class="number"> 3.99</td><td class="number">16x</td></tr>
        <tr><td nowrap="">Diff Tags</td><td class="desc">Diff two tags against each other (v1.9.1.0/v1.9.3.0 )</td><td class="number"> 1.17</td><td class="number">83.57</td><td class="number">71x</td></tr>
        <tr><td nowrap="">Log (50)</td><td class="desc">Log of the last 50 commits (19k of output)</td><td class="number"> 0.01</td><td class="number"> 0.38</td><td class="number">31x</td></tr>
        <tr><td nowrap="">Log (All)</td><td class="desc">Log of all commits (26,056 commits - 9.4M of output)</td><td class="number"> 0.52</td><td class="number">169.20</td><td class="number">325x</td></tr>
        <tr><td nowrap="">Log (File)</td><td class="desc">Log of the history of a single file (array.c - 483 revs)</td><td class="number"> 0.60</td><td class="number">82.84</td><td class="number">138x</td></tr>
        <tr><td nowrap="">Update</td><td class="desc">Pull of Commit A scenario (113 files changed, 2164+, 2259-)</td><td class="number"> 0.90</td><td class="number"> 2.82</td><td class="number">3x</td></tr>
        <tr><td nowrap="">Blame</td><td class="desc">Line annotation of a single file (array.c)</td><td class="number"> 1.91</td><td class="number"> 3.04</td><td class="number">1x</td></tr>
      </tbody>
    </table>
    
    <p>
      Note that this is the best case scenario for SVN - a server with no load with an
      80MB/s bandwidth connection to the client machine.  Nearly all of these
      times would be even worse for SVN if that connection was slower, while
      many of the Git times would not be affected.
    </p>

    <p>
      Clearly, in many of these common version control operations, <strong>Git is
      one or two orders of magnitude faster than SVN</strong>, even under ideal conditions
      for SVN.
    </p>
    
    <p>
      One place where Git is slower is in the initial clone operation.
      Here, Git is downloading the entire history rather than only the latest
      version. As seen in the above charts, it's not considerably slower for an operation
      that is only performed once.
    </p>
    
    <table class="benchmarks">
      <tbody>
        <tr>
          <th>Operation</th>
          <th></th>
          <th class="right">Git*</th>
          <th class="right">Git</th>
          <th class="right">SVN</th>
        </tr>
        <tr><td nowrap="">Clone</td><td class="desc">Clone and shallow clone(*) in Git vs checkout in SVN</td><td class="number"> 21.0</td><td class="number">107.5</td><td class="number"> 14.0</td></tr>
        <tr><td nowrap="">Size (M)</td><td class="desc">Size of total client side data and files after clone/checkout (in M)</td><td></td><td class="number">181.0</td><td class="number">132.0</td></tr>
      </tbody>
    </table>
    
    <p>
      It's also interesting to note that the size of the data on the client side
      is very similar even though Git also has every version of every file for the
      entire history of the project. This illustrates how efficient it is at compressing
      and storing data on the client side.
    </p>
    
    <div class="bottom-nav" style="display: block;">
      <a href="#branching-and-merging" class="previous" data-section-id="branching-and-merging">← Branching and Merging</a>
      <a href="#distributed" class="next" data-section-id="distributed">Distributed →</a>
    </div>

  </section>

