<%- @section = "about" %>
<%- @page_title = "About · Data assurance · Git" %>

<div class="flex flex-column flex-row-l ph0 ph4-m ph5-l">
  <div class="w-100 w-75-l ph3 pl0-l pr5-l lh-copy">
    <h2 class="f3">Data assurance</h2>

    <p>
      The data model that Git uses ensures the cryptographic integrity of every bit of your project. Every file and commit is checksummed and retrieved by its checksum when checked back out. It's impossible to get anything out of Git other than the <strong>exact bits you put in</strong>.
    </p>

    <img height="522" src="/images/assurance@2x.png" width="628">

    <p>
      It is also impossible to change any file, date, commit message, or any other data in a Git repository without changing the IDs of everything after it. This means that if you have a commit ID, you can be assured not only that your project is exactly the same as when it was committed, but that nothing in its history was changed.
    </p>

    <p>Most centralized version control systems provide no such integrity by default.</p>

    <div class="flex flex-row justify-between mt4">
      <a href="/about/distributed" class="b">← Distributed</a>
      <a href="/about/staging-area" class="b">Staging area →</a>
    </div>
  </div>

  <div class="w-25-l dn db-l">
    <div class="bg-dark-tan pv3 ph4-l br2">
      <%= render partial: "about_nav" %>
    </div>
  </div>
</div>
