<%- @section = "about" %>
<%- @page_title = "About · Free and open source· Git" %>

<div class="flex flex-column flex-row-l ph0 ph3 ph4-m ph5-l">
  <div class="w-100 w-75-l pl0-l pr5-l lh-copy">
    <h1 class="f3">Free and open source</h1>

    <p>
      Git is released under the <a href="http://opensource.org/licenses/GPL-2.0">GNU General Public License version 2.0</a>, which is an
      <a href="http://www.opensource.org/docs/osd">open source license</a>. The Git project chose to use GPLv2 to guarantee your freedom to share and change free software---to make sure the software is free for all its users.</p>

    <p>
      However, we do restrict the use of the term "Git" and the
      <a href="/downloads/logos">logos</a> to avoid confusion. Please see our <a href="/about/trademark">trademark</a> policy for details.
    </p>

    <div class="flex flex-row justify-between mt4">
      <a href="/about/staging-area" class="b">← Staging area</a>
      <a href="/about/trademark" class="b">Trademark →</a>
    </div>
  </div>

  <div class="w-25-l dn db-l">
    <div class="bg-dark-tan pv3 ph4-l br2">
      <%= render partial: "about_nav" %>
    </div>
  </div>
</div>
