---
layout: default
---
<div id="main">

  <h1>About</h1>

  <ol id="about-nav">
    <li>
      <a href="/about/branching-and-merging" class="three-line {{page.branching_and_merging_class}}" id="nav-branching-and-merging" data-section-id="branching-and-merging">Branching and Merging</a>
    </li>
    <li>
      <a href="/about/small-and-fast" class="two-line {{page.small_and_fast_class}}" id="nav-small-and-fast" data-section-id="small-and-fast">Small and Fast</a>
    </li>
    <li>
      <a href="/about/distributed" class="one-line {{page.distributed_class}}" id="nav-distributed" data-section-id="distributed">Distributed</a>
    </li>
    <li>
      <a href="/about/data-assurance" class="two-line {{page.data_assurance_class}}" id="nav-data-assurance" data-section-id="info-assurance">Data Assurance</a>
    </li>
    <li>
      <a href="/about/staging-area" class="two-line {{page.staging_area_class}}" id="nav-staging-area" data-section-id="staging-area">Staging Area</a>
    </li>
    <li>
      <a href="/about/free-and-open-source" class="three-line {{page.free_and_open_source_class}}" id="nav-free-and-open-source" data-section-id="free-and-open-source">Free and Open Source</a>
    </li>
    <li>
      <a href="/about/trademark" class="one-line {{page.trademark_class}}" id="nav-trademark" data-section-id="trademark">Trademark</a>
    </li>
  </ol>

  {{ content }}
  
</div>
