<%- @section = "about" %>
<%- @page_title = "About · Staging area · Git" %>

<div class="flex flex-column flex-row-l ph0 ph4-m ph5-l">
  <div class="w-100 w-75-l ph3 pl0-l pr5-l lh-copy">
    <h2 class="f3">Staging area</h2>

    <p>
      Unlike the other systems, Git has something called the "staging area" or "index". This is an intermediate area where commits can be formatted and reviewed before completing the commit.
    </p>

    <p>
      One thing that sets Git apart from other tools is that it's possible to quickly stage some of your files and commit them without committing all of the other modified files in your working directory or having to list them on the command line during the commit.
    </p>

    <p class="center">
      <img src="/images/about/index1@2x.png" width="336" height="194" alt="Index 1">
    </p>

    <p>
      This allows you to stage only portions of a modified file. Gone are the days of making two logically unrelated modifications to a file before you realized that you forgot to commit one of them. Now you can just stage the change you need for the current commit and stage the other change for the next commit. This feature scales up to as many different changes to your file as needed.
    </p>

    <p>
      Of course, Git also makes it easy to ignore this feature if you don't want that kind of control — just add a '-a' to your commit command in order to add all changes to all files to the staging area.
    </p>

    <p class="center">
      <img src="/images/about/index2@2x.png" width="338" height="185" alt="Index 2">
    </p>

    <div class="flex flex-row justify-between mt4">
      <a href="#info-assurance" class="b">← Data assurance</a>
      <a href="#free-and-open-source" class="b">Free and open source →</a>
    </div>
  </div>

  <div class="w-25-l dn db-l">
    <div class="bg-dark-tan pv3 ph4-l br2">
      <%= render partial: "about_nav" %>
    </div>
  </div>
</div>
