/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
*/

body {
  padding-top: 10px;
  padding-bottom: 40px;
  background: #F1F0E8 !important;
}
.header h1 { font-size: 3.5em; }
.header img { float: left; }
.header h2 { font-size: 0.5em; color: #888; }

.hero-unit { padding: 1px; background-color: #EAE9E2 !important; }

.book {
  padding: 4px;
  background-color: #EAE9E2;
}
.book img { float: left; }
