// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subheader {
  display: block;
  font-size: 16px;
  font-weight: normal;
  color: $light-font-color;
  line-height: 15px;
  padding-left:2px;
}
