.ebooks img {
  padding: 5px;
}

.book-container {
  @extend .callout;
  position: relative;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  overflow: hidden;
  background-color: transparent !important;
  border: solid 1px lighten($base-border-color, 10%);
}

.book-intro {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 200px;
  font-size: 13px;
  text-align: center;

  p {
    padding-bottom: 20px;
  }

  img.creative-commons {
    display: block;
    margin: 10px auto;
  }

  .license {
    font-size: 11px;
    line-height: 1.3;
    color: $light-font-color;
  }

  .open-book-link {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
}

.flippy-book {
  position: relative;
  width: 601px;
  height: 402px;
  margin: 0 auto;
  background: transparent url("/images/bg/flippy-book.png") 0 0 no-repeat;
  -webkit-perspective: 1500;
  -moz-perspective: 1500;
  perspective: 1500;
}

.flippy-book-cover {
  position: absolute;
  top: 0;
  left: 4px;
  width: 298px;
  height: 398px;
}

.webkit .flippy-book-cover {
  right: 6px;
  left: auto;
  -moz-transition-duration: 1.2s;
  transition-duration: 1.2s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-duration: 1.2s;
}

.webkit .flippy-book-cover.open {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-origin: -1px 0;
  transform-origin: -1px 0;
  -moz-transform-origin: -1px 0;
  -moz-transform: rotateY(-180deg);
}

.webkit .flippy-book-cover.close {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-transform-origin: 0 0;
}

.flippy-book-cover-outside {
  @include background-image-2x("/images/pro-git-298x398", 298px, 398px, 0 0, no-repeat, jpg);
  display: none;
  width: 298px;
  height: 398px;
  color: #000;
  text-indent: -9999px;
  cursor: pointer;
  background-color: #000102;
}

.flippy-book-cover.close {
  right: 6px;
  left: auto;
  display: block;

  .flippy-book-cover-outside {
    display: block;
  }
}


.three-dee .flippy-book-cover-outside {
  display: block;
}

.flippy-book-cover-inside {
  right: 4px;
  width: 298px;
  height: 398px;
  background: #fff url("/images/bg/flippy-book-inside-cover.png") 0 0 no-repeat;
}

.three-dee .flippy-book-cover-inside {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.flippy-book .face {
  position: absolute;
}

.three-dee .flippy-book .face {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flippy-book-inside-page {
  position: absolute;
  top: 0;
  right: 6px;
  width: 298px;
  height: 398px;
}

.flippy-book span.header {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  color: $light-font-color;
  text-align: center;
}

.flippy-book-about-link {
  @include background-image-2x("/images/icons/info", 18px, 17px, 40px 1px);
  display: none;
  padding-left: 22px;
  font-size: 12px;
  color: $light-font-color;
  text-align: center;
  text-indent: 40px;

  &.visible {
    display: inline-block;
  }
}

.book-toc,
.flippy-book-toc {
  @extend .unstyled;
  margin: 30px 36px;

  .chapter {
    margin-bottom: 0.6em;
  }

  ol {
    list-style: none;
  }

  h2 {
    color: $font-color;
  }

  a {
    padding-left: 4px;
  }
}

.book code {
  display: inline;
  padding: 1px;
}

.book pre code {
  display: block;
  overflow: auto;
}

.book .commands {
  font-size: 1.2em;

  tr td {
    padding: 2px;

    small {
      font-size: 0.8em;
      color: #777;
    }
  }
}

.book .ref {
  width: 100%;
  margin-bottom: 10px;

  tr {
    border: 1px solid;
    border-color: #777;
  }
}

.book .ref th,
.book .ref td {
  padding: 5px;
}

.book .ref th:nth-child(1),
.book .ref td:nth-child(1) {
  width: 25%;
  padding: 5px;
}

.book-chapters {
  @extend .section-nav-container;

  .chapters-dropdown {
    top: 30px;
    padding: 12px;
  }

  ol {
    margin: 0;

    li {
      line-height: $base-line-height * 0.8;

      h2 {
        margin-top: 0;
        font-size: 14px;
      }

      ol {
        margin-left: 0;

        a {
          font-weight: normal;
        }
      }
    }
  }
}

.switch a { color: #aaa; }
