@import "compass";
@include global-reset;

@import "variables";
@import "typography";

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  color: $font-color;
  background: #f0efe7 url(/images/bg/body.jpg);
}

// windows chrome makes a mess of Adelle web font
.windows.chrome body,
.windows.ie8 body {
  font-family: $base-font-family-fallback ! important;
}

.inner {
  width: 500px;
  margin: 70px auto;
}

p {
  font-size: 18px;
  color: lighten(#4e443c, 10%);
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  margin-left: 0;
  margin-bottom: 1.4em;
  li {
    display: inline;
    float: left;
    a {
      display: block;
      color: $orange;
      &:hover {
        color: darken($orange, 5%);
      }
    }
  }
  li + li {
    margin-left: 15px;
  }
}