\::-webkit-input-placeholder {
  color: #9a9994 !important;
}

input:-moz-placeholder {
  color: #9a9994 !important;
}

input.inactive {
  color: #9a9994 !important;
}

input.active {
  color: $font-color !important;
}

input, textarea {
  font-family: $base-font-family;
  font-size: 14px;
  outline: none;
}
.windows.chrome input, .windows.chrome textarea,
.windows.ie8 input, .windows.chrome textarea {
  font-family: $base-font-family-fallback ! important;
}

form#search {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 10px;
  width: 262px;
  padding-left: 32px;
  @include background-image-2x('/images/icons/search', 17px, 17px, 10px 50%);
  background-color: #fcfcfa ! important;
  border: solid 1px #ceccc5;
  @include border-radius(20px);
  @include box-shadow(inset 0 1px 4px #ddd);

  input {
    @include border-radius(20px);
    border: none;
    margin-top: 5px;
    margin-bottom: 1px;
    line-height: 1em;
    width: 100%;
    height: 20px;
    background-color: transparent;
    color: $font-color;
//    padding: 6px 0 2px 0;
  }
  &.focus {
    border-color: #007175;
    background-color: #fff;
  }
}

