#front-content {
  @include clearfix;
  overflow: visible;
//  height: 400px;

  #front-navigation {
    width: 618px;
    float: left;
    border-right: solid 1px $base-border-color;
    margin-bottom: 24px;
  }
}

#front-nav {
  @include clearfix;
  ul {
    @extend .unstyled;
    padding-top: 24px;
    li {
      display: block;
      width: 280px;
      float: left;
      margin-bottom: 20px;
      &#nav-about, &#nav-downloads {
        margin-right: 30px;
      }
      &#nav-about, &#nav-documentation {
        margin-bottom: 40px;
      }
    }
  }
  a {
    height: 86px;
    display: block;
    color: $font-color;
    padding-left: 90px;
    background-position: 0 0;
    background-repeat: no-repeat;
    @include transition-property(color);
    @include transition-duration(.30s);
    img {
      margin-left: -90px;
      margin-right: -90px;
      float: left;
      opacity: 0.9;
      @include transition-property(opacity);
      @include transition-duration(.30s);
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
      color: $orange;
    }
    p {
      font-size: 13px;
      line-height: $base-line-height * 0.8;
    }
  }
  a:hover {
    img {
      opacity: 1;
    }
    h3 {
      color: darken($orange, 5%);
    }
  }
}

#front-book {
  padding-top: 20px;
  float: left;
  width: 590px;
  border-top: solid 1px $base-border-color;
  img {
    float: left;
    margin-right: 20px;
  }
  p {
    margin-top: 16px;
  }
}

$monitor-width: 313px;
$monitor-height: 271px;

#front-downloads {
  width: 313px;
  float: right;
  position: relative;

  .monitor {
    position: absolute;
    top: 0;
    right: -12px;
  }

  table {
    position: absolute;
    top: $monitor-height;
    left: 24px;
    td {
      padding: 8px 20px 6px 0;
    }
    a {
      font-weight: bold;
    }
  }
}

.monitor {
  width: 313px;
  height: 271px;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  h4 {
    font-weight: normal;
    color: #fff;
    font-size: 16px;
  }
  span.version {
    display: block;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 6px;
  }
  a {
    color: #59d6de;
    font-size: 12px;
  }
  span.release-date {
    font-size: 12px;
  }
  a.button {
    display: block;
    margin-top: 10px;
    border-top: solid 1px #085e64;
    border-left: solid 1px #1f6367;
    border-right: solid 1px #1f6367;
    border-bottom: solid 1px #134143;
    text-align: center;
    color: #fff;
    font-size: 16px; 
    width: 224px;
    padding: 5px 0;
    @include border-radius(2px);
    @include background-image(linear-gradient(#1c868c, #186368));
    @include box-shadow(0 1px 0 #148a92);
    @include transition-property(background-image);
    @include transition-duration(.30s);
    &:hover {
      @include background-image(linear-gradient(darken(#1c868c, 2%), darken(#186368, 2%)));
    }
  }
  &.mac {
    background: transparent url(/images/monitor-mac.png) top right no-repeat;
    padding-top: 36px;
    padding-left: 40px;
    height: $monitor-height - 36;
    width: $monitor-width - 40;
  }
  &.windows {
    background: transparent url(/images/monitor-windows.png) top right no-repeat;
    padding-top: 45px;
    padding-left: 40px;
    height: $monitor-height - 45;
    width: $monitor-width - 40;
  }
  &.linux {
    background: transparent url(/images/monitor-linux.png) top right no-repeat;
    padding-top: 45px;
    padding-left: 40px;
    height: $monitor-height - 45;
    width: $monitor-width - 40;
  }
}

#companies-projects {
  clear: both;
  border-top: solid 1px $base-border-color;
  padding-top: 20px;
  ul {
    @extend .unstyled;
    li {
      display: block;
      float: left;
      width: 108px;
      height: 65px;
      margin: 0 4px 25px 5px;
    }
    a {
      display: block;
      width: 108px;
      height: 65px;
      opacity: 0.85;
      @include transition-property(opacity);
      @include transition-duration(.30s);
      background-position: 0 0;
      background-repeat: no-repeat;
      text-indent: -9999px;
      &:hover {
        opacity: 1;
      }
      &.facebook {
        background-image: url(/images/company-project-logos/facebook.png);
      }
      &.google {
        background-image: url(/images/company-project-logos/google.png);
      }
      &.twitter {
        background-image: url(/images/company-project-logos/twitter.png);
      }
      &.microsoft {
        background-image: url(/images/company-project-logos/microsoft.png);
      }
      &.blizzard {
        background-image: url(/images/company-project-logos/blizzard.png);
      }
      &.linked-in {
        background-image: url(/images/company-project-logos/linked-in.png);
      }
      &.linux {
        background-image: url(/images/company-project-logos/linux.png);
      }
      &.perl {
        background-image: url(/images/company-project-logos/perl.png);
      }
      &.postgresql {
        background-image: url(/images/company-project-logos/postgresql.png);
      }
      &.facebook {
        background-image: url(/images/company-project-logos/facebook.png);
      }
      &.android {
        background-image: url(/images/company-project-logos/android.png);
      }
      &.debian {
        background-image: url(/images/company-project-logos/debian.png);
      }
      &.rails {
        background-image: url(/images/company-project-logos/rails.png);
      }
      &.qt {
        background-image: url(/images/company-project-logos/qt.png);
      }
      &.gnome {
        background-image: url(/images/company-project-logos/gnome.png);
      }
      &.eclipse {
        background-image: url(/images/company-project-logos/eclipse.png);
      }
      &.kde {
        background-image: url(/images/company-project-logos/kde.png);
      }
      &.x {
        background-image: url(/images/company-project-logos/x.png);
      }
    }
  }
}

a.icon {
  padding-left: 30px;
  height: 30px;
  line-height: 36px;
  @include inline-block;
  &.gui {
    background: transparent url(/images/icons/gui.png) 6px 0 no-repeat;
  }
  &.older-releases {
    background: transparent url(/images/icons/box.png) 0 4px no-repeat;
  }
  &.windows {
    background: transparent url(/images/icons/windows.png) 0 3px no-repeat;
  }
  &.mac {
    background: transparent url(/images/icons/apple.png) 5px 3px no-repeat;
  }
  &.debian {
    background: transparent url(/images/icons/debian.png) 6px 4px no-repeat;
  }
  &.linux {
    background: transparent url(/images/icons/linux.png) 6px 4px no-repeat;
  }
  &.solaris {
    background: transparent url(/images/icons/solaris.png) 0 7px no-repeat;
  }
  &.source {
    background: transparent url(/images/icons/source-code.png) 0 4px no-repeat;
  }
}
