#front-content {
  @include clearfix;
  overflow: visible;

  #front-navigation {
    width: 618px;
    float: left;
    border-right: solid 1px $base-border-color;
    margin-bottom: 24px;
  }
}

#front-nav {
  @include clearfix;
  ul {
    @extend .unstyled;
    padding-top: 24px;
    li {
      display: block;
      width: 280px;
      float: left;
      margin-bottom: 20px;
      &#nav-about, &#nav-downloads {
        margin-right: 30px;
      }
      &#nav-about, &#nav-documentation {
        margin-bottom: 40px;
      }
    }
  }
  a {
    height: 86px;
    display: block;
    color: $font-color;
    padding-left: 90px;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    img {
      margin-left: -90px;
      margin-right: -90px;
      float: left;
      opacity: 0.9;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      transition-property: opacity;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
      color: $orange;
    }
    p {
      font-size: 13px;
      line-height: $base-line-height * 0.8;
    }
  }
  a:hover {
    img {
      opacity: 1;
    }
    h3 {
      color: darken($orange, 5%);
    }
  }
}

#front-book {
  padding-top: 20px;
  float: left;
  width: 590px;
  border-top: solid 1px $base-border-color;
  img {
    float: left;
    margin-right: 20px;
  }
  p {
    margin-top: 16px;
  }
}

$monitor-width: 313px;
$monitor-height: 271px;

#front-downloads {
  width: 313px;
  float: right;
  position: relative;

  .monitor {
    position: absolute;
    top: 0;
    right: -12px;
  }

  table {
    position: absolute;
    top: $monitor-height;
    left: 24px;
    td {
      padding: 8px 20px 6px 0;
    }
    a {
      font-weight: bold;
    }
  }
}

.monitor {
  @include background-image-2x('/images/monitor-default', $monitor-width, $monitor-height);
  padding-top: 45px;
  padding-left: 40px;
  height: $monitor-height - 45;
  width: $monitor-width - 40;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  h4 {
    font-weight: normal;
    color: #fff;
    font-size: 16px;
  }
  span.version {
    display: block;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 6px;
  }
  a {
    color: #59d6de;
    font-size: 12px;
  }
  span.release-date {
    font-size: 12px;
  }
  a.button {
    display: block;
    margin-top: 10px;
    border-top: solid 1px #085e64;
    border-left: solid 1px #1f6367;
    border-right: solid 1px #1f6367;
    border-bottom: solid 1px #134143;
    text-align: center;
    color: #fff;
    font-size: 16px;
    width: 224px;
    padding: 5px 0;
    @include border-radius(2px);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c868c), color-stop(100%, #186368));
    background-image: -webkit-linear-gradient(#1c868c, #186368);
    background-image: -moz-linear-gradient(#1c868c, #186368);
    background-image: -o-linear-gradient(#1c868c, #186368);
    background-image: linear-gradient(#1c868c, #186368);
    @include box-shadow(0 1px 0 #148a92);
    -webkit-transition-property: background-image;
    -moz-transition-property: background-image;
    -o-transition-property: background-image;
    transition-property: background-image;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    &:hover {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1a7e84), color-stop(100%, #165b60));
      background-image: -webkit-linear-gradient(#1a7e84, #165b60);
      background-image: -moz-linear-gradient(#1a7e84, #165b60);
      background-image: -o-linear-gradient(#1a7e84, #165b60);
      background-image: linear-gradient(#1a7e84, #165b60);
    }
  }
  &.mac {
    @include background-image-2x('/images/monitor-mac', $monitor-width, $monitor-height);
    padding-top: 36px;
    padding-left: 40px;
    height: $monitor-height - 36;
    width: $monitor-width - 40;
  }
  &.windows {
    @include background-image-2x('/images/monitor-windows', $monitor-width, $monitor-height);
  }
  &.linux {
    @include background-image-2x('/images/monitor-linux', $monitor-width, $monitor-height);
  }
}

#companies-projects {
  clear: both;
  border-top: solid 1px $base-border-color;
  padding-top: 20px;
  ul {
    @extend .unstyled;
    li {
      display: block;
      float: left;
      width: 108px;
      height: 65px;
      margin: 0 4px 25px 5px;
    }
    a {
      display: block;
      width: 108px;
      height: 65px;
      opacity: 0.85;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      transition-property: opacity;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      transition-duration: 0.3s;
      background-position: 0 0;
      background-repeat: no-repeat;
      text-indent: -9999px;
      &:hover {
        opacity: 1;
      }
      &.facebook {
        background-image: url(/images/company-project-logos/facebook.png);
      }
      &.google {
        @include background-image-2x('/images/company-project-logos/google', 108px, 65px);
      }
      &.twitter {
        @include background-image-2x('/images/company-project-logos/twitter', 108px, 65px);
      }
      &.microsoft {
        @include background-image-2x('/images/company-project-logos/microsoft', 108px, 65px);
      }
      &.netflix {
        @include background-image-2x('/images/company-project-logos/netflix', 108px, 65px);
      }
      &.linked-in {
        @include background-image-2x('/images/company-project-logos/linked-in', 108px, 65px);
      }
      &.linux {
        @include background-image-2x('/images/company-project-logos/linux', 108px, 65px);
      }
      &.perl {
        @include background-image-2x('/images/company-project-logos/perl', 108px, 65px);
      }
      &.postgresql {
        @include background-image-2x('/images/company-project-logos/postgresql', 108px, 65px);
      }
      &.facebook {
        @include background-image-2x('/images/company-project-logos/facebook', 108px, 65px);
      }
      &.android {
        @include background-image-2x('/images/company-project-logos/android', 108px, 65px);
      }
      &.rails {
        @include background-image-2x('/images/company-project-logos/rails', 108px, 65px);
      }
      &.qt {
        @include background-image-2x('/images/company-project-logos/qt', 108px, 65px);
      }
      &.gnome {
        @include background-image-2x('/images/company-project-logos/gnome', 108px, 65px);
      }
      &.eclipse {
        @include background-image-2x('/images/company-project-logos/eclipse', 108px, 65px);
      }
      &.kde {
        @include background-image-2x('/images/company-project-logos/kde', 108px, 65px);
      }
      &.x {
        @include background-image-2x('/images/company-project-logos/x', 108px, 65px);
      }
    }
  }
}

a.icon {
  padding-left: 30px;
  height: 30px;
  line-height: 36px;
  display: inline-block;
  &.gui {
    @include background-image-2x('/images/icons/gui', 18px, 24px, 6px 3px);
  }
  &.older-releases {
    @include background-image-2x('/images/icons/box', 22px, 20px, 0 6px);
  }
  &.windows {
    @include background-image-2x('/images/icons/windows', 24px, 21px, 0 6px);
  }
  &.mac {
    @include background-image-2x('/images/icons/apple', 17px, 21px, 5px 4px);
  }
  &.linux {
    @include background-image-2x('/images/icons/linux', 17px, 21px, 6px 6px);
  }
  &.solaris {
    @include background-image-2x('/images/icons/solaris', 25px, 12px, 0 10px);
  }
  &.source {
    @include background-image-2x('/images/icons/source-code', 25px, 20px, 0 6px);
  }
}
