@import "normalize";
@import "mixins";
@import "variables";
@import "layout";
@import "typography";
@import "downloads";
@import "search";
@import "front-page";
@import "sidebar";
@import "reference";
@import "forms";
@import "man-pages";
@import "book";
@import "book2";
@import "lists";
@import "blog";

code {
  display: inline;
  padding: 0px 5px;
}

pre {
  display: block;
  padding: 10px 15px 13px;
  margin-bottom: 1em;
  color: #f14e32;
  background-color: #fff;
  font-family: Courier, monospace;
  line-height: 18px;
  overflow: auto
  border: solid 1px #efeee6;
  border-radius: 3px;
}
