body {
  padding: 0;
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $font-color;
  background: #f0efe7 url("/images/bg/body.jpg");
}

// windows chrome makes a mess of Adelle web font
.windows.chrome body,
.windows.ie8 body {
  font-family: $base-font-family-fallback !important;
}

// High level structure
.container {
  @include clearfix;
  position: relative;
  width: $page-width;
  margin: 0 auto;
  overflow: visible;
}

aside {
  float: left;
  width: 218px;
  margin-bottom: 35px;
}


.site-content {
  float: right;
  width: 702px;
}

#main {
  @include border-radius(5px);
  padding: 22px;
  margin-bottom: 35px;
  background-color: #fcfcfa;
  border: solid 1px #e2e0d8;

  .two-column {
    @include clearfix;

    .column-left {
      float: left;
      width: 47%;
    }

    .column-right {
      float: right;
      width: 47%;
    }
  }

  .callout {
    @include border-radius(3px);
    padding: 8px 14px 4px;
    margin-bottom: 1.4em;
    background-color: $callout-color;

    p {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 100%;
  }
}

.masthead {
  @include background-image-2x('/images/bg/isometric-grid', 35px, 21px, top right, repeat);
  height: 295px;
  margin-top: -20px;
  margin-bottom: 2em;

  .container {
    padding-top: 20px;

    p {
      width: 558px;
      margin-bottom: 1.2em;
      font-size: 18px;
      line-height: $base-line-height * 1.2;
    }

    .promo {
      font-weight: bold;

      img {
        position: relative;
        top: -6px;
      }
    }

    .illustration {
      position: absolute;
      top: 24px;
      right: -30px;
    }
  }
}

// Header
header {
  position: relative;
  padding-bottom: 26px;
  margin-top: 14px;

  #tagline {
    position: absolute;
    top: 11px;
    left: 120px;
    display: block;
    margin-top: 1px;
    font-size: 24px;
    line-height: 24px;
    color: $light-font-color;

    em {
      letter-spacing: 1px;
    }
  }
}

.related-material {
  font-weight: normal;

  li {
    a {
      display: inline;
    }
  }
}

// Navigation
aside nav ul {
  margin-bottom: 1.4em;
  margin-left: 0;
  font-size: 16px;
  font-weight: bold;
  list-style: none;

  li {
    margin-bottom: 0.5em;

    a {
      color: #413932;

      &.active,
      &:hover {
        color: $orange;
      }
    }

    ul {
      display: none;
      margin-top: 0.3em;
      margin-left: 20px;
      font-size: 13px;
      font-weight: normal;

      li {
        margin-bottom: 0;

        .active {
          font-weight: bold;
        }
      }

      &.expanded {
        display: block;
      }
    }
  }
}

.bottom-nav {
  @extend .callout;
  @include clearfix;
  margin-top: 2em;
  font-weight: bold;

  .previous {
    float: left;
  }

  .next {
    float: right;
  }
}

.about-section {
  display: none;

  &.current {
    display: block;
  }

  .bottom-nav {
    display: none;
  }
}

.center {
  text-align: center;
}

.callout.downloading {
  padding: 20px 30px 20px 100px !important;
  background: $callout-color url("/images/icons/download.png") 24px 24px no-repeat;

  h3 {
    font-size: 18px;
    color: $orange;
  }

  p {
    margin-bottom: 15px !important;
    font-size: 15px;
    line-height: 1.3em;
  }

  .small {
    margin-bottom: 0 !important;
    font-size: 12px;
    line-height: 1.4;
    color: $light-font-color;
  }
}

.section-nav-container {
  @extend .unstyled;
  @include border-radius(3px);
  position: relative;
  padding: 8px 12px 6px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: bold;
  background-color: rgba(223, 221, 213, 0.33);

  .light {
    font-weight: normal;
  }

  a {
    position: relative;
    font-weight: bold;
  }

  .dropdown-panel {
    top: 33px;

    .three-column {
      @include clearfix;

      .column-left {
        float: left;
        width: 31%;
        padding-right: 3%;
      }

      .column-middle {
        float: left;
        width: 31%;
        padding-right: 3%;
      }

      .column-right {
        float: left;
        width: 31%;
      }
    }
  }
}

// Dropdowns
.dropdown-trigger {
  padding: 4px 5px;
  border: solid 1px transparent;

  &.active {
    @include border-top-left-radius(3px);
    @include border-top-right-radius(3px);
    position: relative;
    z-index: 200;
    background-color: #fff !important;
    border: solid 1px darken($base-border-color, 8%);
    border-bottom: 0;
  }
}

.dropdown-panel {
  @include border-radius(3px);
  @include box-shadow(0 1px 2px #ccc);
  position: absolute;
  z-index: 199;
  display: none;
  background-color: #fff;
  border: solid 1px darken($base-border-color, 8%);

  &.left {
    @include border-top-left-radius(0);
  }

  &.right {
    @include border-top-right-radius(0);
  }
}

// Footer
.site-footer {
  @include clearfix;
  padding: 20px 0 40px;
  margin-top: 35px;
  clear: both;
  font-size: 12px;
  line-height: $base-line-height * 0.7;
  color: $light-font-color;
  border-top: solid 1px $base-border-color;

  a {
    color: darken($light-font-color, 35%);

    &:hover {
      color: darken($light-font-color, 55%);
    }
  }
}

.site-source {
  @include background-image-2x('/images/icons/code', 38px, 23px, 0 2px);
  float: left;
  padding-left: 46px;
}

.sfc-member {
  float: right;
  text-align: right;
}

.benchmarks {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;

  .right {
    text-align: center;
  }

  .desc {
    font-size: 0.8em;
    color: #888;
  }

  .number {
    font-family: monospace;
    text-align: right;
  }

  td {
    padding: 0 10px;
  }
}
