@import "compass";
@include global-reset;

@import "variables.css.scss";
@import "layout.css.scss";
@import "typography.css.scss";
@import "sidebar.css.scss";
@import "forms.css.scss";
@import "lists.css.scss";

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  color: $font-color;
  background: #f0efe7 url(/images/bg/body.jpg);
}

// windows chrome makes a mess of Adelle web font
.windows.chrome body *,
.windows.ie8 body * {
  font-family: $base-font-family-fallback ! important;
}

#wrapper {
  @include clearfix;
  margin: 0 auto;
  width: 940px;
}

header {
  margin-top: 20px;
  position: relative;

  a.button {
    display: block;
    margin-top: 10px;
    border-top: solid 1px #085e64;
    border-left: solid 1px #1f6367;
    border-right: solid 1px #1f6367;
    border-bottom: solid 1px #134143;
    color: #fff;
    font-size: 16px;
    width: 238px;
    padding: 16px 0 6px 55px;
    position: absolute;
    right: 0;
    top: 0;
    @include border-radius(2px);
    @include background-image(linear-gradient(#1c868c, #186368));
    @include box-shadow(0 1px 2px #999);
    @include transition-property(background-image);
    @include transition-duration(.30s);
    &:hover {
      @include background-image(linear-gradient(darken(#1c868c, 2%), darken(#186368, 2%)));
    }
    img {
      position: absolute;
      top: 8px;
      left: 20px;
    }
    h3 {
      color: #fff;
      font-size: 18px;
      line-height: 1;
      margin-bottom: 6px;
      @include text-shadow(0 -1px 0 #1b001a);
    }
  }
}

#front-main {
  float: left;
  width: 600px;
  background-color: transparent;
  border: none;
  @include border-radius(0);
  padding: 0;
}

#sidebar {
  border-left: dotted 1px #bdbdb6;
  float: right;
  padding-left: 20px;
  width: 300px;
}

p {
  font-size: 18px;
  color: lighten(#4e443c, 10%);
  margin-bottom: 30px;
}

#intro p {
  line-height: 1.4;
}

#features {
  @include clearfix;
  margin-bottom: 20px;
  ul {
    @extend .unstyled;
    padding-top: 16px;
    li {
      display: block;
      width: 190px;
      float: left;
      margin-bottom: 20px;
      &#nav-about, &#nav-downloads {
        margin-right: 30px;
      }
      &#nav-about, &#nav-documentation {
        margin-bottom: 40px;
      }
      height: 86px;
      display: block;
      color: $font-color;
      padding-left: 90px;
      background-position: 0 0;
      background-repeat: no-repeat;
      @include transition-property(color);
      @include transition-duration(.30s);
      img {
        height: 74px;
        width: 74px;
        margin-left: -90px;
        margin-right: -90px;
        float: left;
        opacity: 0.9;
        @include transition-property(opacity);
        @include transition-duration(.30s);
      }
      h3 {
        font-size: 18px;
        font-weight: bold;
        color: $orange;
        line-height: 1.1;
        margin-bottom: 4px;
      }
      p {
        font-size: 13px;
        line-height: $base-line-height * 0.8;
      }
      &:nth-child(even) {
        margin-left: 24px;
      }
    }
  }
}

ul#primary-languages {
  @include clearfix;
  @extend .unstyled;
  margin-bottom: 30px;
  li {
    display: block;
    float: left;
    text-align: center;
    img {
      display: block;
      margin: 0 auto 10px auto;
    }
    h5 {
      font-weight: bold;
      font-size: 15px;
      line-height: 1.2;
    }
    h6 {
      text-transform: none;
      font-size: 13px;
      line-height: 1;
    }
    &#rugged img {
      margin-top: 11px;
    }
    &#libgit2sharp img {
      margin-top: 12px;
    }
  }
  li + li {
    padding-left: 29px;
  }
}

ul.additional-languages {
  @include clearfix;
  @extend .unstyled;
  float: left;
  width: 150px;
  &:first-child(1) {
    width: 125px;
    padding-right: 20px;
  }
  li {
    @include clearfix;
    display: block;
    padding-left: 40px;
    padding-bottom: 18px;
    img {
      width: 30px;
      height: 30px;
      display: block;
      margin-left: -40px;
      margin-right: -40px;
      float: left;
    }
    h5 {
      font-weight: bold;
      font-size: 15px;
      line-height: 1.2;
    }
    h6 {
      text-transform: none;
      font-size: 12px;
      line-height: 1;
    }
    &#rugged img {
      margin-top: 11px;
    }
    &#libgit2sharp img {
      margin-top: 12px;
    }
  }
}

#library-versions {
  @include clearfix;
  position: relative;
  background-color: #ebe9e1;
  background-color: rgba(223, 221, 213, .33);
  @include border-radius(3px);
  padding: 8px 12px 6px 12px;
  margin-bottom: 10px;
  font-size: 13px;
  a {
    font-weight: bold;
    float: right;
  }
  .version-selection {
    float: left;
    padding-right: 20px;
  }
  ul.legend {
    @extend .unstyled;
    display: inline;
    li {
      float: left;
      padding-left: 10px;
      padding-right: 20px;
      &.new {
        background: url(/images/icons/green-square@2x.png) 0 50% no-repeat;
        background-size: 6px 6px;
      }
      &.changed {
        background: url(/images/icons/orange-square@2x.png) 0 50% no-repeat;
        background-size: 6px 6px;
      }
      &.removed {
        background: url(/images/icons/red-square@2x.png) 0 50% no-repeat;
        background-size: 6px 6px;
        color: rgba(#c00, 0.3);
      }

    }
  }
}

.library-functions .column-left,
.library-functions .column-middle,
.library-functions .column-right {
  padding-left: 10px;
}
.library-functions .column-left {
  padding-right: 1%
}
.library-functions .column-middle {
  padding-right: 1%
}

ul.library-functions {
  @extend .unstyled;
  li {
    margin-bottom: 20px;
  }
  a {
    font-size: 17px;
    padding-left: 10px;
    &.important {
      font-weight: bold;
    }
    &.new {
      background: url(/images/icons/green-square@2x.png) 0 50% no-repeat;
      background-size: 6px 6px;
    }
    &.changed {
      background: url(/images/icons/orange-square@2x.png) 0 50% no-repeat;
      background-size: 6px 6px;
    }
    &.removed {
      background: url(/images/icons/red-square@2x.png) 0 50% no-repeat;
      background-size: 6px 6px;
      color: rgba(#c00, 0.3);
    }
  }
  p {
    font-size: 14px;
    padding-left: 10px;
  }
}
