.content-list {
  @extend .unstyled;
  margin-left: 0;
  li {
    margin-bottom: 1em;
  }
  .description {
    font-size: 12px;
    line-height: $base-line-height * 0.7;
  }
}

ul.video-thumbnails,
ul.gui-thumbnails {
  @extend .content-list;
  margin-top: 1em;
  li {
    margin-bottom: 2em;
    img {
      display: block;
      margin-bottom: 5px;
      padding: 3px;
      border: solid 1px $base-border-color;
    }
  }
}

ul.gui-thumbnails {
  li.masked {
    opacity: 0.1;
  }
}

ul.books-list {
  @extend .content-list;
  li {
    @include clearfix;
    padding-left: 125px;
    img {
      width: 109px;
      margin-left: -125px;
      margin-right: -125px;
      float: left;
      border: solid 1px #b7b7b7;
      &.creative-commons {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        float: none;
        border: none;
        margin-top: 2em;
        display: block;
      }
    }
  }
}

ol#about-nav {
  @extend .unstyled;
  @include clearfix;
  li {
    display: inline;
    float: left;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    a {
      width: 70px;
      height: 100px;
      display: block;
      opacity: 0.9;
      text-align: center;
      padding: 0 15px;
      font-size: 14px;
      line-height: 17px;
      color: $font-color;
      @include background-image-2x('/images/icons/nav-circles', 100px, 200px);
      &.current {
        @include background-image-2x('/images/icons/nav-circles', 100px, 200px, 0 -100px);
        color: #fff;
        opacity: 1;
      }
      &.one-line {
        padding-top: 42px;
        height: 58px;
      }
      &.two-line {
        padding-top: 34px;
        height: 66px;
      }
      &.three-line {
        padding-top: 25px;
        height: 75px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

ul.related-material {
  @extend .unstyled;
  font-size: 12px;
  margin-bottom: 3em;
  li {
    margin-bottom: 1em;
    line-height: 1.5;
    padding-left: 25px;
    min-height: 17px;
    &.reference {
      @include background-image-2x('/images/icons/document-sm', 12px, 17px, 3px 0);
    }
    &.book {
      @include background-image-2x('/images/icons/book-sm', 17px, 17px, 0 0);
    }
    &.video {
      @include background-image-2x('/images/icons/film-sm', 17px, 17px, 2px 0);
    }
  }
}

ul.stackoverflow {
  @extend .unstyled;
  font-size: 12px;
  li {
    margin-bottom: 1em;
  }
  a {
    display: block;
    line-height: 1.2;
    font-weight: bold;
  }
  span {
    display: block;
    color: $light-font-color;
    strong {
      color: darken($light-font-color, 10%);
    }
    em {
      color: lighten($light-font-color, 20%);
    }
  }
}

table.binaries {
  td {
    padding: 8px 20px 6px 0;
    position: relative;
    width: auto;
  }
  a {
    font-weight: bold;
    border: solid 1px transparent;
  }
}
