.content-list {
  @extend .unstyled;
  margin-left: 0;

  li {
    margin-bottom: 1em;
  }

  .description {
    font-size: 12px;
    line-height: $base-line-height * 0.7;
  }
}

.video-thumbnails,
.gui-thumbnails {
  @extend .content-list;
  margin-top: 1em;

  li {
    margin-bottom: 2em;

    img {
      display: block;
      padding: 3px;
      margin-bottom: 5px;
      border: solid 1px $base-border-color;
    }
  }
}

.gui-thumbnails {
  .masked {
    opacity: 0.1;
  }
}

.books-list {
  @extend .content-list;

  li {
    @include clearfix;
    padding-left: 125px;

    img {
      float: left;
      width: 109px;
      margin-right: -125px;
      margin-left: -125px;
      border: solid 1px #b7b7b7;

      &.cc-logo {
        display: block;
        float: none;
        width: auto;
        margin-top: 2em;
        margin-right: 0;
        margin-left: 0;
        border: 0;
      }
    }
  }
}

.about-nav {
  @extend .unstyled;
  @include clearfix;

  li {
    display: inline;
    float: left;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    a {
      @include background-image-2x('/images/icons/nav-circles', 100px, 200px);
      display: block;
      width: 70px;
      height: 100px;
      padding: 0 15px;
      font-size: 14px;
      line-height: 17px;
      color: $font-color;
      text-align: center;
      opacity: 0.9;

      &.current {
        @include background-image-2x('/images/icons/nav-circles', 100px, 200px, 0 -100px);
        color: #fff;
        opacity: 1;
      }

      &.one-line {
        height: 58px;
        padding-top: 42px;
      }

      &.two-line {
        height: 66px;
        padding-top: 34px;
      }

      &.three-line {
        height: 75px;
        padding-top: 25px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.related-material {
  @extend .unstyled;
  margin-bottom: 3em;
  font-size: 12px;

  li {
    min-height: 17px;
    padding-left: 25px;
    margin-bottom: 1em;
    line-height: 1.5;

    &.reference {
      @include background-image-2x('/images/icons/document-sm', 12px, 17px, 3px 0);
    }

    &.book {
      @include background-image-2x('/images/icons/book-sm', 17px, 17px, 0 0);
    }

    &.video {
      @include background-image-2x('/images/icons/film-sm', 17px, 17px, 2px 0);
    }
  }
}

.stackoverflow {
  @extend .unstyled;
  font-size: 12px;

  li {
    margin-bottom: 1em;
  }

  a {
    display: block;
    font-weight: bold;
    line-height: 1.2;
  }

  span {
    display: block;
    color: $light-font-color;

    strong {
      color: darken($light-font-color, 10%);
    }

    em {
      color: lighten($light-font-color, 20%);
    }
  }
}

.binaries-table {
  td {
    position: relative;
    width: auto;
    padding: 8px 20px 6px 0;
  }

  a {
    font-weight: bold;
    border: solid 1px transparent;
  }
}
