.content-list {
  @extend .unstyled;
  margin-left: 0;
  li {
    margin-bottom: 1em;
  }
  .description {
    font-size: 12px;
    line-height: $base-line-height * 0.7; 
  }
}

ul.video-thumbnails,
ul.gui-thumbnails {
  @extend .content-list;
  margin-top: 1em;
  li {
    margin-bottom: 2em;
    img {
      display: block;
      margin-bottom: 5px;
      padding: 3px;
      border: solid 1px $base-border-color;
    }
  }
}

ul.gui-thumbnails {
  li.masked {
    opacity: 0.1;
  }
}

ul.books-list {
  @extend .content-list;
  li {
    @include clearfix;
    padding-left: 125px;
    img {
      width: 109px;
      margin-left: -125px;
      margin-right: -125px;
      float: left;
      border: solid 1px #b7b7b7;
      &.creative-commons {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        float: none;
        border: none;
        margin-top: 2em;
        display: block;
      }
    }
  }
}

table.binaries {
  td {
    padding-right: 12px;
  }
}