.content-list {
  @extend .unstyled;
  margin-left: 0;
  li {
    margin-bottom: 1em;
  }
  .description {
    font-size: 12px;
    line-height: $base-line-height * 0.7; 
  }
}

ul.video-thumbnails,
ul.gui-thumbnails {
  @extend .content-list;
  margin-top: 1em;
  li {
    margin-bottom: 2em;
    img {
      display: block;
      margin-bottom: 5px;
      padding: 3px;
      border: solid 1px $base-border-color;
    }
  }
}

ul.gui-thumbnails {
  li.masked {
    opacity: 0.1;
  }
}

ul.books-list {
  @extend .content-list;
  li {
    @include clearfix;
    padding-left: 125px;
    img {
      width: 109px;
      margin-left: -125px;
      margin-right: -125px;
      float: left;
      border: solid 1px #b7b7b7;
      &.creative-commons {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        float: none;
        border: none;
        margin-top: 2em;
        display: block;
      }
    }
  }
}

ol#about-nav {
  @extend .unstyled;
  @include clearfix;
  li {
    display: inline;
    float: left;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    a {
      width: 70px;
      height: 100px;
      display: block;
      opacity: 0.9;
      text-align: center;
      padding: 0 15px;
      font-size: 14px;
      line-height: 17px;
      color: $font-color;
      background: transparent url(/images/icons/nav-circles.png) 0 0 no-repeat;
      &.current {
        background: transparent url(/images/icons/nav-circles.png) 0 -100px no-repeat;
        color: #fff;
        opacity: 1;
      }
      &.one-line {
        padding-top: 42px;
        height: 58px;
      }
      &.two-line {
        padding-top: 34px;
        height: 66px;
      }
      &.three-line {
        padding-top: 25px;
        height: 75px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

ol.full-search-results {
  @extend .unstyled;
  li {
    margin-bottom: 2em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h3 {
    line-height: 1.4;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  span.relevancy {
    float: right;
    padding-left: 5px;
    margin-left: 30px;
    img {
      position: relative;
      top: -2px;
    }
  }
  a.url {
    display: block;
    font-size: 12px;
    color: $light-font-color;
    margin-bottom: 0.4em;
    &:hover {
      color: darken($light-font-color, 25%);
    }
  }
}

#download-next-steps {
  @include clearfix;
  @extend .unstyled;
  padding-top: 24px;
  li {
    display: block;
    width: 200px;
    float: left;
    margin-bottom: 20px;
  }
  li + li {
    margin-left: 20px;
  }
  a {
    display: block;
    color: $font-color;
    text-align: center;
    background-position: 0 0;
    background-repeat: no-repeat;
    @include transition-property(color);
    @include transition-duration(.30s);
    img {
      display: block;
      margin: 0 auto 10px auto;
      opacity: 0.9;
      @include transition-property(opacity);
      @include transition-duration(.30s);
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
      color: $orange;
    }
    p {
      font-size: 13px;
      line-height: $base-line-height * 0.8;
    }
  }
  a:hover {
    img {
      opacity: 1;
    }
    h3 {
      color: darken($orange, 5%);
    }
  }
}

ul.related-material {
  @extend .unstyled;
  font-size: 12px;
  margin-bottom: 3em;
  li {
    margin-bottom: 1em;
    line-height: 1.5;
    padding-left: 25px;
    min-height: 17px;
    &.reference {
      background: transparent url(/images/icons/document-sm.png) 3px 0 no-repeat;
    }
    &.book {
      background: transparent url(/images/icons/book-sm.png) 0 0 no-repeat;
    }
    &.video {
      background: transparent url(/images/icons/film-sm.png) 2px 0 no-repeat;
    }
  }
}

ul.stackoverflow {
  @extend .unstyled;
  font-size: 12px;
  li {
    margin-bottom: 1em;
  }
  a {
    display: block;
    line-height: 1.2;
    font-weight: bold;
  }
  span {
    display: block;
    color: $light-font-color;
    strong {
      color: darken($light-font-color, 10%);
    }
    em {
      color: lighten($light-font-color, 20%);
    }
  }
}

table.binaries {
  td {
    padding: 8px 20px 6px 0;
    position: relative;
  }
  a {
    font-weight: bold;
    border: solid 1px transparent;
  }
}
