.man-page {
	p {
		em {
		  color: $fixed-width-font-color;
		  font-family: $fixed-width-font-family;
		  font-weight: bold;
		  font-style: normal;
		}
		tt {
			background-color: #eee0b5;
			padding: 2px;
		  font-family: $fixed-width-font-family;
		}
	}
	p.nutshell {
	  background-color: rgba(223, 221, 213, 0.33);
	  padding: 1em;
	}

	// Man pages
	div.verseblock-content {
	  background-color: rgba(223, 221, 213, 0.33);
	  padding: 1em;
	  margin-bottom: 1em;
	  white-space: pre;
	  color: $fixed-width-font-color;
	  font-family: $fixed-width-font-family;
	  line-height: $fixed-width-line-height;
	  em {
	  	font-weight: bold;
	  	font-style: normal;
	  }
	}

	.listingblock {
		.content {
			@include border-radius(3px);
			padding: 10px 15px 13px 15px;
			margin-bottom: 1em;
			background-color: #fff;
			border: solid 1px #efeee6;
		  color: $orange;
		  font-family: $fixed-width-font-family;
		  line-height: $fixed-width-line-height;
		}
	}
	.admonitionblock {
		table {
			margin-bottom: 1em;
			td {
				padding: 0 1em;
				.title {
					font-weight: bold;
					color: $orange;
				}
				&:first-child {
					border-right: solid 2px $base-border-color;
				}
			}
		}
	}
	#footer {
	  color: $light-font-color;
	}
}
