.man-page {
  p {
    em {
      color: $fixed-width-font-color;
      font-family: $fixed-width-font-family !important;
      font-weight: bold;
      font-style: normal;
    }
    tt {
      @extend code;
      display: inline;
      padding: 1px;
    }
  }

  p.nutshell {
    background-color: #e8e7dd;
    padding: 1em;
  }

  .literalblock {
    .content pre tt {
      background-color: #eee0b5;
      padding: 2px;
      font-family: $fixed-width-font-family !important;
      display: block;
    }
    margin-bottom: 15px;
  }

  dt.hdlist1 {
    font-family: $fixed-width-font-family !important;
  }

  // Man pages
  div.verseblock {
    pre.content {
      background-color: #e8e7dd;
      padding: 1em;
      margin-bottom: 1em;
      white-space: pre;
      color: $fixed-width-font-color;
      font-family: $fixed-width-font-family !important;
      line-height: $fixed-width-line-height;
      white-space: pre-wrap;       /* css-3 */
      white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
      em {
        font-weight: bold;
        font-style: normal;
      }
    }
  }

  .listingblock {
    .content {
      @extend code;
    }
  }

  .quoteblock {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 5px solid $base-border-color;
    .content {
      .paragraph p {
        color: $light-font-color;
      }
    }
  }

  .admonitionblock {
    table {
      margin-bottom: 1em;
      td {
        padding: 0 1em;
        .title {
          font-weight: bold;
          color: $orange;
        }
        &:first-child {
          border-right: solid 2px $base-border-color;
        }
      }
    }
  }
  #footer {
    color: $light-font-color;
  }
}
