#reference-version {
  @extend .unstyled;
  position: relative;
  background-color: #ebe9e1;
  background-color: rgba(223, 221, 213, .33);
  @include border-radius(3px);
  padding: 8px 12px 6px 12px;
  margin-bottom: 10px; 
  font-size: 13px;
  font-weight: bold;
  .light {
    font-weight: normal;
  }
  a {
    font-weight: bold;
    position: relative;
    top: -5px;   
    &#reference-versions-trigger {
      float: left;
      margin-right: 6px;
    }
    &#reference-topics-trigger {
      float: right;
    }
  }
  .dropdown-panel {
    top: 33px;
  }
}

#previous-versions-dropdown {
  padding-top: 6px;
  width: 330px;
  header {
    padding: 0 12px;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
  }
  footer {
    margin-top: 0;
    padding: 4px 12px;
    background-color: #eae9e0;
    font-weight: normal;
    font-size: 11px;
    color: $font-color;
    @include border-bottom-left-radius(3px);
    @include border-bottom-right-radius(3px);
    input {
      font-size: 11px;
      border: solid 1px #e2e0d8;
      background-color: #f0efe8; 
      color: $font-color;
      width: 70px;
      @include border-radius(1px);
      padding: 1px 3px;
    }
  }
}

#topics-dropdown {
  right: 12px;
  padding: 12px;
  width: 650px;
  font-weight: normal;
  line-height: 1;
  ul {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  li {
    line-height: $base-line-height * .8;
    padding-left: 23px;
  }
  h3 {
    font-size: 13px;
    min-height: 20px;
    padding-top: 4px;
    margin-bottom: 8px;
    line-height: 15px;
    padding-left: 23px;
  }
  a {
    font-weight: normal;
    padding: 0;
  }
  .three-column {
    @include clearfix;
    .column-left {
      width: 31%;
      float: left;
      padding-right: 3%
    }
    .column-middle {
      width: 31%;
      float: left;
      padding-right: 3%
    }
    .column-right {
      width: 31%;
      float: left;
    }
  }
}

ol.reference-previous-versions {
  @extend .unstyled;
  margin-top: 3px;
  margin-bottom: 0;
  border-top: dotted 1px #e3e3e1;
  li {
    a {
      @include clearfix;
      top: 0 ! important;
      display: block;
      padding: 2px 12px;
      border-bottom: dotted 1px #e3e3e1;
      &:hover {
        background-color: #edf7f8;
      }
      &.more {
        font-size: 11px;
      }
      span.version {
        float: left;
        min-width: 40px;
      }
      span.diff {
        padding-left: 12px;
        padding-right: 16px;
        img {
          @include inline-block;
          margin-right: -1px;
        }
      }
      em.date {
        float: right;
        margin-right: 150px;
        font-size: 11px;
        color: $light-font-color;
        font-weight: normal;
        font-style: normal;
      }
      &.more {
        border-bottom: none; 
      }
    }
    &.no-change {
      @include clearfix;
      position: absolute;
      right: 0px;
      margin-top: -6px;
      width: auto;
      z-index: 10;
      padding: 0;
      font-weight: normal;
      font-size: 11px;
      line-height: 1.2;
      color: $light-font-color;
      text-align: center;
      span {
        float: left;
        @include inline-block;
        @include border-top-left-radius(10px);
        @include border-bottom-left-radius(10px);
        font-size: 10px;
        font-style: italic;
        background-color: #f5f5f3;
        padding: 0 5px;
      }
    }
  }
}

.callout.quickref {
  background: $callout-color url(/images/icons/document.png) 14px 7px no-repeat;
  padding-left: 36px ! important;
  a {
    font-weight: bold;
  }
}

.callout.ref-manual {
  background: $callout-color url(/images/icons/book.png) 24px 20px no-repeat;
  padding: 20px 30px 20px 100px !important;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
    line-height: 1.3em;
  }
}

p.quickref {
  background: transparent url(/images/icons/document.png) 0 0 no-repeat;
  padding-left: 22px ! important;
  margin-top: -0.4em;
  margin-bottom: 1em;
  a {
    font-weight: bold;
  }
}
