#reference-version {
  @extend .unstyled;
  position: relative;
  background-color: #ebe9e1;
  background-color: rgba(223, 221, 213, .33);
  @include border-radius(3px);
  padding: 8px 12px 6px 12px;
  margin-bottom: 10px; 
  font-size: 13px;
  font-weight: bold;
  .light {
    font-weight: normal;
  }
  a {
    font-weight: bold;
    position: relative;
    top: -5px;   
    &#reference-versions-trigger {
      float: left;
      margin-right: 6px;
    }
    &#reference-topics-trigger {
      float: right;
    }
  }
  .dropdown-panel {
    top: 33px;
  }
}

#previous-versions-dropdown {
  padding-top: 6px;
  footer {
    margin-top: 0;
    padding: 4px 12px;
    background-color: #eae9e0;
    font-weight: normal;
    font-size: 11px;
    color: $font-color;
    input {
      font-size: 11px;
      border: solid 1px #e2e0d8;
      background-color: #f0efe8; 
      color: $font-color;
      width: 70px;
      @include border-radius(1px);
      padding: 1px 3px;
    }
  }
}

#topics-dropdown {
  right: 12px;
  padding: 12px;
  width: 650px;
  font-weight: normal;
  line-height: 1;
  ul {
    margin-bottom: 0;
  }
  li {
    line-height: $base-line-height * .8;
  }
  h3 {
    font-size: 13px;
  }
  a {
    font-weight: normal;
    padding: 0;
  }
  .three-column {
    @include clearfix;
    .column-left {
      width: 31%;
      float: left;
      padding-right: 3%
    }
    .column-middle {
      width: 31%;
      float: left;
      padding-right: 3%
    }
    .column-right {
      width: 31%;
      float: left;
    }
  }
}

ol.reference-previous-versions {
  @extend .unstyled;
  margin-bottom: 0;
  li {
    a {
      @include clearfix;
      display: block;
      padding: 2px 12px;
      &:hover {
        background-color: #edf7f8;
      }
      &.more {
        font-size: 11px;
      }
      span.version {
        float: left;
        min-width: 40px;
      }
      span.changes {
        padding-left: 18px;
        padding-right: 16px;
        font-size: 11px;  
        font-weight: normal;
        color: $font-color;
        float: left;
        &.yes {
          background: transparent url(/images/icons/change-yes.png) 10px 8px no-repeat;
        }
        &.no {
          background: transparent url(/images/icons/change-no.png) 10px 8px no-repeat;
          color: $light-font-color;
        }
      }
      em.date {
        float: right;
        font-size: 11px;
        color: $light-font-color;
        font-weight: normal;
      }
    }
  }
}

.callout.quickref {
  background: $callout-color url(/images/icons/document.png) 14px 7px no-repeat;
  padding-left: 36px ! important;
  a {
    font-weight: bold;
  }
}

.callout.ref-manual {
  background: $callout-color url(/images/icons/book.png) 24px 20px no-repeat;
  padding: 20px 30px 20px 100px !important;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
    line-height: 1.3em;
  }
}

p.quickref {
  background: transparent url(/images/icons/document.png) 0 0 no-repeat;
  padding-left: 22px ! important;
  margin-top: -0.4em;
  margin-bottom: 1em;
  a {
    font-weight: bold;
  }
}
