.topics h3, .topics ul li {
  padding-left: 23px;
}
h3.setup {
  @include background-image-2x('/images/icons/setup-sm', 17px, 17px, 0 50%);
}

h3.projects {
  @include background-image-2x('/images/icons/projects-sm', 17px, 13px, 0 50%);
}

h3.snapshotting {
  @include background-image-2x('/images/icons/camera-sm', 17px, 12px, 0 50%);
}

h3.branching {
  @include background-image-2x('/images/icons/branch-sm', 12px, 15px, 4px 50%);
}

h3.sharing {
  @include background-image-2x('/images/icons/sharing-sm', 14px, 14px, 2px 50%);
}

h3.inspection {
  @include background-image-2x('/images/icons/inspection-sm', 14px, 14px, 1px 50%);
}

h3.patching {
  @include background-image-2x('/images/icons/patching-sm', 18px, 11px, 1px 50%);
}

h3.debugging {
  @include background-image-2x('/images/icons/debugging-sm', 17px, 16px, 1px 50%);
}

h3.email {
  @include background-image-2x('/images/icons/email-sm', 17px, 12px, 1px 50%);
}

h3.external {
  @include background-image-2x('/images/icons/external-sm', 17px, 15px, 0 50%);
}

h3.admin {
  @include background-image-2x('/images/icons/admin-sm', 16px, 16px, 2px 50%);
}

h3.server-admin {
  @include background-image-2x('/images/icons/server-admin-sm', 15px, 15px, 2px 50%);
}

h3.plumbing {
  @include background-image-2x('/images/icons/plumbing-sm', 17px, 14px, 2px 50%);
}

// ยง section sign anchor links
#content {
  h1>a.anchor,h2>a.anchor,h3>a.anchor,dt.hdlist1>a.anchor {
    position: absolute;
    margin-left: -1.5em;
    text-align: center;
    display: block;
    visibility: hidden;
    width: 2em;
    font-weight: lighter
  }
  h1>a.anchor:before,h2>a.anchor:before,h3>a.anchor:before,dt.hdlist1>a.anchor:before {
    content:"\00A7";
    font-size:.9em;
    display:block
  }
  h1:hover>a.anchor,h2:hover>a.anchor,h3:hover>a.anchor,dt.hdlist1:hover>a.anchor {
    visibility:visible
  }
}

#reference-version {
  @extend .section-nav-container;
  a {
    top: -5px;
    &#reference-versions-trigger {
      float: left;
      margin-right: 6px;
    }
    &#reference-topics-trigger {
      float: right;
    }
  }
}

#previous-versions-dropdown {
  padding-top: 6px;
  width: 330px;
  header {
    padding: 0 12px;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
  }
  footer {
    margin-top: 0;
    padding: 4px 12px;
    background-color: #eae9e0;
    font-weight: normal;
    font-size: 11px;
    color: $font-color;
    @include border-bottom-left-radius(3px);
    @include border-bottom-right-radius(3px);
    input {
      font-size: 11px;
      border: solid 1px #e2e0d8;
      background-color: #f0efe8;
      color: $font-color;
      width: 70px;
      @include border-radius(1px);
      padding: 1px 3px;
    }
  }
}

.windows.chrome #previous-versions-dropdown,
.windows.ie8 #previous-versions-dropdown {
  width: 370px;
}

#topics-dropdown {
  right: 12px;
  padding: 12px;
  width: 650px;
  font-weight: normal;
  line-height: 1;
  ul {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  li {
    line-height: $base-line-height * .8;
    padding-left: 23px;
  }
  h3 {
    font-size: 13px;
    min-height: 20px;
    padding-top: 4px;
    margin-bottom: 8px;
    line-height: 15px;
    padding-left: 23px;
  }
  a {
    font-weight: normal;
    padding: 0;
  }
}

ol.reference-previous-versions {
  @extend .unstyled;
  margin-top: 3px;
  margin-bottom: 0;
  border-top: dotted 1px #e3e3e1;
  li {
    a {
      @include clearfix;
      top: 0 ! important;
      display: block;
      padding: 2px 12px;
      border-bottom: dotted 1px #e3e3e1;
      &:hover {
        background-color: #edf7f8;
      }
      &.more {
        font-size: 11px;
      }
      span.version {
        float: left;
        min-width: 40px;
      }
      span.diff {
        padding-left: 12px;
        padding-right: 16px;
        img {
          display: inline-block;
          margin-right: -1px;
        }
      }
      em.date {
        float: right;
        margin-right: 150px;
        font-size: 11px;
        color: $light-font-color;
        font-weight: normal;
        font-style: normal;
      }
      &.more {
        border-bottom: none;
      }
    }
    &.no-change {
      @include clearfix;
      position: absolute;
      right: 0px;
      margin-top: -6px;
      width: auto;
      z-index: 10;
      padding: 0;
      font-weight: normal;
      font-size: 11px;
      line-height: 1.2;
      color: $light-font-color;
      text-align: center;
      span {
        float: left;
        display: inline-block;
        @include border-top-left-radius(10px);
        @include border-bottom-left-radius(10px);
        font-size: 10px;
        font-style: italic;
        background-color: #f5f5f3;
        padding: 0 5px;
      }
    }
  }
}

.callout.quickref {
  @include background-image-2x('/images/icons/document', 15px, 21px, 14px 7px);
  padding-left: 36px ! important;
  a {
    font-weight: bold;
  }
}

.callout.ref-manual {
  @include background-image-2x('/images/icons/book', 54px, 72px, 24px 20px);
  background-color: $callout-color;
  padding: 20px 30px 20px 100px !important;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
    line-height: 1.3em;
  }
}

p.quickref {
  @include background-image-2x('/images/icons/document', 15px, 21px, 0 0);
  padding-left: 22px ! important;
  margin-top: -0.4em;
  margin-bottom: 1em;
  a {
    font-weight: bold;
  }
}

.reference-menu {
  h3 {
    padding-left: 26px;
  }
  ul {
    padding-left: 28px;
  }
}

#video-container {
  background-color: $callout-color;
  padding: 10px 10px 2px 10px;
  margin-bottom: 20px;
}
