@media (min-width: 768px) and (max-width: 979px) {
  header {
    a img { width: 90px; height: 37px; }

    #tagline {
      font-size: 18px;
      top: 8px;
      left: 100px;
      line-height: 18px;
    }

    form#search {
      top: 4px;
      width: 182px;
    }
  }

  .inner {
    width: 730px;
  }

  #masthead {
    height: auto;

    .inner {
      padding: 20px 0 1px;

      .illustration { display: none; }
      p { width: 730px; }
    }
  }

  #front-content {
    #front-navigation {
      width: 416px;

      ul li {
        width: 396px;
        margin: 0 20px 20px 0;
      }
    }

    #front-downloads {
    }
  }

  #front-book {
    width: 396px;
  }
}

@media (max-width: 767px) {
  header {
    a img { width: 60px; height: 25px; }

    #tagline {
      display: none;
    }

    form#search {
      top: -3px;
      width: 182px;
    }
  }

  .inner {
    width: 440px;
  }

  #masthead {
    height: auto;

    .inner {
      padding: 20px 0 1px;

      .illustration { display: none; }
      p {
        width: 440px;
        font-size: 15px;
      }
    }
  }

  #front-content {
    #front-navigation {
      width: 440px;
      border: 0;

      ul li {
        width: 440px;
        margin: 0 0 20px;
      }
    }

    #front-downloads {
      display: none;
    }
  }

  #front-book {
    width: 440px;
  }

  #companies-projects ul li {
    width: 54px;
    height: 32px;

    a.google,
    a.facebook,
    a.microsoft,
    a.twitter,
    a.linked-in,
    a.netflix,
    a.perl,
    a.postgresql,
    a.android,
    a.linux,
    a.rails,
    a.qt,
    a.gnome,
    a.eclipse,
    a.kde,
    a.x {
      background-size: 54px 32px;
      width: 54px;
      height: 32px;
    }
  }

  footer {
    .site-source, .sfc-member {
      float: left;
      width: 440px;
      padding: 0;
      background: none;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 480px) {
  header {
    a img { width: 60px; height: 25px; }

    #tagline {
      display: none;
    }

    form#search {
      top: -3px;
      width: 162px;
    }
  }

  .inner {
    width: 280px;
  }

  #masthead {
    height: auto;

    .inner {
      padding: 20px 0 1px;

      .illustration { display: none; }
      p {
        width: 280px;
        font-size: 15px;
      }
    }
  }

  #front-content {
    #front-navigation {
      width: 280px;
      border: 0;

      ul li {
        width: 280px;
        margin: 0 0 20px;
      }
    }

    #front-downloads {
      display: none;
    }
  }

  #front-book {
    width: 280px;

    p {
      margin-top: 0;
    }
  }

  #companies-projects ul li {
    width: 54px;
    height: 32px;

    a.google,
    a.facebook,
    a.microsoft,
    a.twitter,
    a.linked-in,
    a.netflix,
    a.perl,
    a.postgresql,
    a.android,
    a.linux,
    a.rails,
    a.qt,
    a.gnome,
    a.eclipse,
    a.kde,
    a.x {
      background-size: 54px 32px;
      width: 54px;
      height: 32px;
    }
  }

  footer {
    .site-source, .sfc-member {
      float: left;
      width: 280px;
      padding: 0;
      background: none;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
