#search-results {
  display: none;
  position: absolute;
  z-index: 900;
  top: 2px;
  right: -8px;
  width: 384px;
  background: #398a94 url(/images/bg/search-header.jpg) 0 1px repeat-x;
  @include border-radius(3px);
  @include box-shadow(0 0 7px rgba(0, 0, 0, 0.25));
  border-bottom: solid 1px $base-border-color;
  header {
    text-indent: -9999px;
    height: 44px;
    border: solid 1px #366769;
    padding: 0;
    margin: 0;
    @include border-top-right-radius(3px);
    @include border-top-left-radius(3px);
  }
  table {
    width: 100%;
    background-color: #fff;
    @include border-bottom-right-radius(3px);
    @include border-bottom-left-radius(3px);
    line-height: 1;
    td {
      border-top: solid 1px #cfddde;
    }
    td.category {
      font-size: 11px;
      vertical-align: top;
      text-align: right;
      width: 67px;
      padding: 10px 12px 0 0;
      color: $blue;
      opacity: 0.75;
      background-color: #f5fbfb;
      border-right: solid 1px #cfddde;
    }
    td.matches {
      font-size: 12px;
      font-weight: bold;
      padding: 0 ! important;
      a {
        display: block;
        color: $font-color;
        padding: 5px 12px;
        margin-bottom: 0;
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        transition-duration: 0s;
        span.metadata {
          line-height: 1;
          margin-top: -3px;
          margin-bottom: 3px;
          display: block;
          color: $light-font-color;
          font-weight: normal;
          font-size: 11px;
        }
        &:hover, &.highlight {
          color: #fff;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          background: #55bec4;
          background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #55bec4), color-stop(100%, #54b2b7));
          background-image: -webkit-linear-gradient(#55bec4, #54b2b7);
          background-image: -moz-linear-gradient(#55bec4, #54b2b7);
          background-image: linear-gradient(#55bec4, #54b2b7);
          span {
            color: #fff;
          }
        }
      }
    }
    ul {
      @extend .unstyled;
      margin-bottom: 0;
    }
    tr.show-all td {
      border-top: none;
    }

  }
}

ol.full-search-results {
  @extend .unstyled;
  li {
    margin-bottom: 2em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h3 {
    line-height: 1.4;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  span.relevancy {
    float: right;
    padding-left: 5px;
    margin-left: 30px;
    img {
      position: relative;
      top: -2px;
    }
  }
  a.url {
    display: block;
    font-size: 12px;
    color: $light-font-color;
    margin-bottom: 0.4em;
    &:hover {
      color: darken($light-font-color, 25%);
    }
  }
}

.callout.top-matches {
  padding-top: 1em ! important;
  margin-bottom: 2em ! important;
}
