.site-sidebar {
  font-size: 13px !important;
  line-height: $base-line-height * 0.75;

  p {
    font-size: 13px !important;
    line-height: $base-line-height * 0.75;
  }

  hr {
    border-top: solid 1px $base-border-color;
    margin-bottom: 2em;
  }

  .callout {
    border-radius: 3px;
    padding: 20px;
    color: lighten($font-color, 20%);
    background-color: #ebe9e1;

    p {
      margin-bottom: 0;
    }
  }
}
