span.shtitle {
  border-radius: 50px;
  background-color: #eee0b5;
  @include inline-block;
  font-size: 10px;
  font-weight: bold;
  width: 40px;
  height: 32px;
  text-align: center;
  position: relative;
  top: -15px;
  right: -15px;
  float: right;
  padding-top: 8px;
}
pre.sh_sourceCode {
  @include border-radius(3px);
  display: block;
  padding: 15px;
  margin-bottom: 1em;
  background-color: #fff;
  border: solid 1px #efeee6;
  font-size: 13px;
  font-family: $fixed-width-font-family !important;
  line-height: $fixed-width-line-height;
}

pre.sh_sourceCode .sh_keyword {
  color: $font-color;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_type {
  color: $font-color;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_string {
  color: #008800;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_regexp {
  color: #008800;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_specialchar {
  color: #008800;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_comment {
  color: $light-font-color;
  font-weight: normal;
  font-style: italic;
}

pre.sh_sourceCode .sh_number {
  color: $orange;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_preproc {
  color: #470000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_function {
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_url {
  color: #008800;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_date {
  color: $font-color;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_time {
  color: $font-color;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_file {
  color: $font-color;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_ip {
  color: #008800;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_name {
  color: #008800;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_variable {
  color: $font-color;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_oldfile {
  color: #008800;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_newfile {
  color: #008800;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_difflines {
  color: $font-color;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_selector {
  color: $font-color;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_property {
  color: $font-color;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_value {
  color: #008800;
  font-weight: normal;
  font-style: normal;
}
