@import "compass";
@include global-reset;

@import "variables.css.scss";
@import "typography.css.scss";

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  color: $font-color; 
  background: #f0efe7 url(/images/bg/body.jpg);
}

// windows chrome makes a mess of Adelle web font
.windows.chrome body *,
.windows.ie8 body * {
  font-family: $base-font-family-fallback ! important;
}

#wrapper {
  @include clearfix;
  margin: 0 auto;
  width: 940px;
}

header {
  margin: 20px 0;
}

#main {
  float: left;
  width: 588px;
}

#sidebar {
  float: right;
  width: 300px;
}

section#contribute {
  background-color: $callout-color;
  @include border-radius(3px);  
  padding: 8px 20px 1px 20px;
  margin-bottom: 1.4em;
  h2 {
    margin-top: 0;
  }
}

p {
  font-size: 18px;
  color: lighten(#4e443c, 10%);
  margin-bottom: 30px;
}

nav ul {
  @extend .unstyled;
  margin-bottom: 2em;
  li {
    font-size: 16px;
    font-weight: bold;
    height: 28px;
    margin-bottom: 1.2em;
  }
  a {
    display: block;
    padding-left: 36px;
    line-height: 34px;
    height: 28px;
    &.wiki {
      background: transparent url(/images/windows/icon-wiki.png) 0 50% no-repeat;
    }
    &.source-code {
      background: transparent url(/images/windows/icon-repo.png) 0 50% no-repeat;
    }
    &.previous-releases {
      background: transparent url(/images/windows/icon-previous-releases.png) 0 50% no-repeat;
    }
    &.mailing-list {
      background: transparent url(/images/windows/icon-mail.png) 0 50% no-repeat;
    }
    &.faqs {
      background: transparent url(/images/windows/icon-faqs.png) 0 50% no-repeat;
    }
  }
}

a.button {
  display: block;
  margin-top: 10px;
  border-top: solid 1px #085e64;
  border-left: solid 1px #1f6367;
  border-right: solid 1px #1f6367;
  border-bottom: solid 1px #134143;
  color: #fff;
  font-size: 16px; 
  width: 238px;
  padding: 14px 0 14px 50px;
  position: relative;
  @include border-radius(2px);
  @include background-image(linear-gradient(#1c868c, #186368));
  @include box-shadow(0 1px 2px #999);
  @include transition-property(background-image);
  @include transition-duration(.30s);
  &:hover {
    @include background-image(linear-gradient(darken(#1c868c, 2%), darken(#186368, 2%)));
  }
  img {
    position: absolute;
    top: 12px;
    left: 12px;
  }
  h3 {
    color: #fff;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 6px;
    @include text-shadow(0 -1px 0 #1b001a);
  }
  p {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 0;
    color: #59d6de;
    em {
      color: #fff;
      font-style: normal;
    }
  }
}
