- @section = "contributors"
- @subsection = ""
- @page_title = "Git - Contributors"

- content_for :sidebar do
  = render 'shared/book'

%div#main
  %h1 Contributors

  %p
    While the Git project was initially started by Linus Torvalds, the
    current software is the result of an effort by over a thousand
    individual contributors. The project is currently maintained by
    Junio C Hamano.

  %p
    These are the most frequent contributors to git as of Git
    = succeed ':' do
      %span.version= latest_version

    %table#contributors
      %tbody
        - Author.find(:all, :order => "commit_count desc", :limit => 48).in_groups_of(3).each do |group|
          %tr
            - group.each do |a|
              %td= a.name

  %p
    You can join their hallowed ranks by contributing to
    %a{:href => '/community'}
      Git
    yourself.
