{{ $guis := sort $.Site.Data.guis "order" }}
{{ range $gui := $guis }}
<li class="{{ lower (delimit $gui.platforms " ") }}">
  <a href="{{ $gui.project_url }}">
    <img src="{{ relURL $gui.image_tag }}" width="294" height="166">
  </a>
  <h4>
    <a href="{{ $gui.project_url }}">{{ $gui.name }}</a>
  </h4>
  <p class="description">
    <strong>Platforms:</strong> {{ delimit (sort $gui.platforms) ", " }}</br>
    <strong>Price:</strong> {{ $gui.price }}</br>
    <strong>License:</strong> {{ $gui.license }}
  </p>
</li>
{{ end }}

