<section id="companies-projects">
  <ul>
    {{ $m := slice
    (dict "name" "gitlab" "url" "https://gitlab.com")
    (dict "name" "github" "url" "https://github.com")
    (dict "name" "forgejo" "url" "https://forgejo.org")
    (dict "name" "codeberg" "url" "https://codeberg.org")
    (dict "name" "sourcehut" "url" "https://sourcehut.org")
    (dict "name" "gitea" "url" "https://gitea.com")
    (dict "name" "tangled" "url" "https://tangled.org")
    (dict "name" "radicle" "url" "https://radicle.xyz")
    (dict "name" "gerrit" "url" "https://www.gerritcodereview.com")
    (dict "name" "azure-repos" "url" "https://azure.microsoft.com/en-us/products/devops/repos/")
    }}
    {{ range shuffle $m }}
    <li><a href="{{ .url }}">{{ partial "company-svg" (printf "company-project-logos/%s" .name) }}</a></li>
    {{ end }}
  </ul>
  <script type="text/javascript">
    document.getElementById("companies-projects").style.setProperty("--seed", Math.floor(Math.random() * 1000));
  </script>
</section>