{{ $videos := sort (where .Site.RegularPages "Params.episode" "ne" nil) "Params.episode"  }}
{{ $img_suffix := "" }}
{{ $dimensions := "" }}
{{ if .IsNamedParams }}
{{ $img_suffix = .Get "img_suffix" }}
{{ $dimensions = .Get "dimensions" }}
{{ end }}

<div class="video-grid">
  <ul class="video-thumbnails">
    {{ range $video := $videos }}
    <li>
      <a href="{{ relURL "video" }}/{{ $video.Params.link }}" class="video-card">
        <img src="{{ relURL "images/video" }}/ep{{ print $video.Params.episode $img_suffix }}.png" {{ $dimensions }}>
        <h4>
          <span>{{ $video.Params.video_title }}</span>
        </h4>
        <p class="description">
          <strong>Length:</strong> {{ $video.Params.length }}
        </p>
      </a>
    </li>
    {{ end }}
  </ul>
</div>
