<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <link href="errors.css"
    <%= stylesheet_link_tag "errors" %>
    <%= javascript_include_tag "selectivizr-min" %>
    <%= javascript_tag do %>
      try{Typekit.load();}catch(e){}
    <% end %>
  </head>
  <body>
    <div class="inner">
      <%= yield %>
    </div>
  </body>
</html>