<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49925874-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-49925874-3');
    </script>

    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <link href="errors.css"
    <%= stylesheet_link_tag "errors" %>
    <%= javascript_include_tag "selectivizr-min" %>
  </head>
  <body>
    <div class="inner">
      <%= yield %>
    </div>
  </body>
</html>
