!!! 5
%html{:lang => "en"}
  %head
    %title libgit2
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    = stylesheet_link_tag "libgit2.css"
    /[if (gte IE 6)&(lte IE 8)]
      %script{:src => "/javascripts/selectivizr-min.js", :type => "text/javascript"}
    = javascript_include_tag "http://use.typekit.com/jsq2fql.js"
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    %div#wrapper
      =yield
      = partial 'shared/footer'
