<%= render "shared/head" %>

<div class="container">
  <%= render "shared/header" %>
  <div class="row">
    <div class="span3">
      <%= render "shared/sidebar" %>
    </div>
    <div class="span9">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
